[2019-01-03 22:20] ritazh opened #1 "Support pod identity"

[2019-01-03 22:21] ritazh opened #2 "CI"
- [x] run unit test
- [ ] run e2e test
- [x] update doc
- [x] badge

[2019-01-03 22:24] ritazh opened #3 "Validation for required properties"

[2019-01-03 22:43] ritazh opened #4 "helm chart"

[2019-01-03 22:55] ritazh opened #5 "Redact secrets"

[2019-01-03 23:54] ritazh opened #6 "read-only file system"

[2019-01-05 02:01] ritazh opened #8 "Add feature-gate in aks-engine and AKS"

[2019-01-06 06:57] #3 closed

[2019-01-09 01:14] ritazh commented on #4
Closed via #11

[2019-01-09 01:14] #4 closed

[2019-01-09 07:10] ritazh opened #13 "pod targetPath is not getting deleted"
Looks like `NodeUnpublishVolume` is not being called when targetPath is not mounted properly.

[2019-01-10 01:47] #13 closed

[2019-01-23 21:55] ritazh opened #20 "Use inline CSI Volume"
https://github.com/kubernetes/kubernetes/issues/64984
https://github.com/kubernetes/kubernetes/pull/67945
https://github.com/kubernetes/enhancements/pull/716

[2019-02-26 21:49] phillipgibson opened #22 "Deployment - Unable to mount volumes for csi secrets store driver pods"
Just build a new AKS cluster (1.12.5) and when initially deploying the helm chart none of the secret store pods in the dev namespace are able to run do to a volume not being mounted.

Warning  FailedMount  1m                kubelet, aks-nodepool1-26873499-2  Unable to mount volumes for pod "csi-secrets-store-secrets-store-csi-driver-bg2wf_dev(385cb061-3a0f-11e9-8715-4e92e05d98d9)": timeout expired

[2019-02-26 22:25] ritazh commented on #22
@phillipgibson We are leveraging the v1.0.0 CSI spec, which requires Kubernetes v1.13.0+.

[2019-02-27 16:28] #22 closed

[2019-04-02 02:40] anubhavmishra opened #24 "Document HashiCorp Vault provider"
Need to document HashiCorp Vault provider in detail.

[2019-04-17 19:14] ritazh opened #25 "tracking which secrets are in use by which pods"
Provide commands the user could use for observability

[2019-05-10 20:17] #1 closed

[2019-05-16 01:10] ritazh commented on #20
closed via #27

[2019-05-16 01:10] #20 closed

[2019-05-20 20:44] anubhavmishra opened #33 "Parameterize Helm chart to use HashiCorp Vault"

[2019-05-20 20:53] ritazh opened #34 "release official image"

[2019-05-24 06:34] DonMartin76 opened #36 "Optionally just temporarily mount secrets (or make them deletable)?"
As really briefly outlined at KubeCon: It would be super awesome if it would be possible to just have the secrets mounted to the pod for a very limited amount of time, just enough to pick them up and store them in memory.

The **use case** for this would typically be things like database credentials - the pod starts, picks up the credential, and then it wouldn't need it anymore. It feels (almost)

[2019-06-27 17:06] #5 closed

[2019-07-04 19:47] ritazh opened #40 "Update apiversion after deprecation"
Update from `csi.storage.k8s.io/v1alpha1` to `storage.k8s.io/v1beta1` when old apiversion is no longer supported as per #38

[2019-07-09 14:42] andyzhangx opened #41 "add sanity test"
I would strongly recommend enable sanity test for CSI driver, it will help you find lots of issues in driver implementation, e.g. in create volume scenario, it has cases like 1) create a volume with existing name but with different capacity 2) create a volume with existing name and same capacity

Here is the example how sanity test is enabled in azure file driver:
https://github.com/kubernetes-sig

[2019-07-30 22:50] saad-ali opened #42 "Ensure "Pod Portability" while using secrets-store-csi-driver"
tldr: One suggestion for improvement: ensure "pod portability" across clusters while using this driver.

**Problem**

This driver asks users to specify the secret provider inline in pod definition. For example:

[code]

The problem with that is, if you use this pod definition and decide to move your pod to a non-azure cluster, you'll have to update your pod.

**Background**

In general, workload (

[2019-07-31 02:34] ritazh commented on #42
Thanks for the feedback @saad-ali. To ensure "pod portability", do you recommend creating a custom resource of type `SecretProviderClass` over creating PV/PVCs? Users currently can reference a PVC in the pod definition https://github.com/deislabs/secrets-store-csi-driver/blob/master/deploy/example/nginx-pod-secrets-store.yaml#L16 and define csi driver properties in the PV definition: https://githu

[2019-08-01 02:21] saad-ali commented on #42
PV/PVC definitely achieves pod portability. But it's a clunky interface. User has to create a PV object (which is non-namespaced) and many clusters restrict access to non-namespaced to admins only.

[2019-08-01 15:52] ritazh commented on #42
Thanks! will work on this soon!

[2019-08-01 19:00] ritazh opened #44 "Add e2e test"

[2019-08-05 16:16] aramase opened #46 "Enable sanity tests as part of CI"

[2019-08-05 16:44] #41 closed

[2019-08-08 10:51] ryysud opened #49 "The Secrets Store CSI Driver installation fails on minikube"
I tried to run "HashiCorp Vault Provider for Secret Store CSI Driver" on minikube according to [the guide](https://github.com/deislabs/secrets-store-csi-driver/tree/master/pkg/providers/vault).

### 1. Start kubernetes cluster (v1.15.2) using minikube.

[code]

Versions of minikube and docker are below.

[code]

### 2. Set up a vault cluster

I created a development HashiCorp Vault cluster in Kube

[2019-08-09 07:26] ryysud commented on #49
I tried to resolve it with the following changes, but it failed as well.

- Changed `csi-attacher` and `driver-registrar` images because I thought the current image might be used when deploying to GKE.
  - Use [kubernetes-csi/external-attacher](https://github.com/kubernetes-csi/external-attacher) as csi-attacher
  - Use [kubernetes-csi/node-driver-registrar](https://github.com/kubernetes-csi/node-

[2019-08-09 07:41] ryysud commented on #49
This issue seems to be related to https://github.com/kubernetes/minikube/issues/4072 .

[2019-08-09 15:33] ritazh commented on #49
Thank you for reporting this issue and the investigation. We will look into this as well.

[2019-08-13 18:31] #46 closed

[2019-08-22 07:58] ryysud opened #52 "Support TLS Certificates Auth Method in HashiCorp Vault Provider"
Currently, Only [Kubernetes Auth Method](https://www.vaultproject.io/docs/auth/kubernetes.html) is supported as a method to authenticate to Vault from HashiCorp Vault Provider, but what do you think about supporting [TLS Certificates Auth Method](https://www.vaultproject.io/docs/auth/cert.html) in addition?

I think that it is good specification ( I am currently investigating how to implement it a

[2019-08-22 19:33] sudharsan89 opened #53 "The client secret used to fetch secrets from the key vault it logged in kubectl logs"
# Issue:
After I go through the steps required to setup the secret-store-csi-driver, I see that we log the client secret used to talk to the keyvault is logged.
Provider Used: Azure Keyvault Porvider
This could cause compliance issues since it is common to hookup these logs with external log analytic tools like OMS on azure. It is a way for the secret to go out of the kubernetes cluster.

# Steps

[2019-08-27 09:06] sudharsan89 opened #55 "Feature Request: Regex based on Tag Based KV Objects Fetch"
This is a suggestion for a feature. Within a cluster, there would be different services deployed in different pods that might make use of the different secrets/keys/certs within a pod. It would be great if the resources can be fetched based on a regex or tags(in the case of azure).
For e.g. Pod A needs secret1, secret2 and Pod B needs Secret2, Secret3.
Secret 1 has tag (Key: Pod, Value: Pod A)
Sec

[2019-08-27 09:14] sudharsan89 opened #56 "Feature Request: Include an optional file name"
This is a suggestion for a new feature. In addition to specifying the objectType and objectName, it would be good to include something like a outputFileName. There are times when a service needs different secrets for.e.g based on the region/environment although these are present in the same keyvault. If we support the outputFileName, the underlying service can still be agnostic of this.

For e.g L

[2019-08-27 16:42] ritazh opened #57 "helm delete should clean up all CRDs"

[2019-08-28 17:51] james-atwill-hs opened #59 "HashiCorp Vault Provider needs to identify to Vault as the pod it is servicing."
The introduction of Vault ( https://github.com/deislabs/secrets-store-csi-driver/pull/23 ) uses the permissions associated inside where the driver is running to authenticate to Vault (and therefore will likely have a superset of policies to serve up secrets).

Currently pods use ServiceAccounts as identity. Vault will consume the serialized form of the ServiceAccount for authentication. This makes

[2019-08-29 02:07] ritazh opened #60 "Make SecretProviderClass Namespaced scoped"

[2019-08-30 01:08] #42 closed

[2019-08-30 01:34] ritazh opened #61 "Handle case sensitive secretProviderClass"

[2019-08-30 01:38] ritazh opened #62 "[Vault] Better error handling for bad vaultAddress"
- [ ] Should not end in runtime panic when URL is bad
- [ ] Handle `first path segment in URL cannot contain colon` for URL starting with IP
- [ ] When endpoint is not correct, should return error to user, do not mount

[2019-08-30 19:20] ritazh opened #63 "Remove deprecated things"
- [ ] use `node-driver-registrar`

[2019-08-30 23:25] sozercan opened #64 "fix licenses"
there are mentions of apache license in the repo (while repo is MIT license)

[2019-09-01 00:20] anubhavmishra commented on #59
@james-atwill-hs Thanks for creating the issue!

[2019-09-01 00:42] #62 closed

[2019-09-04 09:46] ryysud commented on #52
@anubhavmishra After adding a parameter such as `vaultCertPath`, Secrets Store CSI Driver authenticates to Vault with TLS Cert Auth Method using the certificate (mounted in the container) specified by that parameter. How about this specification? If you think that looks good, I’ll create a PR.

[code]

[2019-09-04 15:52] #61 closed

[2019-09-04 18:15] ritazh commented on #34
Closed via #69

[2019-09-04 18:15] #34 closed

[2019-09-04 20:52] #2 closed

[2019-09-04 20:56] #44 closed

[2019-09-04 22:47] #57 closed

[2019-09-05 00:16] sozercan opened #75 "Vault provider instructions"
- deployment yamls and instructions for v1.13 and v1.15 seems to be almost identical from what i can tell
https://github.com/deislabs/secrets-store-csi-driver/tree/master/pkg/providers/vault#install-the-secrets-store-csi-driver-kubernetes-version-113x
https://github.com/deislabs/secrets-store-csi-driver/tree/master/pkg/providers/vault#install-the-secrets-store-csi-driver-kubernetes-version-115x
Sh

[2019-09-05 00:19] ritazh commented on #75
Working on a PR for this

[2019-09-05 17:30] #75 closed

[2019-09-06 16:35] #63 closed

[2019-09-06 22:08] #53 closed

[2019-09-13 23:19] aramase opened #80 "[Azure Provider] Set cloud name"
Ability to set cloud name to enable azure provider to work in Sovereign cloud.

[2019-09-13 23:20] sudharsan89 commented on #80
Thanks!

[2019-09-23 23:36] ritazh commented on #33
cc @malnick

[2019-09-24 18:29] ritazh opened #83 "[Azure provider] Remove key vault read requirement"
Ref: https://github.com/Azure/kubernetes-keyvault-flexvol/pull/128

[2019-09-25 22:13] aramase opened #84 "Update flag `permission` to `filemode`"
- [ ] secrets-store-csi-driver
- [ ] secrets-store-csi-driver-provider-azure
- [ ] secrets-store-csi-driver-provider-vault

[2019-10-02 01:21] #80 closed

[2019-10-08 00:51] ritazh opened #86 "[Azure provider] update image repo for secrets-store-csi-driver-provider-azure"

[2019-10-16 20:33] carnei-ro opened #91 "Add "secret/data" to my "objectPath" HashiCorp Vault"
Just tried to run the example with CS In Line Volume, but my secret path in HashiCorp Vault is "sandbox/k8s_infra/marketplace/account/my-new-app/db"
I spected that driver requests the path "/sandbox/data/k8s_infra/marketplace/account/my-new-app/db" instead its try to request "secret/data/sandbox/k8s_infra/marketplace/account/my-new-app/db".

Here my pod spec:
[code]

[2019-10-16 21:20] ritazh commented on #91
Hi @carnei-ro thanks for reporting this issue. I think there's probably a hard coded value somewhere in the vault provider. Adding @malnick and @anubhavmishra

By the way we have moved all the provider-specific stuff out of tree. So this issue might be better tracked if you close this here and open it in https://github.com/hashicorp/secrets-store-csi-driver-provider-vault/issues

Hope this help!

[2019-10-21 22:10] mikedanese opened #92 "code review by sig-auth"
Starting as a running list as I review the code here for https://github.com/kubernetes/org/issues/1245.

[2019-10-21 22:11] mikedanese commented on #92
* adding csi driver capabilities is not threadsafe. [This](https://github.com/deislabs/secrets-store-csi-driver/blob/3047a16f3cd02466a4e8151d845cbf623dd4e2b3/pkg/csi-common/driver.go#L83) can race with multiple writers or if reading while a concurrent write is executing.
* log redaction of secrets is fragile. [This](https://github.com/deislabs/secrets-store-csi-driver/blob/3047a16f3cd02466a4e8151d

[2019-10-23 00:39] aramase commented on #92
We inherited this code from https://github.com/kubernetes-csi/drivers/blob/master/pkg/csi-common/driver.go

We'll look into this and see how we can make it better.

stylistic comment: Put all of controllerServer methods in the file where controllerServer is declared. Some of them are in utils.go, and controllerserver.go is short enough.

Sure, we'll make the change. Also just to add, the controlle

[2019-10-23 18:28] ritazh opened #93 "[code review] Update log redaction of secrets"
log redaction of secrets is fragile. [This](https://github.com/deislabs/secrets-store-csi-driver/blob/3047a16f3cd02466a4e8151d845cbf623dd4e2b3/pkg/csi-common/utils.go#L108-L131) is complex and is whitelist based.

part of #92

[2019-10-23 18:30] ritazh opened #94 "[code review] Controller server races"
Controller server races. [Read](https://github.com/deislabs/secrets-store-csi-driver/blob/3047a16f3cd02466a4e8151d845cbf623dd4e2b3/pkg/secrets-store/utils.go#L45) operations need to hold the lock that guards cs.vols.

[2019-10-23 18:31] ritazh commented on #94
Put all of controllerServer methods in the file where controllerServer is declared. Some of them are in utils.go, and controllerserver.go is short enough.

[2019-10-23 18:32] ritazh opened #95 "[code review] move init to handle"
move [init](https://github.com/deislabs/secrets-store-csi-driver/blob/51d64fcf33d62b84143f666ed8bc387011652de5/pkg/secrets-store-csi-driver/main.go#L28-L33) into [handle](https://github.com/deislabs/secrets-store-csi-driver/blob/3047a16f3cd02466a4e8151d845cbf623dd4e2b3/pkg/secrets-store-csi-driver/main.go#L52-L55). Does os.Exit(0) at the end of the main do anything? It looks like it should be remo

[2019-10-23 18:33] ritazh opened #96 "[code review] move packages to cmd"
move main packages out of pkg/ and into a cmd/ directory to designate that they are not shared packages.

[2019-10-23 18:40] ritazh opened #97 "[code review] update provider volume path as a flag"
make the provider volume path configurable using a flag instead of the env variable.

part of #92

[2019-10-23 18:46] ritazh commented on #95
cc @malnick

[2019-10-23 18:47] ritazh commented on #97
cc @malnick

[2019-10-25 16:03] #94 closed

[2019-10-25 16:04] #96 closed

[2019-10-30 00:11] msau42 opened #100 "[code review] csi improvements"
Assuming driver is only supported in 1.15+

Comments on helm chart:
* Remove crd-csi-driver-registry.yaml. This is the alpha CRD that was used in 1.13, but since 1.14, K8s is using the in-tree v1beta object: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#csidriver-v1beta1-storage-k8s-io
* Set `CSIDriver.AttachedRequired = false` in https://github.com/deislabs/secrets-store-cs

[2019-10-31 22:59] SamyCoenen opened #102 "Driver globally stuck when a single faulty spec for this csi driver is provided."
When creating 2 different persistent volumes for 2 different pods, if the first one contains an error, the driver will keep trying to get the secret out of Vault before handling the second volume/pod or any other.

In the logs I kept seeing the objectPath from an unrelated secret. You would expect the driver to get secrets in parallel or in a queue but it remains stuck on the first one even if it

[2019-11-01 17:49] ritazh commented on #93
let's redact all the k8s secrets

[2019-11-01 18:15] ritazh opened #104 "[code review] Remove dependencies not needed for v1.15+"
Comments on helm chart:
* Remove crd-csi-driver-registry.yaml. This is the alpha CRD that was used in 1.13, but since 1.14, K8s is using the in-tree v1beta object: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#csidriver-v1beta1-storage-k8s-io
* Set `CSIDriver.AttachedRequired = false` in https://github.com/deislabs/secrets-store-csi-driver/blob/master/charts/secrets-store-cs

[2019-11-01 18:17] ritazh opened #105 "[code review] Update mount logic"
Bind mounting "/tmp" to the targetPath seems odd

part of #100

[2019-11-01 18:19] ritazh opened #106 "[code review] idempotency of NodePublish/Unpublish"
* Double check idempotency of NodePublish/Unpublish. For example, if NodePublish gets called twice, and it's already correctly mounted, we should return success. Looking at the current code, it seems like we'll bind mount it twice? Which can potentially cause mounts to leak on cleanup.  Similarly, Unpublish should return success if it's already unpublished.
* Usage of IsLikelyNotMountPoint() also

[2019-11-01 18:20] ritazh opened #107 "[code review] validate readonly"
`NodePublishVolumeRequest.ReadOnly` should be validated.

part of #100

[2019-11-01 18:40] ritazh commented on #100
Thanks for the review @msau42!

providers only writes to the directory with data

yes, there's no sensitive information in the err msg

Not today. The content is only updated when the pod is recreated. Dynamic update of secrets is in the backlog to be implemented in the future.

[2019-11-01 22:37] #105 closed

[2019-11-01 23:44] aramase opened #110 "[code review] drop k8s.io/kuberentes dependency"
The repo is currently depending on k8s.io/kubernetes, which is not recommended or supported. That dependency is only used for mount utilities, which are being extracted to k8s.io/utils in https://github.com/kubernetes/utils/pull/100. That should be completed and the k8s.io/kubernetes dependency dropped.

[2019-11-01 23:49] ritazh opened #111 "Document load test results"
Figure out where the system fails at scale and attempt to address these issues

- [ ] Have load test results documented
 - Size of cluster
 - SKU
 - Number of secret provider class and pods

Use the data above for recommended resource limits

[2019-11-02 00:11] ritazh opened #112 "[code review] Update APIs to x-k8s.io"
currently defining a k8s.io-suffixed API, which would need to be renamed to x-k8s.io as it is not an official k8s.io API

[2019-11-02 00:12] ritazh opened #113 "[Doc] How to add a provider"

[2019-11-02 00:19] ritazh commented on #100
@msau42 Are you aware of any csi driver naming conventions? This driver is currently named: `secrets-store.csi.k8s.com`.  The hostpath one is: `hostpath.csi.k8s.io`.

[2019-11-02 00:20] #93 closed

[2019-11-04 17:10] ritazh opened #115 "Windows support"

[2019-11-05 01:46] malnick commented on #97
Starting working on this today: https://github.com/deislabs/secrets-store-csi-driver/compare/master...malnick:malnick/vol-path-cfg

[2019-11-05 02:02] ritazh opened #118 "Validate args before mount"

[2019-11-05 02:25] ritazh opened #119 "Add livenessprobe"

[2019-11-05 20:06] #107 closed

[2019-11-06 17:34] #118 closed

[2019-11-07 17:36] ritazh opened #123 "Check is mounted before calling unmount"
[code]

[2019-11-12 08:22] dmeytin opened #125 "Automatic secrets reloading upon update in the external secrets store"
There are many use-cases when secret/certificate is being updated in the KeyVault. The most prominent use-case is the rotation flow. Fortunately, KeyVault takes care of certificates and Azure Storage SAS rotations. When new secret/certificate has been created, the running pod will not start to utilize it till the restart. Only at restart the tmpfs will be created with renewed secrets.
In most case

[2019-11-12 08:23] dmeytin commented on #125
@ritazh

[2019-11-12 22:11] sudharsan89 commented on #125
This is very similar to t[his feature request](https://github.com/Azure/kubernetes-keyvault-flexvol/issues/146) for a similar project using KeyVault Flex Volume.  This would also help with the azure emergency certificate rotation initiative.

[2019-11-13 02:21] msau42 commented on #100
Once it gets moved to a kubernetes-sigs repo, then we can use the "k8s.io" domain

[2019-11-15 01:49] #97 closed

[2019-11-25 20:05] #86 closed

[2019-11-27 00:39] #110 closed

[2019-11-27 17:33] aramase opened #128 "Document provider onboarding"

[2019-11-27 17:53] ritazh opened #129 "Update driver name to k8s.io"
Once the repo is moved under kubernetes-sigs org, then we can move from `secrets-store.csi.k8s.com` to the "k8s.io" domain.

[2019-11-27 18:46] aramase commented on #95
Since we moved from `glog` to `logrus`, the `init` function has been removed - https://github.com/deislabs/secrets-store-csi-driver/pull/114/files#diff-00cf70fc0263609f2aca7b53967c2e0aL28-L34. So this issue is no longer required.

cc @malnick @ritazh

[2019-11-27 18:54] ritazh commented on #95
Closed via https://github.com/deislabs/secrets-store-csi-driver/pull/114

[2019-11-27 18:54] #95 closed

[2019-11-27 19:16] aramase commented on #128
Closing this as duplicate of #113

[2019-11-27 19:16] #128 closed

[2019-11-27 19:23] ritazh commented on #33
Closed via https://github.com/deislabs/secrets-store-csi-driver/pull/82

[2019-11-27 19:23] #33 closed

[2019-11-27 19:28] ritazh commented on #24
Closed in favor of https://github.com/hashicorp/secrets-store-csi-driver-provider-vault/issues/14

[2019-11-27 19:28] #24 closed

[2019-11-27 19:28] aramase commented on #83
Moved to https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/13

[2019-11-27 19:28] #83 closed

[2019-11-27 19:29] ritazh commented on #52
Closing in favor of https://github.com/hashicorp/secrets-store-csi-driver-provider-vault/issues/15

[2019-11-27 19:29] #52 closed

[2019-11-27 19:31] aramase opened #130 "Add version check between driver-provider"
Check the current provider versions, ensure that's compatible with the driver version.

[2019-11-27 19:33] ritazh commented on #59
Closing in favor of https://github.com/hashicorp/secrets-store-csi-driver-provider-vault/issues/16

[2019-11-27 19:33] #59 closed

[2019-11-27 19:35] aramase commented on #6
Closing with #7 and https://github.com/deislabs/secrets-store-csi-driver/pull/117

[2019-11-27 19:35] #6 closed

[2019-11-27 19:36] ritazh commented on #91
Closing in favor of https://github.com/hashicorp/secrets-store-csi-driver-provider-vault/issues/17

[2019-11-27 19:36] #91 closed

[2019-11-27 22:08] ritazh opened #132 "Add more ut for NodePublishVolume and NodeUnPublishVolume"
- [ ] increase test coverage for bad requests
- [ ] increase test coverage to check for diff returned error types
- [ ] increase test coverage to check for IsLikelyNotMountPoint

[2019-11-27 22:19] #123 closed

[2019-11-27 22:20] ritazh opened #133 "Update demo in readme"

[2019-11-27 22:21] aramase commented on #106
Closed with https://github.com/deislabs/secrets-store-csi-driver/pull/124

[2019-11-27 22:21] #106 closed

[2019-12-03 16:06] #112 closed

[2019-12-10 16:20] ritazh commented on #92
Closing as all issues have been addressed

[2019-12-10 16:20] #92 closed

[2019-12-10 16:21] ritazh commented on #100
Closing as all issues have been addressed

[2019-12-10 16:21] #100 closed

[2019-12-12 17:51] ritazh commented on #25
include this in docs and telemetry

[2019-12-12 17:56] ritazh commented on #40
Closed via #28

[2019-12-12 17:56] #40 closed

[2019-12-12 18:03] ritazh opened #139 "Metrics"

[2019-12-12 18:06] craiglpeters commented on #139
Using OpenTelemetry
- # publish/unpublish events (same as pods)
- # keys served
- provider used
- # errors (and types?)
- sinks for prometheus and Azure AppInsights
- off by default, except when using Azure KeyVault, send to AppInsights sink by default

[2019-12-16 18:37] mikedanese opened #141 "secrets-store.csi.k8s.com should be renamed to secrets-store.csi.x-k8s.io"

[2019-12-16 19:35] ritazh commented on #141
@mikedanese this was addressed in https://github.com/deislabs/secrets-store-csi-driver/pull/134
Do you see specific issues with the current implementation?

[2019-12-16 19:58] mikedanese commented on #141
I still see it in a few spots on master:

https://github.com/deislabs/secrets-store-csi-driver/blob/54d117b8907d37e5c1f022b49ca4044cbc63bf37/deploy/csidriver.yaml#L4

https://github.com/deislabs/secrets-store-csi-driver/blob/54d117b8907d37e5c1f022b49ca4044cbc63bf37/cmd/secrets-store-csi-driver/main.go#L29

Full list:

[code]

[2019-12-16 20:27] ritazh commented on #141
These are the csi driver name `secrets-store.csi.k8s.com`, which will be updated to `secrets-store.csi.k8s.io` https://github.com/deislabs/secrets-store-csi-driver/issues/129 per sig-storage review comment [here](https://github.com/deislabs/secrets-store-csi-driver/issues/100#issuecomment-553207654)

[2019-12-16 20:35] mikedanese commented on #141
Ah ok, thanks. Looks like this is covered by other bugs then.

[2019-12-16 20:35] #141 closed

[2019-12-16 21:02] ritazh commented on #141
Just to clarify, we cant update the name until after the repo move.

[2019-12-17 16:41] #130 closed

[2019-12-28 00:33] craiglpeters commented on #129
Shouldn't the title of this issue be "Update driver name to x-k8s.io"?

[2019-12-28 00:33] craiglpeters commented on #64
This seems to have been done a bit prematurely

[2019-12-28 02:28] ritazh commented on #129
no, one is the api “x-k8s.io” and one is the csi driver name “k8s.io”. They are two different things.

[2020-01-07 00:01] #119 closed

[2020-01-09 00:47] ritazh opened #144 "Add csi_secret"
to filter sensitive information from logs
https://kubernetes-csi.github.io/docs/secrets-and-credentials.html#handling-sensitive-information

[2020-01-09 00:48] ritazh opened #145 "Remove providers from chart"

[2020-01-13 18:32] ritazh opened #147 "Add categories"
So that `secretproviderclass` shows up in `kubectl get all`

[2020-01-13 22:51] #147 closed

[2020-01-28 00:54] ritazh commented on #145
Closed via #146

[2020-01-28 00:54] #145 closed

[2020-02-08 01:00] kinzleb opened #154 "Helm chart repository"
Could we use this github repo as a helm chart repository (similar to https://github.com/Azure/aad-pod-identity/tree/master/charts) and package a version of the chart?

The index.yaml and *.tgz could be kept here:  https://github.com/deislabs/secrets-store-csi-driver/tree/master/charts

I'm using the Terraform helm provider which requires a chart repository in order to work.

[2020-02-12 07:53] paulbouwer opened #155 "Support for Kubernetes 1.16 wrt. CSIDriver v1beta1 storage.k8s.io"
Deploying a pod that uses the secrets store csi driver to mount secrets in a Kubernetes 1.16 cluster results in the following error from the kubelet:

[code]

As mentioned in [What fields does the CSIDriver object have?](https://kubernetes-csi.github.io/docs/csi-driver-object.html#what-fields-does-the-csidriver-object-have), the `volumeLifecycleModes` field has been added from Kubernetes 1.16 onwa

[2020-02-13 01:16] #155 closed

[2020-02-14 02:16] sauryadas opened #158 "Add support for injecting secrets into env vars?"
@ritazh I discussed this with @lachie83 .. He will review the design per our discussion

[2020-02-25 18:54] aramase opened #159 "Setup CI with prow"
- [ ] Setup testgrid jobs for presubmits
- [ ] Remove travis CI config
- [ ] Enable running all provider jobs as part of presubmit

/assign

[2020-02-25 23:09] aramase commented on #133
/remove-lifecycle stale

[2020-02-25 23:09] aramase commented on #132
/remove-lifecycle stale

[2020-02-26 01:49] ritazh commented on #113
Closed via https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/152

[2020-02-26 01:49] #113 closed

[2020-02-26 01:49] ritazh commented on #125
/remove-lifecycle stale

[2020-02-26 02:09] ritazh commented on #102
Cannot reproduce this with the latest version. Closing this issue. Feel free to reopen if the issue resurfaces.

[2020-02-26 02:09] #102 closed

[2020-02-26 02:09] ritazh commented on #36
/remove-lifecycle stale

[2020-02-27 06:05] #159 closed

[2020-03-04 08:19] #129 closed

[2020-03-11 17:53] aramase commented on #8
/remove-lifecycle stale

[2020-03-11 17:54] aramase commented on #8
@andrebriggs Currently, there is no way to enable `--feature-gates` in aks, but this feature gate is enabled by default on 1.16+ clusters.

[2020-03-11 17:55] aramase commented on #25
/remove-lifecycle stale

[2020-03-11 18:59] aramase commented on #139
/remove-lifecycle state
/assign

[2020-03-11 18:59] aramase commented on #139
/remove-lifecycle stale

[2020-03-11 19:00] aramase commented on #115
/remove-lifecycle stale
/assign

[2020-03-11 19:00] aramase commented on #111
/remove-lifecycle stale

[2020-03-11 19:00] aramase commented on #84
/close

[2020-03-11 19:00] #84 closed

[2020-03-11 19:00] aramase commented on #60
/remove-lifecycle stale

[2020-03-11 19:00] aramase commented on #56
/remove-lifecycle stale

[2020-03-11 19:01] aramase commented on #55
/remove-lifecycle stale

[2020-03-11 19:01] aramase commented on #49
/remove-lifecycle stale

[2020-03-11 19:03] aramase commented on #64
/close

This has been completed.

[2020-03-11 19:03] #64 closed

[2020-03-12 01:38] ritazh opened #167 "Add option to sync with Kubernetes secrets"
Ref: https://github.com/Azure/kubernetes-keyvault-flexvol/issues/140

[2020-03-12 01:40] ritazh opened #168 "Add support for environment variable"
Ref: https://github.com/Azure/kubernetes-keyvault-flexvol/issues/28

[2020-03-12 01:57] ritazh opened #169 "Support prefix"
Add support to inject all secrets with a specific prefix into the same pod

[2020-03-13 17:36] burtlo opened #170 "Annotations missing from the CSIDriver secrets-store.csi.k8s.io"
A pod that defines a volume that uses the  CSI driver `secrets-store.csi.k8s.io` is unable to find it. I noticed that the Helm chart created `secrets-store.csi.k8s.io` but there are no annotations with it so I think it is not addressable.

When I manually apply a CSIDriver definition the annotations are set for the CSIDriver.

- Is this because I am using Helm 3 to load this Helm chart?
- It there

[2020-03-13 18:11] aramase commented on #170
@burtlo Thank you opening the issue. The driver name change to `secrets-store.csi.k8s.io` instead of `secrets-store.csi.k8s.com` was recently merged. We are yet to publish a new release with the changes included. We'll be publishing a new image soon with the changes included. I'll update here when the new release is available today for you to try out.

[2020-03-13 20:26] aramase commented on #170
@burtlo We just published a new [release](https://github.com/kubernetes-sigs/secrets-store-csi-driver/releases/tag/v0.0.8) for the driver which includes the changes for the driver name. Please try out the latest charts/deployment and let us know if you have still have any issues.

[2020-03-13 21:23] burtlo commented on #154
As I'm writing some content to teach people how to use this with Vault, I would also appreciate the ability to install this via Helm targeting a released version.

[code]

[2020-03-18 07:07] ritazh commented on #170
Closing this via the https://github.com/kubernetes-sigs/secrets-store-csi-driver/releases/tag/v0.0.8 release. Please reopen if this issue persists.

[2020-03-18 07:07] #170 closed

[2020-03-18 20:43] ritazh opened #176 "Create retroactive KEP in sig-auth"
ref: https://github.com/kubernetes/enhancements/pull/1097

[2020-03-20 16:28] aramase commented on #115
#164 adds windows support for drivers
https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/28 will add windows support for azure provider
  - pod identity mode will not be supported

Will close this issue when official windows driver and provider images are available

[2020-03-24 19:28] aramase opened #179 "Add e2e test suite"
- Support testing on windows

/assign

[2020-03-31 16:45] munnerz commented on #60
I'm new to the project and trying to get my head around how cert-manager could also build a provider for this project (to replace/unify efforts between this and https://github.com/jetstack/cert-manager-csi, which appears to have similar goals).

Given that CSIDrivers themselves are cluster-scoped, how do you see scoping this to a single namespace working? I can see the benefits, and cert-manager i

[2020-03-31 21:37] ritazh commented on #60
@munnerz I think that's a great idea! For more details on how to add a new provider, please refer to: https://github.com/kubernetes-sigs/secrets-store-csi-driver#providers

The idea here is within the csi driver, instead of relying on its own service account to get all SecretProviderClasses resources, we would then use the namespace and service account of the requesting pod to get to the namespace

[2020-03-31 22:51] ritazh commented on #179
- [ ] Support testing cluster upgrade
- [ ] Support testing cluster scaling
- [ ] helm upgrade

[2020-04-01 12:03] dmaterowski commented on #167
Is there any timeline / release plan, especially for this feature?

[2020-04-03 12:36] jmcshane commented on #154
Could use this as well, also in Azure. Trying to use the CSI driver with AAD Pod Identity

[2020-04-06 06:15] ritazh commented on #167
We are working on this feature right now. Please subscribe and check back later.

[2020-04-07 21:49] #179 closed

[2020-04-08 00:19] aramase commented on #56
This is currently being tracked in https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/24

/close

[2020-04-08 00:19] #56 closed

[2020-04-08 00:22] aramase commented on #8
The [csi-secrets-store](https://github.com/Azure/aks-engine/tree/master/examples/addons/csi-secrets-store) addon has been added as default for 1.16+ in aks-engine clusters. Currently there is no way to add feature gates in AKS cluster, so the recommendation is to try out 1.16+ clusters in AKS while using `secrets-store-csi-driver`.

/close

[2020-04-08 00:22] #8 closed

[2020-04-08 00:25] aramase commented on #115
Windows support has been added for the driver and azure provider.

Pending: doc update with instructions for windows.

[2020-04-08 19:15] ritazh commented on #49
/assign @helayoty

[2020-04-08 19:32] helayoty commented on #49
/aasign @helayoty

[2020-04-09 23:11] helayoty commented on #49
Hi @ryysud , Thank you for the well-detailed issue. We have been able to reproduce the issue and it seems it's a minikube [issue](https://github.com/kubernetes/minikube/issues/6352), not something specific to the secrets-store csi driver project. You can try [KIND](https://kind.sigs.k8s.io) instead.

[2020-04-09 23:22] ritazh commented on #144
/remove-lifecycle stale

[2020-04-09 23:27] ritazh commented on #144
/assign @helayoty

[2020-04-13 15:56] gopher194 opened #182 "Helm 3 install instructions"
Hello, the instructions for install with Helm 3 (without Tiller) could be improved by giving more detailed instructions.
What worked for me was (Windows 10 Dev machine, AKS cluster target, Helm version 3.1.1):
- Download ZIP file from release:
https://github.com/kubernetes-sigs/secrets-store-csi-driver/archive/v0.0.9.zip
- Unzip the archive locally,
- Run:
`$NAMESPACE="dev"`
`helm template csi-sec

[2020-04-13 17:38] aramase commented on #182
@gopher194 Thank you for opening the issue. We'll update the instructions.

For helm3, you should be able to directly install using -

`helm install csi-secrets-store <chart dir>` instead of generating the manifests.

[2020-04-13 17:39] aramase commented on #182
/kind documentation

[2020-04-14 21:12] gopher194 commented on #182
Agreed.
In all cases, you need to clone or download the repo in your current directory, and this step is not that clear in the instructions.
Without the `--validate=false`, I was getting this error:
`error validating data: ValidationError(CSIDriver.spec): unknown field "volumeLifecycleModes" in io.k8s.api.storage.v1beta1.CSIDriverSpec`

[2020-04-14 21:15] aramase commented on #182
@gopher194 What is your kubernetes version? Can you post the output for `kubectl version`?

[2020-04-14 21:16] gopher194 commented on #182
Sure, thanks:
`PS C:\Users\eb> k version`
`Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.0", GitCommit:"9e991415386e4cf155a24b1da15becaa390438d8", GitTreeState:"clean", BuildDate:"2020-03-25T14:58:59Z", GoVersion:"go1.13.8", Compiler:"gc", Platform:"windows/amd64"}`
`Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.10", GitCommit:"150f36044fe31bee3891b5

[2020-04-14 21:56] aramase commented on #182
@gopher194 I can't seem to recreate the issue -

[code]

[code]

The csi driver file checks the server k8s version in the template - https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/charts/secrets-store-csi-driver/templates/csidriver.yaml#L8-L12

this is my helm version -
[code]

[2020-04-15 23:22] aramase commented on #154
/assign

[2020-04-19 00:10] syedhassaanahmed commented on #154
+1

[2020-04-19 20:25] ibattat commented on #167
+1 any news on this feature?

[2020-04-20 02:13] ritazh opened #187 "Better handler for multiple secretsproviderclass volumes"
- [ ] sync k8s secrets assumes all files come from a single secretproviderclass
- [ ] Add tests for multiple volumes with multiple secretproviderclass objects

[2020-04-20 02:17] ritazh opened #188 "Use a controller to reconcile secrets"
watch `secretsproviderclass` status `byPod` field

[2020-04-22 19:02] ritazh commented on #125
Here are some design components to consider:
1. A reconciler that periodically calls the provider binary to get latest. Reconciler is a sidecar of the csi driver.
2. Provider binary compares current version with latest version from secrets store. Updates content in mounted file on host. Returns latest version to the driver.
3. Reconciler updates the `secretsproviderclass` object by updating the `o

[2020-04-23 00:43] ritazh commented on #125
Per today's standup:
For 3. we can consider adding the objectVersion to the status field of the object to avoid user overriding the object direclty.
[code]

[2020-04-27 19:07] ritazh opened #190 "Add support for alias when syncing k8s secrets"

[2020-04-27 19:11] aramase commented on #176
/kind documentation

[2020-04-27 19:12] aramase commented on #169
/kind feature

[2020-04-27 19:14] aramase commented on #144
/kind feature

[2020-04-27 19:14] aramase commented on #190
/kind feature

[2020-04-27 20:54] aramase commented on #169
Issue being tracked in https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/61

/close

[2020-04-27 20:54] #169 closed

[2020-04-28 21:16] #167 closed

[2020-04-28 21:21] aramase commented on #167
#186 that adds support for this has been merged to master. This will be included in the next release v0.0.10

[2020-04-28 22:42] #154 closed

[2020-04-29 23:28] aramase opened #194 "Add retries in tests to prevent flakiness"

[2020-04-30 00:30] #115 closed

[2020-04-30 00:30] #182 closed

[2020-04-30 00:40] aramase commented on #125
As discussed on today's standup:

One thing to consider here - reconciler runs as a sidecar in the driver. This means each reconciler watches for changes in all the `SecretProviderClass` custom resources. This could potentially be a problem when there are large # of custom resources with a relative large cluster.

Possible solution -

Driver can label/annotate the `SecretProviderClass` object whil

[2020-04-30 16:34] bdlb77 commented on #125
Another consideration:

A user may define a specific `objectVersion` for a secret that they would want to be constant. When a new secret gets rotated in a Vault,  that constant secret could be updated with a new version thus overriding a specific `objectVersion` that they expect to be constant.

**Some Possible Solutions**
1. When secrets are rotated in a Vault, overwrite all existing secrets in t

[2020-05-01 17:47] aramase opened #196 "Use distroless as base image"
- Use [distroless](https://github.com/GoogleContainerTools/distroless) base image for pod-identity components

[2020-05-04 19:03] aramase opened #200 "Move images to using gcr repo"
Current images for linux and windows builds are hosted in `deislabs` dockerhub. Move these to use images from gcr once https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/189 is merged and the images are available.

/kind cleanup

[2020-05-04 19:24] aramase opened #201 "Add scripts to generate helm package and manifests"
-  Add scripts to package and update index for helm during release

[2020-05-06 00:57] #190 closed

[2020-05-07 18:48] mikeyrcamp commented on #125
From reading the proposed solutions I cannot tell for certain if the implementation of this is looking into refreshing the contents of the volume in the pod without a restart (as standard K8s secrets do) or are providing some sort of auto-restart (similar to kubectl rollout) functionality. Our use case would prefer the former in that we can train our particular apps to check periodically for a new

[2020-05-07 22:39] bdlb77 commented on #125
A proposed solution intends to dispatch an optional notification on secret refresh. This caters to applications that are not built to recheck secret volume contents.

The user / app developer can write a controller that will respond to this notification and perform the necessary reload/restart logic across the pods.

[2020-05-11 21:37] ritazh opened #203 "Add finalizer"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When sync K8s secrets is enabled, the `SecretProviderClass` object can be deleted before the pods using it are deleted.

**What did you expect to happen:**
When sync K8s secrets is enabled, deletion of the `SecretProviderClass` object should be blocked until pods using it are deleted or until the f

[2020-05-12 16:50] #139 closed

[2020-05-12 17:07] aramase commented on #188
/assign

[2020-05-13 06:30] aramase opened #204 "Remove support for setting provider parameters in pod spec"
`SecretProviderClass` was added in v0.0.6 for pod-portability. This means all provider specific parameters are configured using a custom resource instead of being defined in the pod spec. Allowing definition in pod spec was supported to ensure backward compatibility. As it's been 4 releases past the introduction of CRD, we should consider removing support and examples for defining parameters in th

[2020-05-14 22:34] aramase opened #206 "Allow kubelet root dir to be configurable"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Make the kubelet root dir configurable so installation of csi driver will work on clusters with root dir other than `/var/lib/kubelet`.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (

[2020-05-15 00:44] aramase commented on #206
/assign

[2020-05-15 00:48] #196 closed

[2020-05-16 00:31] #206 closed

[2020-05-26 00:28] aramase commented on #132
/remove-lifecycle stale

[2020-05-26 04:06] aramase commented on #36
/remove-lifecycle stale

[2020-05-28 06:33] ritazh commented on #111
We can get baseline [measurements](https://github.com/kubernetes/perf-tests/tree/master/clusterloader2#measurement) using clusterloader2.

[2020-05-28 08:53] djj0809 commented on #125
Can we combine with https://github.com/stakater/Reloader to enable service auto restart when secrets updated?

[2020-05-29 21:05] ritazh opened #214 "kubectl explain secretproviderclasses"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
`kubectl explain` should return description and fields for  secretproviderclasses

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Kubernetes version: (use `kubect

[2020-05-29 22:18] ritazh opened #215 "Readonly should not allow overwrite of the content"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Which provider are you using:**
[e.g. Azure Key Vault, HashiCorp Vault, etc. Have you checked out the provider's repo for more help?]

**Environment:**

[2020-06-01 02:49] aramase opened #216 "Use sigs.k8s.io short hand url for charts"

[2020-06-02 02:37] zalyoung opened #217 "Enable add `metadata.label` to synced secret"
**Describe the solution you'd like**
We would like to have a parameter to add the label to the synced secrets. Our applications are  using spring-cloud-kubernetes to retrievew the data from secrets, it needs the label to access the specified secret.
Also custom labels is useful to daily operation.

**Anything else you would like to add:**
The secretObjects doesn't have any label related parameters

[2020-06-04 01:12] aramase opened #221 "Switch to using docker manifest for image push"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Switch to using docker manifest for image push as the current image push job fails due to auth with manifest tool.

[code]

We can generate the docker manifest and push using `docker manifest`

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information t

[2020-06-04 16:24] aramase opened #223 "Match SecretProviderClass from same namespace as pod"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
We should only match `SecretProviderClass` in the same namespace as the pod.

https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/45d76c799f787b70de23051a271604a16aedf5cf/pkg/secrets-store/utils.go#L610-L612

**What did you expect to happen:**

**Anything else you would like to add:**

[2020-06-04 21:44] aramase commented on #221
/close

This has been fixed with #225

[2020-06-04 21:44] #221 closed

[2020-06-05 17:37] aramase opened #226 "Remove revision and heritage labels from helm charts"
https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/34a978c51db6b048873167c9e2003c145d2f5f23/charts/secrets-store-csi-driver/templates/_helpers.tpl#L26-L33

- [ ] Remove `revision` and `heritage` from labels
- [ ] Add recommended labels - https://helm.sh/docs/chart_best_practices/labels/#standard-labels
- [ ] Test Upgrade of helm charts work with the changes

[2020-06-05 17:37] aramase commented on #226
/kind cleanup

[2020-06-05 17:52] aramase commented on #226
/good-first-issue

[2020-06-05 17:53] aramase opened #227 "Add tolerations to helm charts"
/kind feature

[2020-06-06 00:16] anujgeek opened #228 "How to make this volume mount required thing for the pod to start"
**Describe the solution you'd like**
I frequently see the following error when a pod is starting:
MountVolume.SetUp failed for volume "stage-kv-vlm" : kubernetes.io/csi: mounter.SetUpAt failed to get CSI client: driver name secrets-store.csi.k8s.io not found in the list of registered CSI drivers

This volume mount is a required piece for me, and I have a startup script that depends on it. However,

[2020-06-06 00:40] aramase commented on #228
@anujgeek How are you installing the driver and provider?

[code]

Looks like you haven't installed the azure keyvault provider for windows.

You can install the driver and azure provider using -

[code]

More instructions are here - https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/charts/csi-secrets-store-provider-azure

[2020-06-06 00:45] anujgeek commented on #228
@aramase I have installed the the azure key vault using those steps only.
The volume works for me, but only after I do a rolling update on my app pods. The first time couple times, it always gives this error. Or something like ' cannot find driver in registered list'

[2020-06-06 00:47] aramase commented on #228
@anujgeek That's probably because of the start up time. The windows images take time to get downloaded to the cluster, which means pods could take time to get scheduled. If you deploy the application pod after ensuing the driver and azure key vault provider are running, then you shouldn't see errors.

[2020-06-06 00:49] anujgeek commented on #228
@aramase Got it. But is there a way I can make my app pod wait till the mount is available?

[2020-06-07 20:11] iMoses commented on #223
I just discovered this bug as well..
Any estimations on a fix deployment?
I'd really appreciate it :)

[2020-06-08 15:59] aramase commented on #228
@anujgeek The pod is started only after the volume is mounted in the pod. In this case, the pod is referencing a volume that uses the csi driver. The application pods need to be deployed after the driver is deployed. If the driver isn't yet deployed, `kubelet` will retry the mount until it succeeds.

[2020-06-08 16:01] aramase commented on #223
@iMoses We can get the fix included in the next release. Feel free to open a PR if you would like to pick this issue.

[2020-06-08 16:30] ritazh commented on #223
Related https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/60

[2020-06-08 21:34] jferr opened #229 "Support for multiple azure keyvaults"
**more of a question that could lead into a feature request.  Apologies if I'm doing this wrong**

We would like to mount secrets to pods where the secrets for one pod might come from one azure keyvault and the secrets for another pod might come from a second azure keyvault. We may end up  having as many as 30 or so keyvaults. Is this possible today?**
[A clear and concise description of what you

[2020-06-08 23:07] aramase commented on #229
@jferr That is possible today. You would need to create a `SecretProviderClass` for each pod and configure the [keyvault name](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/examples/v1alpha1_secretproviderclass.yaml#L9) and [objects](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/examples/v1alpha1_secretproviderclass.yaml#L11-L20).

[2020-06-09 14:53] jferr commented on #229
thank you, closing issue

[2020-06-09 14:53] #229 closed

[2020-06-09 18:03] ritazh commented on #25
/remove-lifecycle stale

[2020-06-10 00:53] ritazh commented on #133
/remove-lifecycle stale

[2020-06-10 00:54] ritazh commented on #158
Closing this as it is now possible to set env var with the synced k8s secret feature: https://github.com/kubernetes-sigs/secrets-store-csi-driver#optional-set-env-var

[2020-06-10 00:54] #158 closed

[2020-06-10 00:59] ritazh commented on #168
Closing this as it is now possible to set env var with the synced k8s secret feature: https://github.com/kubernetes-sigs/secrets-store-csi-driver#optional-set-env-var

[2020-06-10 00:59] #168 closed

[2020-06-11 15:51] aramase opened #230 "byPod status not updated with all pod uid when running at scale"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When running at scale, the `byPod` status field doesn't contain all the pod UIDs that reference the secret provider class. While testing with 100 pods as part of load test, on average only 15-20 pod UIDs are updated in the byPod status field.

**What did you expect to happen:**
All 100 podUIDs shou

[2020-06-11 16:29] ritazh commented on #230
Can you please run the same load test using https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/224

[2020-06-11 16:34] aramase commented on #230
I was able to validate with #224 and see 100 `ownerReferences` updated in the secret for all the `SecretProviderClassPodStatus`.

[2020-06-12 18:13] aramase commented on #111
/assign @aramase

Plan to setup a testgrid job that runs load tests with kind against each PR.

[2020-06-14 06:35] helayoty commented on #60
May I start working on this issue?

[2020-06-15 15:46] aramase commented on #60
@helayoty Sure, go for it!

/assign @helayoty

[2020-06-15 15:47] aramase commented on #144
@helayoty Are you still looking into this issue? Let me know how can I help.

[2020-06-16 20:01] aramase opened #231 "replace nodeselector with kubernetes.io/os"
Replace `nodeSelector` labels with `kubernetes.io/os` as `beta.kubernetes.io/os` will officially be deprecated in 1.19.
- `kubernetes.io/os` has been GA since 1.14

/kind cleanup

[2020-06-18 00:27] aramase commented on #60
Add new field in the `volumeAttributes` for providing the `secretProviderClassNamespace`.

[code]

If the `secretProviderClassNamespace` is provided, then filter on that ns, if not use the pod ns to filter the `SecretProviderClass`.

[2020-06-18 17:32] aramase commented on #125
/retitle Automatic secrets reloading upon update in the external secrets store

[2020-06-18 21:04] aramase opened #233 "Add warning note for next release"
- [x] Once PR for #60, #223 is merged, `SecretProviderClass` will be matched to pod namespace. Need to add a note about this change in behavior with next release.
- [x] Once #224 is merged, provider parameters will can no longer be defined in pod spec (https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/204). Add a note about this deprecation in the next release.
  - [x] Remove exam

[2020-06-18 21:04] aramase commented on #233
/kind documentation

[2020-06-19 16:57] #231 closed

[2020-06-23 05:38] cpatil7 opened #235 "How does application spring boot application(application.yml files) access the values once the key or secret is mounted in the container file system"
Hey,

I was able to successfully mount the files secrets on POD. Would be helpful if we have documentation/reference sample to demonstrate how we can consume mounted file secrets into spring boot application.

I got reference of below changes

reference spring-cloud-starter-kubernetes-config in pom.xml
use spring.cloud.kubernetes.secrets.enabled and
spring.cloud.kubernetes.secrets.paths=/mnt/secre

[2020-06-24 13:11] mo-saeed opened #236 "[CreateContainerConfigError secret not found] sync secrets option"
**What steps did you take and what happened:**
secret class
[code]
pod definition
[code]

when trying to create the pod, the pod is stuck in `CreateContainerConfigError` state due to the first failure of secret volume mount and secret is not found.

Here's the log
[code]
Need to find a way to get the pod ignoring `secret not found` issue till the mount is successfully done, not sure how !

**What

[2020-06-24 17:28] aramase commented on #236
@mo-saeed Are you using driver version `v0.0.7`? How did you install the driver and the Azure Key Vault Provider? Could you provide the images for the driver and key vault provider daemon sets? Could you provide the logs from the driver pod?

Could be an issue with fetching the token for identity using `aad-pod-identity`. We can get more info from the logs.

[2020-06-24 18:43] mo-saeed commented on #236
Hi @aramase
- sorry version for azure-provider is 0.0.6, the helm chart version is 0.0.7 and csi-driver version is 0.0.11
- using helm chart
- no it's not an issue with aad-pod-identity coz it works without the part of env variable
[code]
as i explained the mount is not successful from the first time, so after the first time the pod stuck in config error due to missing secret.

- that's the log
[c

[2020-06-25 06:08] aramase opened #237 "Set resource requests and limits for containers"
Need to set the resource requests and limits for each of the container defined in the driver `daemonset` for Linux and Windows manifests.

/kind feature

[2020-06-25 06:36] #188 closed

[2020-06-26 06:26] aramase commented on #236
/assign

[2020-06-26 19:06] mo-saeed commented on #125
That would be really nice to have.

[2020-06-27 13:56] mitsutaka opened #239 "Replace e2e with onsi/ginkgo"
**Describe the solution you'd like**
I found an error in `vault.bats` while running e2e in vault-provider and created PR #234 . In the current bats-based e2e environment, the syntax is in bash, and it is hard to notice the problem of expected value testing due to incorrect syntax. Fortunately, there are few e2e test scenarios at the moment, so I suggest replacing the e2e framework for future secre

[2020-06-30 21:51] snooyen commented on #226
I'd like to take this issue

[2020-06-30 21:56] aramase commented on #226
Awesome! I'll assign this issue to you. If you have any questions, please feel free to post them or here or ping us on [#csi-secrets-store](https://kubernetes.slack.com/messages/csi-secrets-store) slack channel

/assign @snooyen

[2020-06-30 21:57] aramase commented on #228
Closing this issue based on the comments above. Feel free to reopen if you have any questions.

/close

[2020-06-30 21:57] #228 closed

[2020-06-30 21:59] aramase commented on #223
/close

As this is duplicate of #60. Please check #60 to track progress for this issue.

[2020-06-30 22:00] #223 closed

[2020-06-30 22:02] aramase commented on #60
As part of the new controller for syncing secrets, a part of this change has already been implemented - https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/pkg/secrets-store/utils.go#L163-L166. The `SecretProviderClass` is being filtered by namespace. So the remaining change that's required as part of this issue is

1. To read `secretProviderClassNamespace` from `volumeAttribut

[2020-06-30 22:04] aramase commented on #227
/good-first-issue

[2020-06-30 22:05] aramase commented on #132
/good-first-issue

[2020-06-30 22:06] aramase commented on #144
/good-first-issue

[2020-07-02 00:55] helayoty commented on #144
/assign @helayoty

[2020-07-09 01:02] #236 closed

[2020-07-09 18:01] aramase opened #242 "Support SecretProviderClass from different namespace"
The default behavior with this [change](https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/224/files#diff-a31c6f6257e17c698bbc44d4dbb22a7dR124) in master is to use `SecretProviderClass` only in same namespace as pod.

If there is a requirement to access `SecretProviderClass` in a different namespace from the pod, Please feel free to chime in on this issue.

/kind feature

[2020-07-09 18:02] aramase commented on #242
/kind feature

[2020-07-09 18:13] aramase commented on #60
Closing this issue as the `SecretProviderClass` in matched in the same namespace as pod with https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/224/files#diff-a31c6f6257e17c698bbc44d4dbb22a7dR124. After discussion on the community call, I've opened an issue #242 to gather user feedback on if this is a feature they would like to see. Once we have +1s, we can rethink about `secretProvi

[2020-07-09 18:13] #60 closed

[2020-07-09 18:15] tam7t opened #243 "Optionally install the ability to sync to k8s secrets"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

For #167 additional RBAC permissions were added including:

[code]

These permissions give broad access to the CSI driver to view cluster secrets.

I would be nice to separate out theses additional permissions and only bind them if the cluster admin chooses to enable this feature.

**Anything else y

[2020-07-09 19:36] ritazh commented on #60
To be clear, the `SecretProviderClass` resource is a namespaced resource and should follow the same RBAC best practice as other namespaced resources.

[2020-07-09 19:46] aramase commented on #55
/close

This is a provider specific enhancement and is being tracked in provider repo.

[2020-07-09 19:46] #55 closed

[2020-07-14 18:32] ritazh commented on #243
Thanks for opening the issue @tam7t! Would you like to open a PR for this?

[2020-07-14 21:42] tam7t commented on #243
Sure I'll take a stab at it!

[2020-07-15 00:44] aramase opened #246 "Add option to set envs in helm chart"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Add an option to set `envs` in helm chart. Users can use this to set/override environment variables like `KUBERNETES_SERVICE_HOST`.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use

[2020-07-15 00:44] aramase commented on #243
/assign @tam7t

[2020-07-15 16:20] aramase opened #247 "Bump liveness probe version to v2.0.0"
https://github.com/kubernetes-csi/livenessprobe/releases/tag/v2.0.0

/assign

[2020-07-15 16:32] ritazh commented on #215
Closing this issue as the action to overwrite was performed on the node running the application.

[2020-07-15 16:32] #215 closed

[2020-07-15 22:22] iamsoorya opened #249 "Suddenly Key Vault integration is broken with CIS"
We have now started using latest code from GIT, still we are getting the below error. We are also upgraded to AKS 1.16.10

Please help urgent.
[code]

My Test Code :

[code]

[2020-07-15 22:28] aramase commented on #249
@iamsoorya Can you provide the following:

1. The `secretProviderClass` yaml you're using
2. Logs from the driver pod running on the same node as your application pod
3. `kubectl get nodes -o wide` output

[2020-07-15 23:22] #247 closed

[2020-07-16 19:02] aramase commented on #235
/close

Since this is application specific and needs to be addressed outside the scope of this project.

[2020-07-16 19:02] #235 closed

[2020-07-16 19:05] aramase commented on #217
/good-first-issue

[2020-07-16 19:22] aramase commented on #49
/close

Closing this issue as it's a known problem with minikube. Please feel free to reopen if you're having issues trying the driver with KIND clusters.

[2020-07-16 19:22] #49 closed

[2020-07-17 05:51] tomkerkhove commented on #125
This would be super to have

[2020-07-17 09:23] deuch commented on #125
For ingress TLS secret stored in Key Vault it’s a great thing to have the synchronization of the k8s secrets for TLS and the certificates in KV. Ingress Controller like nginx can hot reload their certs store if the K8S TLS secret is updated.

With this setup, no more expiration of the certs because in KV the certs can be auto-renew many days before the expiration !

For application secret, you nee

[2020-07-18 00:04] #200 closed

[2020-07-18 00:15] aramase commented on #230
/close

[Release v0.0.12](https://github.com/kubernetes-sigs/secrets-store-csi-driver/releases/tag/v0.0.12) switches to using `ownerRef` for secret clean up. So `byPodStatus` is no longer used.

[2020-07-18 00:15] #230 closed

[2020-07-18 00:16] aramase commented on #203
[Release v0.0.12](https://github.com/kubernetes-sigs/secrets-store-csi-driver/releases/tag/v0.0.12) switches to using `ownerReference` for secrets and also introduces new CRD `SecretProviderClassPodStatus` to track status. So adding a finalizer is no longer required.

/close

[2020-07-18 00:16] #203 closed

[2020-07-18 00:17] aramase commented on #204
With [Release v0.0.12](https://github.com/kubernetes-sigs/secrets-store-csi-driver/releases/tag/v0.0.12) this support has been removed.

/close

[2020-07-18 00:17] #204 closed

[2020-07-20 12:15] SatyKrish opened #255 "Provide override for node-driver-registrar and liveliness-probe containers in helm chart"
**Describe the solution you'd like**
Ability to override image repository and tag for node-driver-registrar and liveliness-probe containers. This will enable installation of CSI driver within restricted environments, which do not have access to public docker registries.

**Anything else you would like to add:**
I'm able to override image repository for secret-store-driver container using --set opt

[2020-07-20 16:06] aramase commented on #255
/good-first-issue

[2020-07-20 23:15] aramase commented on #255
@SatyKrish Would you be interested in working this change?

[2020-07-22 19:41] aramase commented on #233
/close

Warning has been added with `v0.0.12` release note.

[2020-07-22 19:41] #233 closed

[2020-07-23 16:33] ritazh commented on #243
Per our community call today, let's make this configurable as part of the Helm chart installation. For the next 2 releases, let's enable `syncSecret` by default for backward compatibility with added warning message to `disabled by default in v0.0.15` in the release notes.
[code]
Similar to these options:
https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/v0.0.12/charts/secrets-store-

[2020-07-23 16:42] aramase opened #256 "Add new --context-timeout flag for providers"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Add a new flag `--context-timeout` for each provider. The driver will determine the context timeout for provider calls and will invoke the provider with the `--context-timeout` flag. The provider can use this timeout to create a context and use that for all provider operations.

Why we need this?
Con

[2020-07-23 20:30] aramase opened #257 "Add load tests as part of CI"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
In the last community call, we discussed adding in load tests as part of CI.

Some open questions:

- Where do we run the infra? Do want to do small scale testing in kind or use dedicated nodes/VMs?
- What are some of the things we want to load tests? How many CTs, constraints, what are audit limits?

[2020-07-23 20:30] aramase commented on #111
/retitle Document load test results

[2020-07-23 20:31] aramase commented on #111
/kind documentation

[2020-07-27 09:52] SatyKrish commented on #255
Yes, I can work on it. Thanks.

[2020-07-27 22:05] helayoty commented on #217
/assign @helayoty

[2020-07-28 00:21] aramase commented on #255
Thank you @SatyKrish! Looking forward to your PR. Please feel free to post on this issue or check on our [slack channel](https://github.com/kubernetes-sigs/secrets-store-csi-driver#want-to-help) if you have any questions.

/assign @SatyKrish

[2020-07-28 00:21] aramase commented on #187
/assign

[2020-07-28 00:22] aramase commented on #201
/assign

[2020-07-29 00:15] aramase commented on #194
/remove-lifecycle stale

[2020-07-29 04:57] fernandosilvacornejo commented on #227
Hi! I just created a PR attempting to fix this issue, please let me know if something is missing.

[2020-07-29 06:29] #144 closed

[2020-07-29 18:12] aramase opened #263 "namespace lookup for SecretProviderClass not enforced in NodePublishVolume"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
`podNamespace` is set after fetching `SecretProviderClass` which means the namespace match isn't strictly enforced

https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/d59cc202c99980546a68d354206cbb792f80ef19/pkg/secrets-store/nodeserver.go#L151

https://github.com/kubernetes-sigs/secr

[2020-07-29 18:12] aramase commented on #263
/assign

[2020-07-29 18:31] aramase commented on #227
Thank you for the PR @fernandosilvacornejo! We'll take a look.

/assign @fernandosilvacornejo

[2020-07-29 19:07] helayoty commented on #246
/assign @helayoty

[2020-07-30 03:53] kenans opened #265 "Keep k8s secret around after the referencing pod is deleted"
**Describe the solution you'd like**
Currently when the pod that references the KV object is deleted, the synced k8s secret is also removed. It would be nice if we can provide an option to keep the secret around when the referencing pod is deleted.

**Anything else you would like to add:**
Our working scenario is to use a cronjob to sync all the KV objects with k8s secrets. Other pods then purely

[2020-07-30 19:06] aramase commented on #125
This is the design doc for supporting this feature - https://docs.google.com/document/d/1RGT0vmeUnN71n_u5fZKsSCa2YQpGw99rfGN9RlFMgHs/edit?usp=sharing

We would love to get more reviews on the design. Please feel free to review and comment on the doc.

[2020-07-30 23:21] #201 closed

[2020-07-31 00:28] ritazh opened #268 "Update readme post next release"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
We should add the following:
- default value for `syncSecrets.enable` will be set to `false` after the next 2 releases (secure by default)
- update deployment instructions https://github.com/kubernetes-sigs/secrets-store-csi-driver#optional-sync-with-kubernetes-s

[2020-07-31 18:02] aramase opened #271 "Add contributor doc"
- [ ] Contribution to helm charts in `manifest_staging` dir
- [ ] How to run e2e tests for each provider
- [ ] Scripts to automate creation of e2e required keys/secrets for each provider

/kind documentation

[2020-07-31 20:43] #227 closed

[2020-07-31 22:15] #263 closed

[2020-08-03 16:42] aramase commented on #249
Closing this issue due to inactivity. Please feel free to re-open if you're still having issues.

/close

[2020-08-03 16:42] #249 closed

[2020-08-04 19:26] aramase commented on #214
/assign

[2020-08-05 23:47] aramase commented on #246
Here is a good example for this issue - https://github.com/containous/traefik-helm-chart/blob/master/traefik/values.yaml#L86-L99. The user can use this to configure env vars as part of the helm deployment.

Changes are to be made in `manifest_staging/charts/secrets-store-csi-driver` dir.

[2020-08-06 01:24] #214 closed

[2020-08-06 02:08] #255 closed

[2020-08-06 04:18] #187 closed

[2020-08-06 14:43] #246 closed

[2020-08-06 23:16] #217 closed

[2020-08-09 11:36] olegsu opened #281 "make test never exit"
I was trying to run the test locally. When removing `golangci-lint run --deadline=5m`, it passed.

Output of `golangci-lint run --deadline=5m -v`
[code]

**What steps did you take and what happened:**
[code]

**What did you expect to happen:**
All test should pass

**Environment:**

- MacOS 10.15.6
- go version go1.14.6 darwin/amd64

Updating the golangci-lint to latest version helped.

[2020-08-10 17:54] #281 closed

[2020-08-13 18:21] aramase opened #286 "Move crds to crds dir for helm3"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
- Move crds from `templates` to `crds` which is the recommended way for installing crds using helm3
- Add `template/crds.yaml` with

[code]
`installCRDs` by default will be false so crd install using helm2 is skipped. If using helm2 then `--set installCRDs=true`

**Anything else you would like to add

[2020-08-13 19:33] #226 closed

[2020-08-13 21:07] abdennour opened #287 "[helm chart] enable installation in disconnected / offline cluster"
**Describe the solution you'd like**

The Helm chart of this software does not provide a way to fetch images from private registry :

- No Values for imagePullSecrets
- Some images are hard coded in templates.

**Anything else you would like to add:**

Offline cluster - disconnected cluster .. this is how enterprise work

**Environment:**

- Secrets Store CSI Driver version: (use the image tag): l

[2020-08-13 21:41] abdennour commented on #287
The PR is opened. @ritazh  for your review please!

https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/288

[2020-08-13 22:15] aramase commented on #287
@abdennour Thank you for the PR. This change has already been completed with #260. The latest changes for the charts are in `manifest_staging/charts` dir and will be published as official helm chart with the release tomorrow.

/close

[2020-08-13 22:15] #287 closed

[2020-08-14 02:10] abdennour commented on #287
@aramase  I don't agree . They are not the same.
#260 does not provide a way for assigning `imagePullSecrets` , while this PR provides.

[2020-08-14 02:19] aramase commented on #287
@abdennour Please feel free to open a PR for adding image pull secrets. #260 covers the changes for image configuration. The changes for helm chart are to be made in manifest_staging/charts/secrets-store-csi-driver directory.

[2020-08-14 07:27] Evalle commented on #286
Hey @aramase I can work on it.
/assign

[2020-08-14 10:57] thomasfrederikhoeck opened #290 "Sync of k8 secrets not happening"
**What steps did you take and what happened:**
I have set up a SecretProviderClass that connects to my Azure Key Vault which works correctly as I can mount the volume and get the secrets out (as seen in the tutorial). I have added secretObjects to sync with th k8 secrets but the secret is not appearing.
I'm trying to create a simple Opaque secret. Is the secret not created if it does not exist?

*

[2020-08-14 11:05] thomasfrederikhoeck commented on #290
[code]

[2020-08-14 12:18] thomasfrederikhoeck commented on #290
Okay, I realized that I should not expect to see a Secret appear in my secrets, and that I should still mount the volume and then declare the environment variable. I don't think this is complete clear from the user guide. From the user guide it looks like you will get a k8 secret that you can simply access like if you defined it yourself. :-)

[2020-08-14 12:37] mansing2 opened #291 "Unable to retrieve the certificate from Azure Key vault to Nginx ingress pod."
Hi,

We are unable to retrieve the certificate from Azure Key vault to the Nginx ingress pod (of kind:Ingress) with the following YAML manifest but since the Volume field does not support the kind Ingress it keeps on failing. Would you able suggest please around this?

We are able to get the secrets to the app pod by following the steps from https://github.com/HoussemDellai/aks-keyvault.

[code]

[2020-08-14 13:20] thomasfrederikhoeck commented on #290
Okay, so the syncing to k8 secrets is happening but very delayed.

[2020-08-14 16:01] SatyKrish commented on #291
kind:Ingress is not a pod. It is simply a routing rule. Volumes can be mounted only on pods (kind:Deployment or kind:Pod).

You can follow [this example](https://github.com/SatyKrish/aks-ingress-controller-tls/blob/master/aks-ingress-tls-demo/README.md) for retrieving TLS certificate for use with Ingress.

[2020-08-14 16:14] aramase commented on #290
@thomasfrederikhoeck Thank you for opening the issue 👍

The reconcile loop in driver periodically syncs every 5 mins. If the `SecretProviderClass` is updated after the initial creation, then the reconcile will pick it up when the `SecretProviderClass` is picked off the queue again.

Yes, the mounting in the volume is the primary purpose of the driver. The sync k8s feature is an addon that consumes

[2020-08-14 16:30] SatyKrish opened #292 "Helm uninstall of application doesn't remove synced K8s secrets"
**What steps did you take and what happened:**
Application is configured to sync secrets from Azure Key Vault with K8s secrets, and use secrets as Environment Variables. Application deployed using helm chart.

Ran following tests:

1. Delete deployment referencing SecretProviderClass manually.
[Success] - Pods get deleted; synced K8s secrets get deleted.

[code]

[code]

2. Uninstall helm release

[2020-08-14 18:04] aramase commented on #292
@SatyKrish Thank you for opening the issue.

Did you get a chance to try out our lates available release [v0.0.12](https://github.com/kubernetes-sigs/secrets-store-csi-driver/releases/tag/v0.0.12)? We have switched to using a controller for creating secret and the pod that the secrets are created for are added as owners `ownerReferences`. So when all pods using the secret are deleted, then the sec

[2020-08-14 18:05] aramase commented on #291
+1 to what @SatyKrish said.

Also, adding the doc link we have for examples with different providers - https://github.com/kubernetes-sigs/secrets-store-csi-driver/tree/master/sample/ingress-controller-tls

[2020-08-17 05:40] mansing2 commented on #291
Thank you @aramase @SatyKrish great help! Closing this issue.

[2020-08-17 05:40] #291 closed

[2020-08-17 07:59] thomasfrederikhoeck commented on #290
Thank you for the answer @aramase 😄  So just to be clear - if I want to use the option with the environmental variables I need to :

1. Install Secret Store CSI Driver
2. Create SecretProviderClass with `secretObjects` matcing objects in `objects`
3. Wait for at least 5 minutes
4. In the deployment manaifest of my app mount the volume to the deployment _AND_ add
[code]

[2020-08-17 13:23] thomasfrederikhoeck commented on #290
Or do I not need to mount the volume on my deployments the k8 secrets are synced?

[2020-08-17 16:25] aramase commented on #290
Correct. You need to add the volume to the deployment. The CSI driver will be called by kubelet when a volume references the secrets-store-csi-driver. After the volume is successfully mounted, the controller in the driver will sync the mounted content as Kubernetes secrets. The pod will then startup with the env var from the secret.

No, this is not the case. After `SecretProviderClass` is created

[2020-08-18 00:49] #243 closed

[2020-08-18 07:24] thomasfrederikhoeck commented on #290
Cool. Thank you again for the clarification @aramase  😃

[2020-08-19 01:04] ritazh opened #296 "Add test for backward compat"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

- Add e2e job to test latest dev image with `helm install ` latest release and n-1 release

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Kubernetes version: (u

[2020-08-19 02:28] ritazh opened #297 "Add e2e to test deployment yaml updates"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Kubernetes version: (use `kubectl version`):

[2020-08-19 16:37] aramase commented on #176
/remove-lifecycle stale

[2020-08-20 08:56] djj0809 opened #298 "Don't rely pod creation to mount to Kubernetes secrets"
**Describe the solution you'd like**

Currently, when you choose to sync to Kubernetes secrets, pulling secrets/certs/keys from Key vault always happen on pod creation and you also need to mount SecretProviderClass to specific pod to make it work.

If we have issues with Key Vault access (managed identity is not working, things are deleted accidently in Key Vault or Key Vault API is unavailable),

[2020-08-21 08:24] iamsoorya opened #299 "Keyvault integration with AKS broken"
The Keyvault integration is broken with AKS.

kubectl get pods -A|grep -I csi:
[code]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Kubectl get pods -o wide:
[code]
-----------------------------------------------------------------------

[2020-08-21 08:26] blessedwithsins commented on #299
@iamsoorya Thanks a ton.

[csi-secrets-store.zip](https://github.com/kubernetes-sigs/secrets-store-csi-driver/files/5107710/csi-secrets-store.zip)
[KV logs.zip](https://github.com/kubernetes-sigs/secrets-store-csi-driver/files/5107711/KV.logs.zip)
[nginx.zip](https://github.com/kubernetes-sigs/secrets-store-csi-driver/files/5107712/nginx.zip)
[secretprovider.zip](https://github.com/kubernetes-sigs

[2020-08-25 13:50] iMartyn commented on #36
/remove-lifecycle stale

[2020-08-25 22:12] aramase commented on #299
ping @iamsoorya for providing the above details so we can get to the bottom of the issue

[2020-08-26 11:55] iamsoorya commented on #299
soorya@Azure:~$ kubectl get nodes -o wide
NAME                                   STATUS   ROLES   AGE   VERSION    INTERNAL-IP     EXTERNAL-IP   OS-IMAGE             KERNEL-VERSION      CONTAINER-RUNTIME
aks-gdprhubnodes-31385122-vmss000003   Ready    agent   41d   v1.16.10   10.141.113.4    <none>        Ubuntu 16.04.6 LTS   4.15.0-1092-azure   docker://3.0.10+azure
aks-gdprhubnodes-31385122-vmss

[2020-08-26 11:57] iamsoorya commented on #299
Are the driver pods running on the same node on which nginx-flex-kv is being deployed?

Ans: it may run or it might run on the same node. I have deleted that pod now. I will re-create it.

[2020-08-26 21:05] aramase opened #300 "Reusing GRPC client and connection for multiple mount events"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Follow up for https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/280#discussion_r476702964

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Kubernete

[2020-08-28 00:47] mitsutaka opened #301 "Option to add debug flag for provider"
**Describe the solution you'd like**
Flags of provider command are [fixed](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/pkg/secrets-store/nodeserver.go#L221-L226). As far as I saw, we don't have a way to add `--debug` flag for providers even they have.

Azure: https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/cmd/main.go#L23
Vault: https://gith

[2020-08-28 18:03] aramase opened #302 "Move CRD to apiextensions.k8s.io/v1"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
CRDs have been promoted to GA since Kubernetes 1.16:

https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20180415-crds-to-ga.md

`secrets-store-csi-driver` CRDs currently use `apiextensions.k8s.io/v1beta1`, which will be removed in the future: kubernetes/kubernetes#82022.

[2020-08-30 13:16] irbekrm commented on #132
Hi!
 I would like to work on this if it is still needed?
I see that there are already unit tests for most error scenarios for `NodePublishVolume` (although they don't test returned error types as in the description of this issue), but I could add tests for `NodeUnpublishVolume` and potentially also for `NodeStageVolume` and `NodeUnstageVolume`?

[2020-08-30 13:18] irbekrm commented on #132
/assign

[2020-08-31 16:14] aramase commented on #132
@irbekrm Thank you for picking this up. We would like to increase the unit test coverage across all packages. The driver only uses `NodePublishVolume` and `NodeUnPublishVolume`. So if we can increase the coverage for those methods, it'll be great. Please feel free to reach out if you have any questions.

[2020-08-31 18:08] aramase commented on #292
Closing this issue. Please feel free to reopen if you're having issues with the latest releases.

/close

[2020-08-31 18:08] #292 closed

[2020-08-31 18:10] aramase commented on #299
Did you get a chance to confirm if the driver pods are running on the nodes where the workload is deployed. That is a requirement because `kubelet` invokes the `driver` pod running on the same node as the workload to initiate the volume mount.

[2020-08-31 20:33] iamsoorya commented on #299
I will double check this. Are these pods running as daemon set?

On Mon, 31 Aug 2020, 19:10 Anish Ramasekar, <notifications@github.com>
wrote:

[2020-08-31 20:43] aramase commented on #299
That's right. The driver and provider pods run as a daemonsets. However if you have custom taints configured on the node, you would need to add tolerations for those taints.

[2020-09-01 16:28] iamsoorya commented on #299
Shrikanth,

Can you please check this?

From: Sooryanarayan Hegde [mailto:iamsoorya@gmail.com]
Sent: 01 September 2020 16:34
To: kubernetes-sigs/secrets-store-csi-driver; Hegde, Soorya (TCS)
Cc: kubernetes-sigs/secrets-store-csi-driver; Mention
Subject: Re: [kubernetes-sigs/secrets-store-csi-driver] Keyvault integration with AKS broken (#299)

CAUTION: This email originated from outside of the org

[2020-09-01 17:15] shrikantumadi commented on #299
Cluster is with 2 nodes, driver pods and workload may or may not run same node because of two nodes. IS there a way to run both driver pods and workloads to run on same node?

[2020-09-01 17:23] aramase commented on #299
The driver pods run as a daemonset, so they will automatically be deployed on every node in the cluster unless there is a taint on some node that's not tolerated by the driver pod.

[2020-09-01 17:50] shrikantumadi commented on #299
In our case there is no any taint on nodes, but let us check and come back to you. Can you please help me with kubectl commands to check taint availability on nodes?

[2020-09-02 17:02] aramase commented on #299
Could you provide the details requested here - https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/299#issuecomment-678367870

[2020-09-02 18:23] aramase commented on #216
In general all helm charts hosted in `kubernetes-sigs` are not using the short hand url for the chart url. Closing this issue.

/close

[2020-09-02 18:23] #216 closed

[2020-09-03 12:20] iMoses opened #304 "SecretProviderClass loaded from the wrong namespace"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Create two namespaces: `dev1` and `dev2`
Upload different `SecretProviderClass` resource to each with the same name, e.g.
[code]
[code]
Mount the secret on each namespace and notice it's always `dev1` being loaded.. that's because alphabetically it's matched before the current namespace.

**What d

[2020-09-03 15:24] aramase commented on #300
/assign @tam7t

[2020-09-03 15:29] tam7t commented on #300
/assign @tam7t

[2020-09-04 16:11] aramase commented on #304
Closing with with release `v0.0.13`. Please feel free to reopen if you have any issues with the latest release.

/close

[2020-09-04 16:11] #304 closed

[2020-09-04 16:34] aramase opened #305 "Update debian base image to buster-v1.2.0"
Fixes the following vulnerabilities:

- https://lists.debian.org/debian-security-announce/2020/msg00101.html by bumping libgnutls30 from 3.6.7-4+deb10u3 to 3.6.7-4+deb10u5
- https://lists.debian.org/debian-security-announce/2020/msg00089.html by bumping apt version from 1.8.2 to 1.8.2.1.

Update the base image before the next release as updating `docker/` dir will trigger the image push job. We do

[2020-09-10 16:37] aramase commented on #298
@djj0809 Thank you for opening the issue! The scope of this project is to primarily mount the external secrets-store contents in the pod using the Kubernetes CSI standard. The sync as K8s secret is an optional feature to mirror those contents as Kubernetes secrets in addition to the mount. I think skipping the pod mount is a diversion from the actual scope of this driver implementation.

[2020-09-10 20:55] aramase opened #307 "generate events for secret creation and rotation"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
- Generate events for pod to signal secret creation and failures
- We can also use this event recorder to publish events when the rotation reconciler completes updating the content for the pod.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.

[2020-09-14 11:29] tdihp commented on #298
@aramase one potential application of such use case is configuring ingress resource. Any thoughts on that?

[2020-09-14 16:34] Dinesh558 opened #310 "secrets are syncing with Azure vault"
1) Created sync (secretObjects) SecretProviderClass object  and able to retrieve secrets from Azure vault.
2) Able to mount these secrets to pods as volume  and referencing the secrets as env variables.
3) But when I edit the secret in Azure Vault, new version of secret is not getting reflected in pod. Either as environment variable nor at the mount point

**What did you expect to happen:**
When A

[2020-09-14 16:45] aramase commented on #310
@Dinesh558 auto-rotation of the content in the mount and secret based on update in external secrets store is currently not supported. This feature is planned for v0.0.15 release which is tentatively planned for end of September.

With the current releases, you would need to delete the Kubernetes secret and then restart the application pod to fetch the latest content from Key Vault.

Please follow

[2020-09-14 16:45] #310 closed

[2020-09-14 20:17] aramase commented on #305
/retitle Update debian base image to buster-v1.2.0

ref: https://github.com/kubernetes/k8s.io/blob/master/k8s.gcr.io/images/k8s-staging-build-image/images.yaml#L14

[2020-09-14 20:24] aramase commented on #301
@mitsutaka We recently merged https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/280 which adds GRPC support for driver-provider communication.The PR continues to invoke the provider binary by default with an option to opt-in for using GRPC for provider. So going forward the expectation is for new providers and existing providers to implement the GRPC server changes. The current plan

[2020-09-14 22:34] aramase commented on #237
/assign

[2020-09-14 22:35] aramase commented on #302
/assign

[2020-09-14 22:35] aramase commented on #305
/assign

[2020-09-15 07:10] #302 closed

[2020-09-15 14:00] mitsutaka commented on #301
@aramase I've read te PR. I totally agree with that is going to GRPC communication between csi-driver and provider. I confirmed that current provider flags are implemented in `MountRequest`.

At least the provider will be daemonized and communicate with GRPC request and response, so I think that the feature on the csi-driver side will not be necessary. In other words, giving a debug flag to the pr

[2020-09-17 01:04] #290 closed

[2020-09-17 01:04] #237 closed

[2020-09-17 06:28] GlorifiedTypist opened #315 "Helm chart does not provide ability to add volume mounts"
**Describe the solution you'd like**

- Helm chart does not provide ability to add volume mounts to be referenced by daemonset.

**Anything else you would like to add:**
This is useful when using a locally signed CA in non-mTLS environments. Such as for use with the Hasicorp vault provider (secrets-store-csi-driver-provider-vault).

**Environment:**

- Secrets Store CSI Driver version: (use the im

[2020-09-17 17:20] #305 closed

[2020-09-17 20:31] aramase opened #319 "Update csidriver version to storage.k8s.io/v1"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
- `storage.k8s.io/v1beta1` has been deprecated in 1.19 and will be removed in `1.22`
- Update CSIDriver apiVersion to `storage.k8s.io/v1`. This is GA'ed in 1.18 (https://kubernetes-csi.github.io/docs/csi-driver-object.html)

**Anything else you would like to add:**
[Miscellaneous information that wil

[2020-09-18 07:19] marty2bell opened #320 "Debug logs being written to stderr"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

These logs from the secret store image seem to be written to sdterr which causes alerts in our monitoring solution.

time="2020-09-16T19:30:12Z" level=debug msg="GRPC request: "
time="2020-09-16T19:30:12Z" level=debug msg="GRPC response: ready:<value:true > "
time="2020-09-16T19:30:14Z" level=debu

[2020-09-21 16:45] aramase commented on #320
`logrus` by default writes all logs to stderr and there is no inherent way to configure it - https://github.com/sirupsen/logrus/issues/403. We might need to add the hooks to reconfigure this behavior.

@marty2bell You can disable debug logs by setting `--debug=false` for the `secrets-store` container - https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/charts/secrets-store-csi

[2020-09-22 10:00] mo-saeed opened #321 "Add new secret to existing secret-provider-class fails #234"
What steps did you take and what happened:

Create a secret provider class with list of secrets and apply it
Create deployment (with 2 replicas) which has the secrets in the provider class as ENV variables and apply it
Till now all works fine
Now I need to add new secret, so add it to azure keyvault
Add it to secret provider class and apply the changes
add a new env variable with the new secret in

[2020-09-22 16:07] aramase commented on #321
@mo-saeed This is a known limitation - https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/docs/README.limitations.md#mounted-content-and-kubernetes-secret-not-updated-after-secret-is-updated-in-external-secrets-store. The secret is created when the pod is created but there is no auto update currently.

The secret needs to be deleted before the pods are restarted. The new secre

[2020-09-22 17:25] aramase opened #322 "secrets rotation poll interval per SecretProviderClass"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/303 implements the secret auto rotation feature. This rotation reconciler is essentially a periodic check that's triggered based on the duration configured in `--rotation-poll-interval` (default: `2m`).

Opening this issue to further d

[2020-09-22 17:56] #125 closed

[2020-09-22 23:20] marty2bell commented on #320
@aramase Thanks for the tip on disabling debug

[2020-09-23 21:09] aramase commented on #299
@iamsoorya Is this still an issue? If it is could you provide the details requested in https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/299#issuecomment-678367870

[2020-09-23 21:11] tam7t commented on #256
With the addition of the CSI driver interface I think this can be closed.

I believe the kubelet sets the deadline on the RPC to the CSI Driver [here](https://github.com/kubernetes/kubernetes/blob/dd466bccde8176bd390fcf712c0752ae94444742/pkg/volume/csi/csi_mounter.go#L130) and that that deadline should propagate to the CSI driver context [here](https://github.com/kubernetes-sigs/secrets-store-csi-

[2020-09-23 21:22] aramase commented on #256
@tam7t I ran the exact same test last night to verify if the context is in fact being propagated - https://github.com/Azure/secrets-store-csi-driver-provider-azure/pull/203#discussion_r493111704 😁

[code]

We can close this one now

/close

[2020-09-23 21:22] #256 closed

[2020-09-25 01:47] #132 closed

[2020-09-28 21:19] aramase opened #324 "Update otel to latest version"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
- Update otel dependency to latest release

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Kubernetes version: (use `kubectl version`):

/good-first-issue

[2020-09-29 11:25] Evalle commented on #324
I can take a look at it /assign

[2020-09-29 11:27] Evalle commented on #324
@aramase it looks like the latest version is https://github.com/open-telemetry/opentelemetry-go/releases/tag/v0.12.0
Any guidance of how to update it for `secrets-store-csi-driver` project in "the right way"?

[2020-09-29 23:02] marty2bell commented on #320
Hey @aramase Any thoughts on how to address this as it's causing quite a bit of noise in our production environment?

Doesn't look like logrus is going to change for new features......

[2020-09-30 17:50] aramase commented on #324
@Evalle Thank you for picking this up.

Any guidance of how to update it for secrets-store-csi-driver project in "the right way"?

We should update to the latest available stable release - `v0.12.0`. You can start off by updating the go.mod file to pick up the latest version. I took a look at the latest release and the packages have been reorganized. After go.mod you'll need to update the followin

[2020-09-30 20:34] aramase commented on #324
/assign @Evalle

[2020-10-05 17:32] aramase opened #330 "Update port 8080 to a non common host port to avoid conflicts"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
The Secrets Store CSI Driver are run on host network and use `8080` as default port for health check. `8080` is a common port and this conflict can cause the driver pods to crash until the conflict is resolved. Switch to using a different less common port for health check.

**Anything else you would

[2020-10-05 18:57] aramase commented on #301
Closing this issue as the driver is using gRPC to communicate with the provider. The debug flag/log level can be implemented at the provider.

/close

[2020-10-05 18:57] #301 closed

[2020-10-06 00:15] ritazh opened #333 "Add feature matrix for providers"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Kubernetes version: (use `kubectl version`):

[2020-10-06 00:50] #330 closed

[2020-10-06 22:05] aramase opened #335 "Create a documentation site for Secrets Store CSI Driver"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Kubernetes version: (use `kubectl version`):

/kind documentation
/kind feature

[2020-10-06 22:20] aramase commented on #320
@marty2bell I think the right way to fix the problem is to switching to use `klog` for logging. I'll add this as part of the `v0.0.16` milestone.

[2020-10-06 22:21] aramase commented on #335
/assign

[2020-10-06 22:21] aramase commented on #307
/assign

[2020-10-06 22:24] aramase commented on #298
@tdihp That makes sense. The consumption with ingress resource was one of the driving factors for optionally supporting mirroring the mounted content as Kubernetes Secrets. However if we skip the mount completely and only created Kubernetes Secret then that would be a diversion from the actual scope of the driver project. The CSI driver uses the CSI implementation as the core to mount secret conte

[2020-10-06 23:32] #307 closed

[2020-10-07 18:48] aramase commented on #242
/remove-lifecycle stale

[2020-10-09 08:15] l-dalessandro commented on #168
@ritazh Can I use a secret stored/key/certs in mount path setting it like environment variable?

[2020-10-09 14:34] forumsheth opened #338 "Getting Permission denied error while mounting a secret from external vault inside a kubernetes cluster using a Pod deployment"
**What steps did you take and what happened:**
I have deployed vault on bosh using the following repo: https://github.com/cloudfoundry-community/vault-boshrelease
I am able to access vault and also able to create secrets.
After that I deployed secret store csi driver inside my kubernetes cluster using the following repo: https://github.com/kubernetes-sigs/secrets-store-csi-driver
Also deployed the

[2020-10-09 19:05] aramase commented on #338
@tomhjp Could you help take a look at this?

[2020-10-10 22:09] smartaquarius10 opened #343 "Mount volume setup failed error is coming"
Team,

I have used aad-pod-identity to establish connection between Azure Key vault and csi driver. I'm trying to pull 3 secrets from kv using 2 **secredproviderclasses** but getting this error. Can you help me please?

[code]

[code]

**SecretProviderClass 1**:-
[code]
**SecretProviderClass 2:-**
[code]
Here 3 different secrets saved in key vault are tlscert, tlskey and X-Header-license and my ng

[2020-10-11 12:07] smartaquarius10 commented on #343
Question is not asked in correct repository.

[2020-10-11 12:07] #343 closed

[2020-10-12 10:03] tomhjp commented on #338
Hi @forumsheth, it looks to me like the sample application you deployed is not running as the k8s service account that is configured on Vault. A service account called `secrets-store-csi-driver` from the `default` namespace is bound to the `example-role` Vault role. But the sample application uses the `default` service account. If not, could you confirm how you generated the `jwt` that you manuall

[2020-10-12 13:44] Evalle commented on #324
It's harder than I thought and it requires deeper golang knowledge. Feel free to assign this issue.

[2020-10-12 15:48] ritazh opened #345 "Enable enclave deployment"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Cross compile the secrets store csi driver with https://github.com/edgelesssys/edgelessrt to support enclave deployment of Secrets Store CSI driver in a Kubernetes cluster with  trusted execution environments (TEEs) hardware.

**Anything else you would like to add:**
[Miscellaneous information that w

[2020-10-13 08:28] forumsheth commented on #338
Hi @tomhjp Even after explicitly providing the service account as secrets-store-csi-driver it is giving the same error.
I generated the jwt using the follwoing command:
kubectl get secret secrets-store-csi-driver-token-8jdq8  -o go-template='{{ .data.token }}' | base64 --decode
And then updated it in vault:
vault write auth/kubernetes/config \
        token_reviewer_jwt="<jwt-token>" \
        kub

[2020-10-14 17:59] bbgobie opened #346 "Is it possible to add file attributes when mounting?"
Eg file owner, permissions

[2020-10-14 19:36] aramase commented on #25
/remove-lifecycle stale

[2020-10-15 00:56] ritazh opened #347 "Switch to klog"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Switch to klog for logging so we can get features like json logging.

- [ ] Update to using klog.
- [ ] Audit current logging to ensure there are sufficient logs indicating current status/errors.
- [ ] Configurable log verbosity

**Anything else you would like to add:**
[Miscellaneous information tha

[2020-10-15 06:25] forumsheth commented on #338
Can anyone please give me an update on this? @tomhjp @aramase

[2020-10-15 10:45] Dyllaann commented on #321
The rotation reconciler has now been added, and version 0.0.16 has been released.
Unfortunately, the problem where the secret is not removed before pod restart/recreation is still present from what I am experiencing.

Was this specific case implemented in the reconciler or will it be added in a later stage?

[2020-10-15 22:01] vladdy commented on #324
I'll check this /assign

[2020-10-15 22:10] aramase commented on #324
/assign @vladdy

[2020-10-19 18:14] tam7t opened #349 "Remove hostNetwork: true"
**Describe the solution you'd like**
Currently the CSI driver pods are configured with:

`hostNetwork: true`

Once plugins are migrated to the grpc interface, the plugin daemonset will be the process making external API calls, so there should not be a need for the driver itself to set this.

[2020-10-19 18:34] ritazh opened #350 "Add security code checking using gosec linter"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Scan source code for security vulnerabilities using gosec.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Kubernetes version: (use `kubectl version`):

[2020-10-20 06:16] aramase commented on #350
/assign

[2020-10-20 19:11] aramase opened #353 "Add readiness probe for the driver"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
- Add readiness probe
- Liveness probe for the driver is done using the `liveness-probe` sidecar. We should also add a liveness probe check and configure that in the deployment.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment

[2020-10-21 07:16] mo-saeed opened #354 "[secrets rotation] exclude the terminated pods from the secrets rotation"
**What steps did you take and what happened:**

we have right now thousands of logs generated for the terminated pods with failed to reconcile secrets error, and this is harming badly our log clusters plus it makes logs unreadable and the important logs are lost.

Can you please exclude the secret rotation mechanism for the terminated pods?

**What did you expect to happen:**
no secret rotation fo

[2020-10-21 15:12] ritazh opened #355 "Fix e2e failure"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Getting consistent e2e failures from previous [runs](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_secrets-store-csi-driver/348/pull-secrets-store-csi-driver-e2e-vault/1318819236537176064/build-log.txt):

[code]
We should do the following:
1. Fix the TTY issue by r

[2020-10-21 16:07] aramase commented on #355
@ritazh PTAL at https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/352. It contains the fixes for the TTY issue.

[2020-10-21 16:29] aramase commented on #338
ping @tomhjp

[2020-10-21 17:43] aramase opened #356 "Possibility to annotate the created secret with CSI driver"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Original issue - https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/279

At the moment the secrets can only be used within the namespace that the pod mounts the disk and secret is created. Using kubed we could share that secret with other namespaces. This will allow us to have si

[2020-10-21 19:29] aramase commented on #346
@bbgobie Thank you for opening the issue. The file permissions are currently not configurable.

[2020-10-21 19:29] aramase commented on #346
/kind feature

[2020-10-21 19:58] aramase opened #357 "Switch to using official images for containers"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
The `node-driver-registrar` and `liveness-probe` container images are currently referenced from mcr for Windows and quay registry for Linux.

`k8s.gcr.io/sig-storage/csi-node-driver-registrar:v2.0.1` and `k8s.gcr.io/sig-storage/livenessprobe:v2.1.0` container images now support multi-arch. We should

[2020-10-21 20:40] #350 closed

[2020-10-21 21:21] aramase commented on #257
/remove-lifecycle stale

[2020-10-22 09:37] Evalle commented on #357
I can take care of this /assign

[2020-10-22 09:38] Evalle commented on #357
/assign

[2020-10-23 18:22] chrisamert opened #361 "Support configuring updateStrategy.rollingUpdate.maxUnavailable in Helm charts"
**Describe the solution you'd like**
Right now the Helm Chart configure the Daemonset with the RollingUpdate strategy, but don't provide any option so specify the 'maxUnavailble' property, so the default value of '1' is being used. On our 60+ node clusters this is causing the deployment to take 40+ minutes to complete. It would be great if the Helm charts allowed 'maxUnavailable' to be configurabl

[2020-10-23 18:49] #355 closed

[2020-10-23 19:14] aramase commented on #361
/assign @chrisamert

[2020-10-23 20:39] #357 closed

[2020-10-26 21:14] doug-papenthien-by opened #364 "Secrets not properly synchronized when VAULT name changes but k8s name is reused"
**What steps did you take and what happened:**
During a recent refactoring of some code, we updated our service configuration to use a different secret name from our Azure Key Vault.  However, the corresponding k8s secret name remains unchanged.  When this new service configuration is deployed, the k8s secret value is *NOT* being updated with the new value.  Interestingly, the secret value in the

[2020-10-27 11:28] forumsheth commented on #338
Hi @tomhjp can you help me with this issue?

[2020-10-27 14:50] tomhjp commented on #338
Sorry for the delay. It's hard to say what could be going wrong without the ability to locally reproduce. One thing worth noting is that if you try to read a Vault secret path that does not exist, you will get a permission denied error to ensure enumeration attacks don't leak information. With that in mind, I wonder if the secret provider class you have deployed is misconfigured to read the wrong

[2020-10-27 17:17] aramase commented on #364
@doug-papenthien-by So this is a known limitation - https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/docs/README.limitations.md#mounted-content-and-kubernetes-secret-not-updated-after-secret-is-updated-in-external-secrets-store. The Kubernetes secret is created the first time a pod referencing it is created. The secret data is mirrored based on the content in mount.

To enab

[2020-10-27 22:00] doug-papenthien-by commented on #364
Hmm, I thought the scenario I'm reporting was slightly different than this, but after reading your first link I'm not so sure anymore.  In my case, we've kept the same name of the k8s secret but are mapping it to a brand new name in the remote key vault.  A new pod is created for this deployment because we have an annotation on the deployment that is a hash of the secret configuration.  This way c

[2020-10-27 23:28] aramase commented on #347
https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/1602-structured-logging/README.md

[2020-10-28 00:57] #361 closed

[2020-10-28 06:31] forumsheth commented on #338
Hi @tomhjp , yeah I am aware that it gives a permission denied on a wrong path. As you can see in the above screenshots attached the capabilities show that only the path that has permission shows : create,delete,list,read  and other path shows deny.

I have changed the secret path in my example and accordingly configured the secretproviderclass.
The yaml files used are as below:
**Driver:**
1. In

[2020-10-28 16:05] aramase commented on #265
/remove-lifecycle stale

[2020-10-29 01:08] aramase commented on #268
/remove-lifecycle stale

[2020-10-29 06:17] aramase opened #367 "cleanup csi socket as part of shutdown from plugins dir"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
`secrets-store` container should clean up the `csi.sock` from plugins dir as part of graceful shutdown

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Kubernetes

[2020-10-29 06:21] aramase commented on #347
/assign

[2020-10-29 16:39] aramase commented on #194
/retitle Determine and deflake tests

[2020-10-29 16:39] aramase commented on #194
/remove-lifecycle stale

[2020-10-29 16:42] aramase commented on #299
Closing this issue because we haven't heard back in more than 30 days. Please feel free to open a new issue if the issue still exists.

/close

[2020-10-29 16:42] #299 closed

[2020-10-29 16:46] aramase opened #368 "Ability to run e2e tests locally for each provider"
/kind documentation

[2020-10-29 16:49] aramase opened #369 "Update demo in README"
/kind documentation
/kind cleanup

/assign

[2020-10-29 16:51] aramase opened #370 "Enhance documentation"
- [ ] Feature gaps/known limitations
- [ ] Best practices guide
- [ ] Host CSI driver docs in their own Netlify site (Issue: #335)
- [ ] Docs for new contributors (Issue: #271)
- [ ] Update demo in README (Issue: #369)
- [ ] Troubleshooting guide
- [ ] Load test results (Issue: #111)
- [ ] Future Roadmap maintained as part of the project board
- [ ] Release management doc
- [ ] Driver-Provider fea

[2020-10-31 21:26] jamesikanos opened #372 "Secret versions not updating on Pod Restart"
I have created an NGINX pod and am injecting secrets via both the filesystem (mount) and environment variables.

When the pod boots, the secrets are all present and correct.

Then, I add a new version to my Azure secret.

- If I delete the pod and re-create, the secrets are updated to the latest version
- If I restart the pod (using `nginx -s stop` inside the pod) then the previous version remains

[2020-11-01 12:53] jamesikanos commented on #372
Follow up, I gather that this is a "known-issue" (https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/docs/README.limitations.md#mounted-content-and-kubernetes-secret-not-updated-after-secret-is-updated-in-external-secrets-store).

In this case, can the ReadMe.md be updated to remove "and restart" from the documentation?

[2020-11-02 18:27] tomhjp commented on #338
I'm still struggling to piece together your end to end example with any confidence that it actually replicates your environment. However, your infra seems pretty close to the deployment laid out in the [learn guide](https://learn.hashicorp.com/tutorials/vault/kubernetes-secret-store-driver), and I'm pretty confident we're not looking at a bug here. Having said that, I'll try one more guess - one i

[2020-11-02 19:06] aramase commented on #372
@jamesikanos Restarting the container process doesn't create a new pod sandbox. The CSI driver is only invoked by the kubelet as part of pod creation volume mount. We've added support for auto rotation alpha feature that periodically fetches the latest content from external secrets store and updates the volume mount and Kubernetes secret. Here are some doc links for this -

- https://github.com/ku

[2020-11-02 19:42] aramase commented on #353
Did some investigation today. The driver has a liveness probe side car container which queries the driver using the unix socket and reports readiness status every `3s`. You can query the driver readiness status by `curl <node ip>:9808/healthz`. This will return response `ok` with `200 OK` status code if the driver is up and running on the node and is responding on the unix socket.

[code]

Here `1

[2020-11-05 16:16] #369 closed

[2020-11-05 18:08] #347 closed

[2020-11-05 18:51] aramase commented on #372
@jamesikanos Did you get a chance to try out the auto rotation feature?

[2020-11-05 18:55] aramase commented on #364
The Kubernetes secret is created by reading the files from the pod mount. The secret by default is not updated with new pod is created because there would be a discrepancy in the secret objects and the mounted content in case of old pods. However with auto rotation we periodically refresh the mount for all pods and then subsequently the Kubernetes secret.

The auto rotation feature is an alpha fea

[2020-11-05 21:50] doug-papenthien-by commented on #364
Thanks for the detailed info.

[2020-11-05 21:50] #364 closed

[2020-11-05 23:22] aramase commented on #324
@vladdy No rush, but let me know if you need any help with the PR.

[2020-11-05 23:25] #321 closed

[2020-11-05 23:37] aramase commented on #320
/close

(With switch to `klog`. `klog` writes logs to stderr too. Changing the `io.Writer` for each log level results in duplication of logs)

[2020-11-05 23:37] #320 closed

[2020-11-05 23:41] aramase commented on #133
Closed with #363

/close

[2020-11-05 23:41] #133 closed

[2020-11-08 11:00] jamesikanos commented on #372
Hi @aramase. Apologies for the delay.

I haven't tried it yet, but I certainly will shortly.

Thank you for your response.

[2020-11-09 19:35] aramase commented on #354
Closing this with
https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/373
https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/365

These will be included as part of `v0.0.17` release

/close

[2020-11-09 19:35] #354 closed

[2020-11-09 20:11] jemag commented on #298
I think this is a reasonable suggestion given the fact that the main use case for the secrets-store-csi-driver is the integration with some kind of vault.

There are a lot of resources that rely on native kubernetes secrets. Let's say that I have 100+ resources depending on a native kubernetes secret. Right now, that would mean that I need to create a SecretProviderClass, then add relatively usele

[2020-11-09 23:02] tam7t opened #375 "Change default install namespace to kube-system"
**Describe the solution you'd like**
Currently when the driver is installed with just `kubectl apply -f deploy/secrets-store-csi-driver.yaml`  the driver is installed to the `default` namespace.

Considering the permissions granted to the `secrets-store-csi-driver` ServiceAccount in `rbac-secretproviderclass.yaml` and `rbac-secretprovidersyncing.yaml`, I think it would be better to use the `kube-s

[2020-11-09 23:02] tam7t commented on #367
If help is needed here I can look into this.

[2020-11-09 23:05] aramase commented on #367
@tam7t Go for it! The `node-driver-registrar` cleans up the `registration.sock`. So this one would specifically be for the `csi.sock` that the driver is listening on.

[2020-11-10 00:48] #324 closed

[2020-11-10 09:40] pierluigilenoci commented on #354
@aramase Thank you!

[2020-11-10 09:46] pierluigilenoci commented on #354
@aramase is there an approximated/expected release date for `v0.0.17`?

[2020-11-10 23:10] tam7t opened #378 "CVE-2020-8568: Secrets sync/rotate directory traversal"
CVSS Rating: Medium(5.8) [CVSS:3.1/AV:N/AC:H/PR:H/UI:N/S:C/C:H/I:N/A:N](https://www.first.org/cvss/calculator/3.1#CVSS:3.1/AV:N/AC:H/PR:H/UI:N/S:C/C:H/I:N/A:N)

Modification of `SecretProviderClassPodStatus/Status` resource could result in writing content to the host filesystem and syncing file contents to Kubernetes Secrets. This includes paths under `var/lib/kubelet/pods` that contain other Kube

[2020-11-11 01:17] kanukhosla opened #379 "How do I use this in a deployment yaml file ?"
I created this yaml based on your tutorial but got an error while deploying this file using HELM.

[code]

I get this error while deploying :

`Error: UPGRADE FAILED: failed to create resource: Deployment.apps "kktest3" is invalid: [spec.template.spec.volumes[0].csi: Forbidden: may not specify more than 1 volume type, spec.template.spec.containers[0].volumeMounts[0].name: Not found: "azurefileshar

[2020-11-11 14:14] Imamjanishaik commented on #242
secretProviderClassNamespace is not supported currently ?

[2020-11-11 18:03] aramase commented on #379
@kanukhosla As the error suggests, you can't use multiple volume sources for a single volume. You would need to create a volume for each source.

Here is a sample deployment for using the CSI volume - https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/test/bats/tests/azure/nginx-deployment-synck8s-azure.yaml.

[2020-11-11 19:03] kanukhosla commented on #379
@aramase could you help me rewrite my yaml file ? I found no difference in my yaml file except for the block:
[code]

[2020-11-12 21:04] aramase opened #382 "target path will not be created before NodePublish for 1.20+"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
As added in the changelog -
[code]

Reference announcement - https://groups.google.com/g/container-storage-interface-drivers-announce/c/GgtP9kiv5Qc/m/CO2yyOJvAAAJ

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
We need to check if the targe

[2020-11-14 01:29] #335 closed

[2020-11-14 01:48] aramase commented on #378
This CVE has been fixed with [v0.0.17](https://github.com/kubernetes-sigs/secrets-store-csi-driver/releases/tag/v0.0.17) release of the driver.

/close

[2020-11-14 01:48] #378 closed

[2020-11-14 01:49] aramase commented on #379
Thank you for confirming! Closing this issue. Please feel free to reopen if you've any questions.

/close

[2020-11-14 01:49] #379 closed

[2020-11-14 01:50] aramase commented on #382
/assign

[2020-11-16 17:36] tam7t opened #384 "CVE-2020-8567: Plugin directory traversals"
CVSS Rating: Medium(4.9) [CVSS:3.1/AV:N/AC:H/PR:L/UI:N/S:C/C:N/I:L/A:L](https://www.first.org/cvss/calculator/3.1#CVSS:3.1/AV:N/AC:H/PR:L/UI:N/S:C/C:N/I:L/A:L)

Specially crafted `SecretProviderClass` can write to arbitrary file paths on the host filesystem, including `/var/lib/kubelet/pods`.

## Am I vulnerable?

All supported plugins included this bug.

### Affected Versions
Vault Plugin: < v0.0

[2020-11-16 17:46] aramase commented on #384
This CVE has been fixed with the latest provider releases.

/close

[2020-11-16 17:46] #384 closed

[2020-11-16 20:01] aramase commented on #367
/assign @tam7t
/milestone v0.0.18

[2020-11-16 20:03] aramase commented on #242
That's right. `SecretProviderClass` is namespace scoped resource. This is in conformance with Kubernetes RBAC best practices to prevent privilege escalation.

[2020-11-17 08:07] mo-saeed opened #385 "Terminated pods with thousands of error logs and events"
**What steps did you take and what happened:**
- Create a cronjob
- After the jobs failed or succeeded we have pods with status (Terminated: completed or Terminated: error)
- In both cases, I don't expect the driver to do any operations for these pods but it's not the case and we get thousands of events and logs which really impacting our logs cluster badly

[code]

**What did you expect to happen

[2020-11-17 17:04] aramase commented on #176
/remove-lifecycle stale

[2020-11-18 10:11] Dyllaann commented on #372
Hi @aramase, I'll comment on this issue as I wanted to re-open #321, but it seems this issue is similar.
I think the auto-rotation feature fixes the problem where secrets are changed from the vault, but not when secrets are changed in the SecretProviderClass.

Assume scenario 1 where an application with the following snippets are deployed:
SecretProviderClass.yaml (partial)
[code]
Pod.yaml (Partia

[2020-11-18 10:18] Dyllaann opened #389 "Secret object not renewed on change in SecretProviderClass"
Hi!
I found the following issue, which I also listed in #321, but I think it's not explained properly. I'll try to describe it using a scenario below.

**What steps did you take and what happened:**
Assume scenario 1 where an application with the following snippets are deployed:
SecretProviderClass.yaml (partial)
[code]
Deployment.yaml (Partial)
[code]

The pod boots up, mounts the volume, the sec

[2020-11-18 13:58] uthsab opened #390 "Auto rotation of mounted contents and synced Kubernetes Secrets enabled but latest version not synced"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
- installed secret-store-provider-azure using helm and setting enableSecretRotation=True
- created secretProviderClass to sync secret from given AKV and sync it to given k8s secret
- created dummy pod and mounted the above secret on it.
- created new version of secret and checked value after 5 minu

[2020-11-18 17:35] aramase commented on #390
@uthsab Could you provide more info?
1. `kubectl describe pod <pod name>` output.
2. The logs from the CSI driver pod (`secrets-store` container) running on the same node as your application.
3. The logs from the AKV provider pod running on the same node as your application.

[2020-11-18 17:42] aramase commented on #389
@Dyllaann Thank you for the detailed explanation. The behavior you're observing is currently expected.

The Secrets Store CSI Driver has 2 reconcilers -
1. That creates the initial Kubernetes secret when the pod is created. This reconciler never updates the secret if it already exists. This is because if the `SecretProviderClass` is updated and then a new pod is created referencing the `SecretProv

[2020-11-18 18:05] Dyllaann commented on #389
Thanks for clarifying that. I can understand there will be use cases where the inconsistency will cause problems.
Unfortunately in my case, I use a SecretProviderClass for each individual application (not sure if this is the intended usage, but hey it works partially).
If the SecretProviderclass backing a deployment/daemonset is changed, that means there probably are also changes to the pod itself

[2020-11-19 01:50] #367 closed

[2020-11-19 02:04] helayoty commented on #368
/assign @helayoty

[2020-11-19 04:12] uthsab commented on #390
[files.zip](https://github.com/kubernetes-sigs/secrets-store-csi-driver/files/5564299/files.zip)
Added the said logs and output

[2020-11-19 05:16] aramase commented on #390
@uthsab The rotation feature isn't enabled based on the logs. When auto rotation is enabled, you should see:
[code]

in the logs.

This is the command I used to install the charts:
[code]

Please check if you're setting the right flags while deploying the driver and provider.

[2020-11-19 07:05] uthsab commented on #390
I had earlier used "--set enableSecretRotation=True" in place of "--set secrets-store-csi-driver.enableSecretRotation=true"

With the change suggested, the rotation works fine. Thanks for the suggestion. Closing the issue.

[2020-11-19 07:05] #390 closed

[2020-11-19 14:30] lpghartz commented on #298
I agree with jemag on this -- not being able to sync any of the secrets from a vault into a secret means effectively having to manage secrets in two ways for most systems, because pretty much every Helm chart and 3rd party component manages its pods via an Operator or other mechanism, and you can't control how they access secrets. They just expect them to be present.

That leaves administrators ha

[2020-11-19 21:39] helayoty commented on #368
- [ ] Azure: Add script to generate the necessary objects
- [ ] Azure: Test user can run the e2e test toward their own Keyvault/ Service Principal
- [ ] GCP: Add script to generate the necessary objects
- [ ] GCP: Test user can run the e2e test toward their own key store/ Service Account
- [ ] Update documentation

[2020-11-24 20:46] aramase opened #392 "Set key type to RSA or EC based on the key"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
The current logic always sets the private key type to `RSA`
https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/c28fde2e9d4cc25049f04e5ccccaaa31119525e8/pkg/util/secretutil/secret.go#L39

The type of the key is determined in `getPrivateKey`. We should set the type of the preamble based

[2020-11-30 20:48] aramase opened #398 "Update ldflags to use new build variables"
https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/396 adds `BuildVersion`, `BuildTime` and `Vcs` env vars to inject build time variables. With this we can remove the hard coding of `vendorVersion` in the `secrets-store` package.

Update the build scripts in `docker/*` dir to use the new ldflags as part of the next release. This change needs to be done during the release because any

[2020-11-30 22:12] #385 closed

[2020-11-30 22:22] #392 closed

[2020-11-30 23:34] aramase commented on #375
/assign @tam7t

[2020-11-30 23:34] aramase commented on #372
@jamesikanos Any updates on the issue?

[2020-11-30 23:35] aramase commented on #338
@forumsheth Did you get a chance to see @tomhjp comments? Is the issue resolved now?

[2020-12-01 07:10] forumsheth commented on #338
Hi @aramase Yeah I did the changes @tomhjp  mentioned but even after that getting the same permission denied error.
Also enabled audit logs and it shows the same error msg
Audit log shows:
`
{"time":"2020-11-20T12:45:40.650084459Z","type":"request","auth":{"client_token":"hmac-sha256:7397c6833efb2a5f7d4105a226b779f16b5f07a11644d9a04f7936bcf6639f","accessor":"hmac-sha256:2d10416e1c2a52ce87af436ef32

[2020-12-01 18:16] #382 closed

[2020-12-01 19:42] #375 closed

[2020-12-02 17:37] aramase opened #401 "Create provider grpc client dynamically"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Currently the driver supports a mix (grpc or invoking binary) for communicating with the providers. With https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/394 the provider clients are created at start up based on providers in the `--grpc-supported-providers` list. If a new provider nee

[2020-12-05 01:19] aramase commented on #319
/assign

[2020-12-08 07:31] #300 closed

[2020-12-08 23:00] aramase opened #403 "Update the apiVersion for csidriver after 1.21 release"
Update the `apiVersion` to `storage.k8s.io/v1` for csidriver in `manifest_staging/deploy/csidriver.yaml` and `deploy/csidriver.yaml` after Kubernetes 1.21 release.

[2020-12-09 18:58] #319 closed

[2020-12-10 21:00] #398 closed

[2020-12-14 22:39] aramase commented on #372
Closing this issue due to inactivity. Please feel free to reopen if you've any questions.

/close

[2020-12-14 22:39] #372 closed

[2020-12-22 08:48] mitsutaka opened #407 "Add podname and/or podIP label to metrics."
**Describe the solution you'd like**
https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/v0.0.18/docs/README.metrics.md

By default, csi-driver uses ports `:8095` and `:8888` to provide metrics endpoints.
Some SCI specific metrics have already been implemented.
I want to add a podname and/or podIP label to identify which pod's metrics prometheus scraped

**Anything else you would like

[2020-12-22 10:37] mitsutaka commented on #407
If we leave it to prometheus by relabel_config, we can guide it in the doc and close it.

[2020-12-23 08:46] ZhijunZhao commented on #407
@mitsutaka Do you have a working solution? If yes, could you share a sample scrape config?

Most projects use service to expose an HTTP endpoint for prometheus to scrap. This project simply exposes a port. I'm not sure how to instruct prometheus to scrap the ports of all kubernetes nodes.

[2020-12-23 09:20] mitsutaka commented on #407
@ZhijunZhao I haven't tried scraping yet, but I suppose it can be done by typical scraping configuration with service discovery.

This is example of annotation for Prometheus service discovery
[code]

And this is sample scrape config.

[code]

Upstream's helm chart still enables `hostNetwork: true`( and it is planned #349 ) but I confirmed csi-driver DaemonSet works without hostNetwork. In my case

[2020-12-25 08:41] ZhijunZhao commented on #407
@mitsutaka Thanks for the help! Looks like simply adding the annotations is sufficient, because the default scrape config includes below settings.

[code]

The helm chart doesn't provide the parameter to add pod annotations. I'll open an issue for it.

[2020-12-27 00:42] mitsutaka commented on #407
It makes sense. Thanks @ZhijunZhao

[2020-12-27 00:42] #407 closed

[2020-12-30 03:05] ZhijunZhao opened #408 "The helm chart doesn't provide parameter for adding pod annotations"
**What steps did you take and what happened:**

I'm trying to setup Prometheus to scrap metrics from the driver. It looks like adding below annotations to the pods is the optimal solution. With below annotation, Prometheus can scrap the pods via service discovery.

[code]

**What did you expect to happen:**

The helm chart should provide a parameter for adding annotations to the driver pods. Pleas

[2020-12-30 03:15] ZhijunZhao commented on #407
Here is the issue #408

[2020-12-30 07:13] ZhijunZhao commented on #407
@mitsutaka I have one more question if you don't mind.

The issue I'm having is that I don't see any metrics, such as `total_node_publish_error`, mentioned in the [docs](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/048859845c4e7b2b7bdd47fb071f6b2ae962893f/docs/README.metrics.md). I set the `metricsAddr` to 8081. (I tried setting it to other numbers as well.) Then I curl the met

[2020-12-30 07:30] mitsutaka commented on #407
@ZhijunZhao driver related metrics are exposed on another port `:8888` as I mentioned on the description. Implementation https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/pkg/metrics/exporter.go#L26

metrics on `:8081` is bound to metrics based on the controller-runtime https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/cmd/secrets-store-csi-driver/main.g

[2020-12-30 14:15] romina2001 opened #410 "Can't fetch secret in a namespace different from the one of the csi driver"
# Azure documentation issue guidance
Ref: https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes

Hi,

I have followed the documentation in order to integrate AKS with AKV and all works well if the pod is in the same namespace with the csi-driver, and the SecretProviderClass .
If the pod is in a different namespace, together with the SecretProviderClass I get the f

[2020-12-31 06:15] ZhijunZhao opened #411 "Improvement about the port of driver metrics endpoint"
**Describe the solution you'd like**
I'm using Prometheus to gather the driver metrics. I thought parameter `metricsAddr` can control the port of the metrics endpoint. However, this endpoint only exposes controller related metrics.

With the help of @mitsutaka, I realize that the port is [hard-coded](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/pkg/metrics/exporter.go#L2

[2020-12-31 06:17] ZhijunZhao commented on #407
@mitsutaka Appreciate the clarification. I created #411 to track this issue.

[2021-01-04 17:05] aramase commented on #410
@romina2001 If using Service Principal for auth, the Kubernetes secrets containing the credentials need to be created in the same namespace as the application pod. The secret name provided in `nodePublishSecretRef`  is only looked up in the same namespace as the app pod to conform with best practices.

[2021-01-04 17:25] aramase commented on #411
@ZhijunZhao You can configure the prometheus port using:

https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/efe288d26b8adc2d4f8e86769b678257ec7be5e1/pkg/metrics/exporter.go#L26

This value isn't exposed in the helm chart. We can get this added in the next release.

[2021-01-04 17:42] aramase commented on #322
/remove-lifecycle stale

[2021-01-05 00:24] aramase opened #414 "CVE-2020-27350, CVE-2020-29362"
[code]

[2021-01-05 00:24] aramase commented on #414
/kind bug
/assign

[2021-01-05 00:26] aramase opened #415 "Enable image scan as part of CI"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
- Enable image scan using trivy as part of CI

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Kubernetes version: (use `kubectl version`):

[2021-01-05 00:26] aramase commented on #415
/assign

[2021-01-05 00:29] aramase opened #416 "Dump logs as part of CI"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Currently there is no way to debug test failures in CI. We should dump logs after tests are run to debug errors and also to determine if we are logging all the required information.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environ

[2021-01-05 00:29] aramase commented on #416
/good-first-issue

[2021-01-05 00:30] aramase commented on #403
/kind cleanup

[2021-01-05 00:31] aramase commented on #315
/good-first-issue

[2021-01-05 01:12] aramase opened #418 "pull-secrets-store-csi-driver-e2e-gcp job failing"
This PR job has been failing for PRs

Some of the PRs:
https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/412
https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/413
https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/417

/kind failing-test
cc @tam7t

[2021-01-05 21:33] tam7t commented on #418
The `gcp-secrets-store-cred` from https://github.com/kubernetes/test-infra/blob/c50d055243429b918a2539b4ad86f91dce550520/config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-presets.yaml#L36 has expired.

I've generated a new one and waiting for test infra to be updated.

[2021-01-05 21:34] tam7t commented on #418
the new one will expire on 5 April, so I'll need to rotate before then again 😢

[2021-01-06 00:28] aramase commented on #418
Looks like the new creds are ready for use: https://kubernetes.slack.com/archives/C09QZ4DQB/p1609881564374600

Trying on a PR to confirm it's working.

[2021-01-06 00:38] aramase commented on #418
Creds are fixed now. The tests are green again.

@tam7t I think we should have an issue to remind rotating the creds again on 5th April. We can open an issue here or the gcp provider. WDYT?

[2021-01-06 01:47] #408 closed

[2021-01-06 09:23] romina2001 commented on #410
Thank you. Yes it works if the secret is in the same namespace.

[2021-01-06 09:23] #410 closed

[2021-01-07 16:15] tam7t commented on #401
/assign @tam7t

[2021-01-07 16:29] tam7t commented on #418
As discussed in the sig meeting today I'll reach out to #sig-testing to see if there's another auth mechanism that doesn't require manual rotation.

[2021-01-07 16:57] ritazh opened #420 "Create Production Readiness doc"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

The KEP template can be used as a guide for what should be done prior to moving the project to stable.
Specifically:
- Graduation criteria
- Upgrade / Downgrade strategy
- Version Skew Strategy
- Production Readiness Review

https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-templa

[2021-01-08 23:49] #411 closed

[2021-01-11 00:05] ritazh commented on #345
/remove-lifecycle stale

[2021-01-12 19:53] aramase commented on #25
/remove-lifecycle stale

[2021-01-15 17:51] aramase opened #423 "Update node-driver-registrar and liveness-probe images"
- Update `node-driver-registrar` to `v2.1.0`
- Update `liveness-probe` to `v2.2.0`

[2021-01-15 22:25] #423 closed

[2021-01-19 18:33] aramase commented on #356
/remove-lifecycle stale

[2021-01-19 20:38] aramase commented on #346
/remove-lifecycle stale

[2021-01-20 14:18] ptilloo opened #427 "Facing issue in installing secrets-store-csi-driver with kubernetes 1.16"
Hi - I am facing issue with installing secrets-store-csi-driver in my Kubernetes cluster 1.16.

.\helm install --name csi-secrets-store secrets-store-csi-driver/secrets-store-csi-driver --namespace csi
Error: render error in "secrets-store-csi-driver/templates/csidriver.yaml": template: secrets-store-csi-driver/templates/_helpers.tpl:40:45: executing "csidriver.apiVersion" at <.Capabilities.KubeVe

[2021-01-20 16:58] aramase commented on #427
@ptilloo Helm3 is a prerequisite for the charts: https://github.com/kubernetes-sigs/secrets-store-csi-driver/tree/master/charts/secrets-store-csi-driver#prerequisites.

[2021-01-21 00:56] aramase opened #429 "pull-secrets-store-csi-driver-e2e-vault failing"
/kind failing-test

The Vault provider has cut a new release with the grpc changes: https://github.com/hashicorp/secrets-store-csi-driver-provider-vault/releases/tag/0.0.7.

The tests here need to be updated to include vault as grpc provider.

[2021-01-21 01:09] aramase commented on #429
cc @tomhjp

[2021-01-21 13:55] ptilloo commented on #427
Thank You for clarifying @aramase.  Another question I had was in the File - secretproviderclass.yaml - like :

# This is a SecretProviderClass example using a service principal to access Key Vault
apiVersion: secrets-store.csi.x-k8s.io/v1alpha1
kind: SecretProviderClass
metadata:
  name: azure-kvname
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"         # [OPTIONAL] if not pro

[2021-01-21 17:19] aramase commented on #427
@ptilloo Those are the secret/key/certificate object names that you want to retrieve from keyvault. Here is the doc on the configuration values: https://azure.github.io/secrets-store-csi-driver-provider-azure/getting-started/usage/

Installation doc: https://azure.github.io/secrets-store-csi-driver-provider-azure/getting-started/installation/

[2021-01-21 18:06] tomhjp opened #432 "Make it possible to run providers as a non-root user"
**Describe the solution you'd like**

Following up as requested from today's community meeting, it would be nice to be able to run providers as a non-root user. To the best of my knowledge, the only blocker at the moment is that providers require writeable hostPath volume mounts for two reasons:

* Writing secret material for pods
* Establishing a unix socket over which it can communicate with the

[2021-01-21 19:35] #429 closed

[2021-01-22 04:56] ptilloo commented on #427
@aramase  - Thanks so much for the help.

[2021-01-22 07:37] ZhijunZhao commented on #408
@aramase Your PR supports **daemonset** annotation, instead of **pod** annotations.

To let Prometheus discover the driver pods, annotations has to be added

[code]

[2021-01-22 18:43] aramase commented on #427
Happy to help! Closing this issue now as there is nothing outstanding.

Please feel free to open an issue [here](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) if you have any questions specifically for the Azure provider.

/close

[2021-01-22 18:43] #427 closed

[2021-01-22 18:43] aramase commented on #420
/assign

[2021-01-22 23:31] #414 closed

[2021-01-26 03:31] ZhijunZhao commented on #408
@aramase Any plan to fix or re-open this issue?

@recao @zhenlan for awareness.

[2021-01-26 03:33] ZhijunZhao commented on #408
@shenmuxiaosen as well.

[2021-01-26 17:17] aramase commented on #265
/remove-lifecycle stale

[2021-01-26 20:11] aramase opened #435 "Helm value for setting pod annotations"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Kubernetes version: (use `kubectl version`):

[2021-01-26 20:11] aramase commented on #435
/good-first-issue

[2021-01-26 20:13] aramase commented on #408
@ZhijunZhao I've opened https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/435 to track it.

Are you interested in opening a PR to add the changes to [manifest_staging](https://github.com/kubernetes-sigs/secrets-store-csi-driver/tree/master/manifest_staging/charts/secrets-store-csi-driver)?

[2021-01-27 17:33] aramase commented on #111
/remove-lifecycle stale

[2021-01-27 17:33] aramase commented on #194
/remove-lifecycle stale

[2021-01-27 17:33] aramase commented on #271
/remove-lifecycle stale

[2021-01-27 17:33] aramase commented on #370
/remove-lifecycle stale

[2021-01-27 17:34] aramase commented on #239
/remove-lifecycle stale

[2021-01-27 17:34] aramase commented on #296
/remove-lifecycle stale

[2021-01-27 19:36] prateekchawla opened #438 "MountVolume.SetUp failed for volume with error rpc error: code = DeadlineExceeded desc = context deadline exceeded"
**What steps did you take and what happened:**
Not able to mount secret using csi driver.

**What did you expect to happen:**
Secret should have been mounted

**Anything else you would like to add:**
Secret Provider Class -
[code]
Pod file-
Mount details -
[code]
volume details -
[code]
Pod description

`

**Which provider are you using:**
Azure Key Vault

**Environment:**

- Secrets Store CSI Dri

[2021-01-27 19:42] aramase commented on #438
/close as duplicate of https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/438

[2021-01-27 19:42] aramase commented on #438
/close

[2021-01-27 19:42] #438 closed

[2021-01-27 21:35] #349 closed

[2021-01-28 00:20] mitsutaka commented on #239
sorry that no activity for a long time. I'm going to rebase PR with the latest code.
e2e testing with ginkgo is going to be another Makefile target to keep both bats based. We may need to set a short retention period to reduce the difference test cases. Once migrating test code to ginkgo base has done, we can remove bats based.

[2021-01-29 09:33] ZhijunZhao commented on #408
Sure, please check my PR #440

[2021-02-05 01:44] #435 closed

[2021-02-05 10:36] pierluigilenoci opened #442 "Problems with log configurations"
**What steps did you take and what happened:**

* We have configured the log to be in JSON format but we lose some information
* We have configured the pod to generate logs at verbosity 1 (WARNING) but still log type 0 (INFO)

* We want to have the JSON format and verbosity level for all pod containers but some configurations are missing in the Helm Chart.

**What did you expect to happen:**

* Th

[2021-02-05 10:51] pierluigilenoci commented on #442
@aramase could you please take a look?

[2021-02-05 10:52] aelmanaa opened #443 "regular liveness-probe OOM"
**What steps did you take and what happened:**
Hello,

we are running secret-store-csi on AKS and we notice regular restarts of containers due to OOM.
Just checked Azure monitoring tools and indeed I see that for the past 30 days, memory(Memory working set) increases until OOM. Is there a memory leak?

![image](https://user-images.githubusercontent.com/4503543/107024340-39fd4b80-67a8-11eb-9f38-9fa

[2021-02-05 11:35] pierluigilenoci commented on #442
I also tried to set level 2 (ERROR):

Chart configuration:
[code]

`secret-store` logs with verbosity 2 (ERROR) in JSON format
[code]

`liveness-probe` logs with verbosity 2 (ERROR) in text format
[code]

[2021-02-05 18:27] aramase commented on #443
@aelmanaa Could you use the latest version of the driver [v0.0.19](https://github.com/kubernetes-sigs/secrets-store-csi-driver/releases/tag/v0.0.19) and liveness-probe? We've updated the liveness-probe image to `v2.2.0` with the latest release which contains fixes for memory leaks ([PR](https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/424))

The `liveness-probe` container is owned

[2021-02-05 19:21] ritazh commented on #443
@aramase Can you pls add a ❗ :exclamation: to the release note of https://github.com/kubernetes-sigs/secrets-store-csi-driver/releases/tag/v0.0.19 to highlight this fix?

[2021-02-05 19:51] aramase commented on #443
Done! Also, added a warning note with reference to the fix in the liveness-probe repo.

[2021-02-09 17:19] aramase opened #446 "Disconnect scenarios"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
This issue is a placeholder to gather requirement and feedback for supporting the Secrets Store CSI Driver in disconnected scenarios. Disconnected scenarios here refers to clusters in air-gap or clusters that don't have access to external secrets store for a period of time.

**Anything else you would

[2021-02-09 17:19] aramase commented on #446
This was discussed in the last week's community call: https://docs.google.com/document/d/1q74nboAg0GSPcom3kLWCIoWg43Qg3mr306KNL58f2hg/edit#heading=h.umrsj5wzywil

[2021-02-10 09:57] ptilloo opened #447 "Error deploying app after adding secret-store-csi-driver and using Helm 3"
@ptilloo Helm3 is a prerequisite for the charts: https://github.com/kubernetes-sigs/secrets-store-csi-driver/tree/master/charts/secrets-store-csi-driver#prerequisites.

_Originally posted by @aramase in https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/427#issuecomment-763785466_

[2021-02-10 10:02] ptilloo commented on #447
Hi @aramase  - After sucessfully installing the - secrets-store-csi-driver - I am faced with a wired issue when I try do do the deployment off my application using helm3. The helm install fails while reading the yaml file from the backend_chart. I have a deployment.yaml which was running fine with helm 2 but I see this wired error in helm 3, i am using helm 3.5.2.

**Error: unable to build kuberne

[2021-02-11 02:16] aramase commented on #442
This project uses [klog](https://github.com/kubernetes/klog) for logging. This is the same logging framework used for Kubernetes.

This was a bug in the old version of klog which has been fixed in the later releases. I've opened #449 to update the klog version to latest which contains the fix.

[code]

These are not severity levels. The logs levels indicate the klog [v level logging](https://pkg.g

[2021-02-11 02:17] aramase commented on #442
The verbosity in the json log is the verbosity level set for the logs in the code (the value isn't an indication of what the user has set).

[2021-02-11 02:33] aramase commented on #447
@ptilloo Why are the options field in the volumes? I'm not sure how your application helm chart is structured but `options` is not a field in csi. Since it's a unknown value, it'll fail validation. All those configurations you've in options are to be set in the `SecretProviderClass`.

[2021-02-11 10:54] ptilloo commented on #447
@aramase  - We are upgrading from K8 1.15 to 1.16 which hence changes the way our application connects with the Key Vault store in Azure, the deployment yamls are old when flexVolume  was used, the options field was thus present in the deployment yaml when flexVolume  was in place now since from K8 1.16 flexVolume got replaced by csi , so I edited the yaml removing the flexVolume and add csi but l

[2021-02-11 11:07] pierluigilenoci commented on #442
@aramase feel free to add your comment here: https://github.com/kubernetes/klog/issues/211

[2021-02-11 11:22] pierluigilenoci commented on #442
@aramase your proposals for the JSON format (for `node-driver-registrar` and `liveness-probe`) have some conflict issues and cannot be merged. Can you fix them?

https://github.com/kubernetes-csi/node-driver-registrar/pull/129
https://github.com/kubernetes-csi/livenessprobe/pull/98

[2021-02-11 11:38] pierluigilenoci commented on #442
And last but not least, THANK YOU for all.

[2021-02-11 15:43] aramase commented on #442
@pierluigilenoci I'm waiting on some feedback from the CSI community for how to proceed with those PRs. Once the PR is merged and updated, we can update those component versions here which contains the support for JSON format.

[2021-02-11 15:52] #442 closed

[2021-02-12 00:51] aramase commented on #447
@ptilloo The Secrets Store CSI Driver functions differently from the keyvault flexvolume solution. The provider specific parameters are configured using a custom resource `SecretProviderClass`. Please take a look at the docs for more detailed info on how to configure.

https://secrets-store-csi-driver.sigs.k8s.io/
https://azure.github.io/secrets-store-csi-driver-provider-azure/

[2021-02-12 00:54] aramase commented on #443
Closing this issue as the latest `liveness-probe` image contains the fix. Please feel free to reopen if you find any issues after upgrading to the latest liveness-probe image.

/close

[2021-02-12 00:54] #443 closed

[2021-02-12 10:23] ptilloo commented on #447
@aramase  - Thanks for the links.  I have a  - secretproviderclass.yaml which looks like this  :

     apiVersion: secrets-store.csi.x-k8s.io/v1alpha1
kind: SecretProviderClass
metadata:
  name: azure-kvname
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"         # [OPTIONAL for Azure] if not provided, will default to "false"
    useVMManagedIdentity: "false"   # [OPTIONAL availa

[2021-02-12 17:01] sbose78 commented on #356
[code]
Hi!
Is this how you would expect it to be specified?

[2021-02-16 17:16] aramase commented on #257
/remove-lifecycle stale

[2021-02-16 17:17] aramase commented on #242
/remove-lifecycle stale

[2021-02-16 17:20] aramase commented on #447
@ptilloo Could you please check the logs for the driver and provider pods as mentioned in the troubleshooting guide? We've a standard walkthrough guide: https://azure.github.io/secrets-store-csi-driver-provider-azure/demos/standard-walkthrough/ that'll help you with the steps as you try out the project.

[2021-02-16 17:20] aramase commented on #176
/remove-lifecycle stale

[2021-02-16 18:52] Dyllaann commented on #389
/remove-lifecycle stale

[2021-02-17 15:17] mo-saeed opened #450 "Add pod security policy to the helm chart"
**Describe the request**
Right now we have a pod security policy enabled in our k8s clusters that prevent the creation of certain volumes and allow only certain capabilities, etc.. this is a blocker to deploy secrets-store-csi-driver properly so we had to create the following pod security policy manually.

[code]

**Explain why AAD Pod Identity needs it**
To deploy secrets-store-csi-driver success

[2021-02-17 18:54] aramase commented on #418
@tam7t What was the outcome of the discussion with #sig-testing? Should we close this issue now?

[2021-02-17 18:57] aramase commented on #298
/remove-lifecycle stale

[2021-02-18 11:52] ptilloo commented on #447
@aramase  - I figured out the issue it was a trivial issue where the Key vault name in the values.yaml was incorrect.
Thanks the all the documents though. I am closing this issue

[2021-02-18 11:52] #447 closed

[2021-02-18 16:28] aramase opened #453 "Service Account Token for CSI Driver"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Reference KEP: https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/1855-csi-driver-service-account-token/README.md

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (u

[2021-02-18 16:29] aramase commented on #453
/assign @tomhjp

[2021-02-18 16:40] sbose78 commented on #298
+1 on this, will provide a detailed use case shortly.

[2021-02-18 22:36] #415 closed

[2021-02-19 02:16] ritazh opened #457 "Add upgrade to e2e"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
A e2e job that tests upgrade from n to n+1 via helm

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Kubernetes version: (use `kubectl version`):

[2021-02-19 10:51] pierluigilenoci commented on #442
@aramase any feedback from the community?

[2021-02-19 17:46] tomhjp commented on #401
Is option 2 perhaps the easier route to secure? For example, with option 1, could attackers attempt file enumeration by putting special characters in their provider name? That specific case would be relatively easy to defend against, but option 2 is also more readily auditable and controllable.

Not relevant to the issue, but the reason I stumbled on this is either way, from a Vault perspective, I

[2021-02-22 08:29] mitsutaka commented on #239
@aramase Do you still want me to update the PR? Since a bunch of test cases is implemented as bats. It is hard to track all of the test cases with rebasing. I may have missed the chance to merge and replace early.

[2021-02-23 02:09] aramase opened #459 "Optimize watches and Kube API calls"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
- [ ] Enable filtered watches for pods, secrets, secretproviderclasspodstatus
   - `controller-runtime` doesn't provide an option to do filtered watches for resources. This would require vendor-ing the cache package and maintaining changes in the driver.
   - Implementation in progress in #458
- [ ]

[2021-02-23 07:15] andyzhangx commented on #459
cc @ZeroMagic

[2021-02-24 23:53] tam7t opened #460 "Proposal: secret-store-csi-driver file IO consolidation"
**Describe the solution you'd like**
This is a tracking issue for the [secret-store-csi-driver file IO consolidation proposal](https://docs.google.com/document/d/1y1Oc1_-JGxMh-MZ57iqrVnoCIn6V-W0vJcj3qmq8EWU/edit#).

**Anything else you would like to add:**

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Kubernetes version: (use `kubectl version`):

[2021-02-27 02:48] andrebriggs opened #463 "Helm chart doesn't use kube-system namespace by default"
**What steps did you take and what happened:**
Ran the latest Helm chart using Helm 3

[code]
**What did you expect to happen:**
Expected to see `ServiceAccount` object being the `kube-system` namespace based upon #375. From my understanding this is preferred for all objects that can be namespace according to #386

I suggest making a note in the Helm chart [README.md](https://github.com/kubernetes

[2021-02-27 05:15] andrebriggs opened #464 "Generate SecretProviderClass via Helm chart"
**Describe the solution you'd like**
The Secret Store CSI Driver Helm chart should be able to generate user configured SecretProviderClass objects. Instead users are greeted to manually create objects in the [documentation](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/docs/book/src/getting-started/usage.md#create-your-own-secretproviderclass-object).

The AAD Pod Identit

[2021-03-01 17:21] aramase commented on #368
/remove-lifecycle stale

[2021-03-01 17:21] aramase commented on #286
/remove-lifecycle stale

[2021-03-01 17:25] aramase commented on #338
@tomhjp Do you think using the latest versions of the driver and provider will resolve the above issue?

[2021-03-03 18:35] aramase opened #469 "CVE-2021-24032"
[code]

Build: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_secrets-store-csi-driver/468/pull-secrets-store-csi-driver-image-scan/1367180715237576704/build-log.txt

/kind bug

[2021-03-03 18:35] aramase commented on #469
/assign

[2021-03-03 20:13] #469 closed

[2021-03-04 08:26] dhananjaya-senanayake commented on #389
Ran in to the same issue, the secret had to be deleted manually when new object version is added.

[2021-03-04 19:42] aramase commented on #239
The magnitude of changes are large. I think we should start the changes in phases.
1. We can add the common framework required for each provider.
2. Then add individual provider changes
3. Validate the suite works and then move completely to using the new test suite.

I recently migrated the AKV provider to new test framework: https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/m

[2021-03-05 03:53] dhananjaya-senanayake commented on #389
@aramase , could you explain how the rotation reconciler works when a new object version is set in the Azure Key Vault ? The secret storage class is applied to the cluster with the new object version. The new version of the secret is mounted  to the pod but was not updated in the Kubernetes secret or in the pod environment variables. The reconciler value is the default value https://github.com/Azu

[2021-03-07 22:04] micahhausler commented on #453
Based on my poking around, it looks like there are several changes required. First is a trivial addition of propagating the `csi.storage.k8s.io/serviceAccount.tokens` attribute in [`NodePublishVolume`](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/6f4f83631933c5ae984044df5f9922da2d30a49d/pkg/secrets-store/nodeserver.go#L102-L106).

The other part would be to add support for [`Re

[2021-03-08 21:32] micahhausler opened #472 "Consider an e2e-test provider"
**Describe the solution you'd like**
In working on #471, I realized it would be really nice to have a dummy provider that was only used for e2e tests in addition to
the existing e2e tests:

This would be useful for several reasons:
* Testing end-to-end behavior that doesn't need any infrastructure set up (no GCP/Azure/AWS account, no vault installation)
* Testing eventual API version upgrades from

[2021-03-09 00:05] aramase commented on #472
@micahhausler That's a good idea. We already do a mock provider today for running the CSI sanity tests. The mock provider does the mount as part of `NodePublish` and then returns.

We should also check if there are new tests for `Republish` that have been added as part of the CSI sanity test suite.

[2021-03-09 18:08] lungosta opened #474 "Documentation about Enable Auto Rotation of Secrets is broken"
**What steps did you take and what happened:**
The following URLs doesn't display information about how to enable auto rotation of secrets

https://github.com/kubernetes-sigs/secrets-store-csi-driver#optional-enable-auto-rotation-of-secrets
https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/enable-auto-rotation-secrets/

**What did you expect to happen:**
Get detailed i

[2021-03-09 22:12] micahhausler opened #475 "Propagation of NodePublishVolumeRequest.VolumeContext to providers"
**Describe the solution you'd like**

I was wondering if it is intentional to filter out VolumeContext (Pod `.spec.volumes[].csi.volumeAttributes`) parameters passed on to providers by limiting the key to:

* `csi.storage.k8s.io/pod.name`
* `csi.storage.k8s.io/pod.namespace`
* `csi.storage.k8s.io/pod.uid`
* `csi.storage.k8s.io/serviceAccount.name`
* SecretProviderClass `.Spec.Parameters`

Is the p

[2021-03-11 05:50] #474 closed

[2021-03-11 20:18] #459 closed

[2021-03-11 20:33] aramase opened #476 "Add e2e with filtered watch enabled"
Now that https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/458 is merged, we should add a integration test with `--filtered-watch-secret` enabled.

/assign

[2021-03-12 01:28] #401 closed

[2021-03-15 13:43] ShatadruDas opened #477 "POD security policy preventing root user image: Use Image as Non Root User"
I am facing a problem with Secret store CSI driver in Kubernetes. Actually there is a security policy POD running, in our kubernetes cluster which mandates all images to be running as non root user.

But while security POD scans the below images it finds out that, image have root user privileges. How can we run these images as **non root user** or is there similar images with non-root user please.

[2021-03-15 17:34] aramase commented on #477
@ShatadruDas The CSI driver needs to run as root to be able to mount the volumes in the pod.

[2021-03-15 23:21] aramase commented on #475
The volume attributes are user defined apart from the default ones added by kubelet.

[code]

The change should be minimal in `NodePublishVolume`. However we need to reconstruct these attributes in the rotation logic as rotation isn't invoked by kubelet.

https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/7f21cd32e4ff4f355b1a118fa80f60c8b59bbeb0/pkg/rotation/reconciler.go#L220-L224

[2021-03-18 18:21] aramase opened #483 "pull-secrets-store-csi-driver-e2e-vault job failing"
Caused due to https://github.com/hashicorp/secrets-store-csi-driver-provider-vault/issues/74
Potential fix: https://github.com/hashicorp/secrets-store-csi-driver-provider-vault/pull/75

[2021-03-19 16:38] #483 closed

[2021-03-22 00:22] kchilka-msft opened #485 "Get list of certificates by name (including all older versions)"
I would like to make a request to have a functionality where all the versions of a certificate can be read from the keyvault. At the moment, when specifying the certificate details in the yaml file, we can specify the objectVersion but when a certificate auto-rotates, there involves a manual step to update the yaml file with the new objectVersion and redeploy it. It would be a nice to have if the

[2021-03-23 17:47] aramase commented on #485
@kchilka-msft The Secrets Store CSI Driver supports auto rotation of the mounted content and Kubernetes secret. If the `objectVersion` is not specified, the csi driver will periodically fetch the latest content from the external secrets store and update the mount and Kubernetes secret.

Please refer to https://secrets-store-csi-driver.sigs.k8s.io/topics/secret-auto-rotation.html on how to enable a

[2021-03-23 18:23] tam7t commented on #418
/close

We want a separate credential to isolate workloads. This will be on me/Google team to setup alerts to manually rotate for the time being.

[2021-03-23 18:32] kchilka-msft commented on #485
hi @aramase thanks for the response. I am able to pull the latest auto rotated cert but I have a scenario where we need the latest auto rotate cert as well as the older version of the cert before it was auto rotated. For ex:

if C1 = current cert
and after auto-rotation C2 = current cert,
then we need to pull both C1 & C2.

From what I have read so far, I dont think it is possible, so I was wonder

[2021-03-23 19:16] kchilka-msft commented on #485
the use case is: we have a process where when we get a request, a token is issued to the client (and this token is specific to the available cert itself) and it is cached on the client side for x number of days. And in a scenario when a cert gets auto-rotated and if the client happens to use the cached token that was issued with the older cert (say C1 from above example) it might fail to validate

[2021-03-24 18:10] aramase opened #489 "Switch to master manifests for vault provider"
/kind cleanup

[2021-03-24 19:59] aramase opened #492 "Set pull-secrets-store-csi-driver-e2e-windows as required"
`pull-secrets-store-csi-driver-e2e-windows` has been giving us good test results for the windows tests and has been green. It is `optional` now and needs to be manually triggered. We should make this `required`.

The test runtime is ~45m for the cluster provision + multi-os image build + running tests.
- Working on https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/488 (to use server

[2021-03-26 20:22] #492 closed

[2021-03-26 21:16] #460 closed

[2021-04-01 14:41] #111 closed

[2021-04-01 20:29] kchilka-msft commented on #485
hi @aramase - did you get a chance to look further into this? thanks!

[2021-04-05 16:44] aramase commented on #322
/remove-lifecycle stale

[2021-04-05 16:44] aramase commented on #268
/remove-lifecycle stale

[2021-04-05 16:44] aramase commented on #416
/remove-lifecycle stale

[2021-04-05 16:45] aramase commented on #315
/remove-lifecycle stale

[2021-04-05 16:45] aramase commented on #315
@GlorifiedTypist Are you interested in opening a PR to support this in the helm charts?

[2021-04-05 16:46] aramase commented on #403
/remove-lifecycle stale

[2021-04-05 22:41] aramase commented on #477
Closing this issue because the CSI driver needs privileges to be able to perform mount operations.

/close

[2021-04-05 22:41] #477 closed

[2021-04-07 01:38] terinjokes opened #499 "secrets reconciling doesn't respect owner references"
**What steps did you take and what happened:**

The reconciler of `SecretObjects` does not respect owner references of existing secrets, and does not set references on secrets it creates. This can cause this controller to clobber secrets owned by other controllers.

**What did you expect to happen:**

Controller should check for existing owner references with `controller: true` before patching sec

[2021-04-07 17:04] aramase commented on #499
Are you referring to the owner references of the Kubernetes secrets created by the CSI driver as defined in `SecretObjects`. The reconciler adds the consuming pods/replicaset as owner to the secrets it creates. This ties the lifetime of the secrets created by the CSI driver to the pods consuming.

We don't set the controller as owner reference for the Kubernetes secret because the secret lifetime

[2021-04-07 17:50] terinjokes commented on #499
Noted. I understand the desire here, though I wish there was a better way of signaling the garbage collector.

I still believe this controller should respect controller owner references from other controllers, otherwise these two will just be fighting over the secret's data.

[2021-04-07 17:57] aramase commented on #499
Is there another controller that's adding itself as owner ref to the Kubernetes secret created by the CSI driver? The reconciler gets the existing owner refs and appends the new ones to it. It doesn't delete any existing owner refs.

https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/58c586d3bb3286115ef0ec2fd44b4e5419334b9a/controllers/secretproviderclasspodstatus_controller.go#L451

[2021-04-07 18:06] terinjokes commented on #499
Most other controllers that touch secrets that someone might deploy into a Kubernetes cluster will set the controller owner reference (and look for it already being set) when creating secrets. The absence of respecting that flag here is what causes the problems.

[2021-04-07 19:30] tam7t opened #500 "Atomic file updates"
**Describe the solution you'd like**

The implementation of K8s Secrets uses symbolic links to present an atomic update of the entire mount to the application when secrets change (some K8s discussion of [secret updates](https://github.com/kubernetes/kubernetes/issues/18372)).

The [current implementation](https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/481) in the driver and most

[2021-04-09 18:13] aramase commented on #499
@terinjokes That's interesting. So what is the reason for using the same secret name as the decrypted Secret? Is it to use 1 secret to have all the credentials?

Today, typically the secret gets created by the SecretProviderClass and the owner ref is set by it. But this would be an interesting scenario.

[2021-04-09 18:48] aramase commented on #239
Ginkgo switching to v2.

Things to do:
1. Evaluate changes between v1 and v2.

[2021-04-09 18:50] aramase opened #501 "Document current tested scenarios for providers"
- Add a list of tests run for each provider
- Use this doc to evaluate stability
- This list will also be used for evaluating to new test framework

/kind documentation

[2021-04-09 18:51] hixichen commented on #239
Refer: https://github.com/onsi/ginkgo

Timeline:
[code]

[2021-04-09 19:01] terinjokes commented on #499
Right now there's a CRD, let's call it "EncryptedSecret", in it it defines a secretName. An existing operator running in Kubernetes decrypts this CRD and creates a secret (named with the value of secretName). This new secret sets the ownerReference field with `controller: true` on this newly created secret, to signal to other controllers that it is the owning controller.

We want to switch to Vaul

[2021-04-09 19:07] aramase commented on #286
/retitle Move crds to crds dir for helm3

- Helm 2 is no longer supported, so we can drop that
- Investigate using a separate helm chart for crds
- Other option is clean uninstall and then install as the crds dir is a new change

[2021-04-09 19:14] aramase commented on #296
- Determine the releases we support
- Upgrade the driver from n-2 to n
  - Test existing pods still work fine for sync K8s secret and rotation
  - Test new pods work fine with the new version of the driver

[2021-04-09 19:16] aramase opened #502 "Document possible disparity in the mount for old and new pod"
- if the secrets have been changed in external secrets store before the deployment is scaled, then pod1 has old content in mount and pod2 will have new content.

We need to document this disparity.

/kind documentation

[2021-04-09 19:25] aramase commented on #257
- We do need cloud provider resources to run these tests
- Need to determine how often we need to run these tests

[2021-04-09 19:26] aramase commented on #403
/good-first-issue

[2021-04-09 19:27] aramase commented on #420
- Doc required to be presented to sig-auth for project maturity
- This is a subproject, so we should open a PR to add a KEP

[2021-04-09 19:29] aramase commented on #297
- Consider using e2e-test-provider
- First setup tests with vault and then add e2e-test-provider

[2021-04-09 19:31] aramase commented on #333
- Windows
- Sync as Kubernetes secret
- Rotation
- Service account volume projection

[2021-04-09 19:37] aramase commented on #420
/assign @tam7t

[2021-04-09 19:59] aramase commented on #472
@tam7t suggested using Kubernetes secret as the backend store for the e2e-test-provider.

[2021-04-09 20:02] aramase commented on #463
/kind documentation

[2021-04-09 20:02] aramase commented on #463
/assign

[2021-04-09 20:11] aramase commented on #356
/good-first-issue

[2021-04-09 20:11] aramase commented on #353
/assign

[2021-04-09 20:17] aramase commented on #315
@GlorifiedTypist Is this still required? The driver communicates with the provider using grpc instead of the binary. So these volume mounts will only be required for the provider.

[2021-04-09 20:18] aramase commented on #268
/assign @tam7t

We should add this as best practices + bring it up in the next community call

[2021-04-09 20:20] aramase commented on #242
/close

Closing this issue now as it's not something we want to support.

[2021-04-09 20:20] #242 closed

[2021-04-09 20:21] aramase commented on #36
/remove-lifecycle rotten

[2021-04-09 20:22] aramase commented on #25
Have a cookbook with operational commands for cluster

[2021-04-09 20:25] aramase commented on #463
/unassign
/assign @tam7t

[2021-04-10 00:55] aramase opened #503 "Add an optional healthcheck flag for providers"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
- Add an optional healthcheck flag for performing healthcheck with providers. We could use the version RPC request to check if the provider responds. The healthcheck will only be for provider clients that have been initialized.

https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/58c586d

[2021-04-12 16:25] aramase commented on #345
/remove-lifecycle stale

[2021-04-12 19:09] aramase opened #506 "PR job failures because of expired credentials"
Failing tests because of expired credentials

pull-secrets-store-csi-driver-e2e-azure
pull-secrets-store-csi-driver-e2e-gcp
pull-secrets-store-csi-driver-e2e-windows

/kind failing-test

[2021-04-12 19:31] aramase opened #507 "Switch to using external secret for prow credentials"
Ref: https://github.com/kubernetes/test-infra/blob/master/prow/prow_secrets.md

/cc @tam7t

[2021-04-12 19:55] aramase commented on #506
/close

Credentials have been rotated. Long term plan is to switch to #507

[2021-04-12 19:55] #506 closed

[2021-04-12 19:57] aramase commented on #507
/kind feature

[2021-04-12 20:52] chaodaiG commented on #507
Note that the instruction was updated in https://github.com/kubernetes/test-infra/pull/21771 with more information

[2021-04-13 17:15] aramase opened #511 "Add nodeaffinity to prevent scheduling on virtual-kubelet nodes"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Add nodeaffinity to prevent the CSI driver pods from being scheduled on [virtual-kubelet](https://github.com/virtual-kubelet/virtual-kubelet) nodes.

Using [type: virtual-kubelet](https://github.com/virtual-kubelet/virtual-kubelet/blob/master/cmd/virtual-kubelet/internal/commands/root/node.go#L43) la

[2021-04-13 17:21] aramase commented on #511
/good-first-issue

1. Add an affinity field to the values yaml
2. Set the above affinity by default in values yaml

[2021-04-13 18:40] manedurphy commented on #511
I am interested in having a go at this

[2021-04-13 18:56] aramase commented on #511
That's great! I'll assign this issue to you. Please feel free to reach out here or slack for any questions you might have.

/assign @manedurphy

[2021-04-13 22:46] #501 closed

[2021-04-14 08:46] mitsutaka opened #514 "SecretProviderClass metrics"
**Describe the solution you'd like**
I want to add metrics of generic status about `SecretProviderClass` respectively like kube-state-metrics' [Secret metrics](https://github.com/kubernetes/kube-state-metrics/blob/master/docs/secret-metrics.md). It will be useful to summarize SecretProviderClass with labels.

**Anything else you would like to add:**
| Metric name| Metric type | Labels/tags |
| ---

[2021-04-14 15:12] #503 closed

[2021-04-14 17:36] aramase commented on #485
@kchilka-msft Getting all versions of a secret might be possible but that would require `List` permissions (for Azure Keyvault) to be able to get the all the available versions. Updating the `SecretProviderClass` is now more scoped to user taking the necessary actions.

[2021-04-14 18:34] kchilka-msft commented on #485
@aramase - that's great! I can have the List permissions enabled on the Azure Keyvault. I was trying to find if there's anything specific changes that I need to make to the SecretProviderClass file but couldn't find anything special. I was referring to [this file ](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/examples/keyvault-certs/v1alpha1_secretproviderclass_cert

[2021-04-14 21:59] tam7t commented on #500
Also note that we currently create the tmpfs mount at the `target_path`, to use the `atomic_writer.go` the other sibling folders that atomic_writer uses to stage files should _also_ be tmpfs.

[2021-04-15 03:15] #511 closed

[2021-04-19 10:29] mitsutaka opened #515 "File matching objectName can't be found in the pod when objectName has a directory path"
**What steps did you take and what happened:**
I created `SecretProviderClass` with `secretObjects` that has a directory path in objectName, Pod is mounted and files are readable. however, the controller is failed to create a `Secret` due to the error as follows.

[code]

[code]

**What did you expect to happen:**
Synced Secret should be created.

**Anything else you would like to add:**
`fileutil

[2021-04-19 18:32] tam7t commented on #472
I had another discussion today where being able to develop locally i.e. with kind or minikube came up.

If you're trying to develop an application locally and deploying ephemeral/test database to kind/minikube along with your application, you may want to be able to use the CSI driver to configure your pod but provide test creds. Not fetch anything from an external secret store (or have to actually

[2021-04-20 16:29] aramase commented on #515
/assign @mitsutaka

[2021-04-20 16:51] aramase commented on #515
Thanks @mitsutaka. We can keep this issue open and follow up with an e2e test to validate this scenario.

[2021-04-20 19:32] tam7t commented on #500
🤦‍♂️

I may have missread the atomic_writer docs, it seems that the `..data` paths are not in the parent directory but part of the filenames and visible to the pod itself. From the host:

[code]
And from the Pod:
[code]

In that case we can trivially use the atomic writer

[2021-04-22 02:03] ritazh commented on #432
/remove-lifecycle stale

[2021-04-23 19:59] #450 closed

[2021-04-26 09:34] pierluigilenoci commented on #450
🥳

[2021-04-26 18:31] aramase commented on #265
/remove-lifecycle stale

[2021-04-26 21:46] nilekhc commented on #403
I am working on this

[2021-04-26 21:48] aramase commented on #403
/assign @nilekhc

[2021-04-27 17:58] aramase commented on #194
/remove-lifecycle stale

[2021-04-28 06:06] aramase commented on #463
Closed with #505

/close

[2021-04-28 06:06] #463 closed

[2021-04-28 20:22] aramase opened #522 "Switch to using k8s.io/mount-utils"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
`k8s.io/utils/mount` is going to deprecated in the future. We should switch to using [k8s.io/mount-utils](https://github.com/kubernetes/mount-utils) instead.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store

[2021-04-28 20:44] #403 closed

[2021-04-30 18:13] #338 closed

[2021-04-30 20:56] mu5341 opened #523 "Aks cluster cannot pull the secrets using secrets store csi driver secretproviderclasses.secrets-store.csi.x-k8s.io is forbidden: User "system:serviceaccount:com-att:secrets-store-csi-driver""
Hi:

We are implementing an AKS cluster to access the KeyVault using the secrets store YAML files.
We followed this document from Microsoft https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-integrate-kubernetes
These are the steps that we follow:

1.) Deployed the YAML files directly
![image](https://user-images.githubusercontent.com/83474543/116748783-8a5e0100-a9c5-11eb-9950-e220

[2021-04-30 21:27] nilekhc commented on #523
@mu5341 Could you provide following:
1. Kubernetes version
2. CSI Driver and provider version

[2021-04-30 21:38] nilekhc commented on #523
Also you have installed driver twice.

csi-secrets-store-tjm7r 3/3 Running 0 2d1h

com-att csi-secrets-store-provider-azure-qp6g5 1/1 Running 0 20h
com-att csi-secrets-store-provider-azure-secrets-store-csi-driver-xh4b4 3/3 Running 0 20h
com-att csi-secrets-store-provider-azure-secrets-store-csi-driver-zn4nz 3/3 Running 0 20h

Could you uninstall and install driver either via helm or deploy yaml f

[2021-05-02 18:47] rverma-nsl opened #525 "Support arm64"
For aarch64, leverage buildx to publish multi arch images.

[2021-05-03 15:50] #522 closed

[2021-05-03 23:48] mu5341 commented on #523
Hi:
I had to clean up the following K8S files:

![image](https://user-images.githubusercontent.com/83474543/116946569-14b19980-ac40-11eb-9846-bf12b41e48ca.png)

After that, I did the manual installation using helm:

helm repo add aad-pod-identity https://raw.githubusercontent.com/Azure/aad-pod-identity/master/charts

helm install pod-identity aad-pod-identity/aad-pod-identity
![image](https://user

[2021-05-04 15:53] aramase commented on #523
@mu5341 Is this issue resolved now? Could we close the issue?

[2021-05-04 17:27] mu5341 commented on #523
I think it will be good to know, how we can use the CSI driver when it is already installed in a non-default namespace. The Azure cloud requires to Ensure AKS Clusters Implement Kubernetes RBAC with Azure AD integration, but different automations don't deploy in the default namespace. Apperantly, only deploying into the default namespace we were able to make it work, but that broke the Security ch

[2021-05-04 17:32] aramase commented on #523
@mu5341 The driver and provider can be installed in any namespace. The issue above is because the driver was installed twice (once with helm and then `kubectl deploy`) in multiple namespaces.

The mount is mandatory for syncing as Kubernetes secrets and using the Kubernetes secrets as env variables.

[2021-05-04 18:05] mu5341 commented on #523
Ok thanks you can close the ticket.

[2021-05-04 22:57] aramase commented on #523
/close

[2021-05-04 22:57] #523 closed

[2021-05-05 00:18] rverma-nsl commented on #525
For those endup here like me, till the official release is there feel free to use `ghcr.io/nslhb/driver:v0.0.21-linux-arm64`.

@aramase we should evaluate the tagging and build strategy, the makefile create tags by arch, we should drop these so that the same image could be use in multi-arch setup, eg. https://hub.docker.com/_/nginx?tab=tags&page=1&ordering=last_updated

[2021-05-06 08:00] dirtycajunrice opened #527 "Unbind secret creation from mount action"
**Motivation**
Although we would all love to live in a world where every application offered not only the ability to read sensitive credentials via file, but also the ability to reference them on a per file basis, this is simply nowhere near the case in 2021. The propagation of the infamous "12 factor app" has drilled the idealism of environment variable driven configuration regardless of sensitiv

[2021-05-06 08:14] dirtycajunrice opened #528 "Cluster scope + Namespace scope + Renamed kinds"
**Motivation**
SecretProviderClass is namespaced and requires duplicated definition of many parameters. Using vault as a first class example, if you have 30 applications with unique distinct secrets within the same vault instance you will define the vaultAddress 30 times, the vaultKubernetesMountPath 30 times, and the roleName _up to_ 30 times depending on configuration.

**Describe the solution y

[2021-05-06 08:29] dirtycajunrice1 opened #529 "Get all k/v pairs from endpoint"
**Motivation**
Some applications require a _significant_ amount of configuration that is sensitive. This becomes extremely tedious and adds redundancy and toil where it could be reduced using the same functionality that `envFrom` uses in kubernetes core as well as established solutions like external-secrets

**Describe the solution you'd like**
2 Separate requests.
1. Make secretKey optional. If t

[2021-05-10 17:34] aramase commented on #502
/assign

[2021-05-10 18:28] aramase commented on #446
/remove-lifecycle stale

[2021-05-12 01:37] dirtycajunrice commented on #529
@tam7t  I completely understand that perspective. the `secretObjects` are part of the driver itself though correct? If an option is not available from the driver accept an array/list as an object passed along from the providers, they will not implement it as it would "go nowhere" right? Thoughts?

[2021-05-12 11:16] mehmetsalgar opened #534 "Helm Charts no possiblity to define imagePullSecrets if Docker Repository requires authentication"
**What steps did you take and what happened:**
There is no possiblity to define imagePullSecrets for Helm Charts

**What did you expect to happen:**
A possiblity to configure imagePullSecrets

**Which provider are you using:**
HashiCorp Vault

**Environment:**

- Secrets Store CSI Driver version: (use the image tag): v0.0.21
- Kubernetes version: 1.17.9

[2021-05-12 17:22] tam7t commented on #529
Ah yes, `secretObjects` is defined by the driver and used for the K8s sync feature to map relative file paths to secret key/values - so changes to allow mapping multiple file paths to keys would require driver changes.

[2021-05-12 21:11] aramase opened #536 "Log setting `--max-call-recv-msg-size` if `ResourceExhausted` error"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Generate an error to set `--max-call-recv-msg-size` if the error is `ResourceExhausted`

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Kubernetes version: (use `

[2021-05-13 02:57] cbroglie commented on #298
Another use case is image pull secrets; there is a chicken and egg problem if creating the secret to pull the pod's image requires the pod to be running.

[2021-05-13 05:46] hixichen opened #540 "replace "golang.org/x/net/context" import with "context""
**Describe the solution you'd like**
 replace "x/net/context" import with "context"

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

Refer:
- https://github.com/grpc-ecosystem/go-grpc-middleware/issues/175
- https://github.com/grpc/grpc-go/pull/2439

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Kubernetes

[2021-05-13 15:47] nilekhc opened #541 "Release management document"
Define release management and semantic versioning for project

[2021-05-13 15:48] nilekhc commented on #541
/kind documentation

[2021-05-13 18:49] ritazh commented on #286
Few issues with moving the crds to the crds dir in Helm chart:
- Helm will install the crds in the crds/ directory if the crds are not already installed. If the crds are installed, it will not validate that the version installed matches the served/stored versions specified in the manifests. On upgrade it doesn't touch the crds/ directory at all.
- cannot template the crd yamls in the crds dir

[2021-05-16 12:03] mehmetsalgar opened #542 "CSI Driver is not able to get serviceaccount token"
**What steps did you take and what happened:**
I am trying to use Hashi Corp Vault with CSI after I followed the instruction, I am getting the message the CSI driver can find service account token from Kubernetes API. My Helm Chart is deployed to Rancher and I found some posts that CSI Driver is not working on Rancher with default setttings but I can't find any confirmations about. Unfortunately I

[2021-05-17 15:55] aramase commented on #542
Hey @mehmetsalgar, thanks for opening the issue. Please take a look at https://github.com/hashicorp/vault-csi-provider/issues/95 which is the similar issue and has the resolution.

cc @tomhjp

[2021-05-17 18:08] aramase commented on #176
/remove-lifecycle stale

[2021-05-17 20:00] tam7t opened #546 "integration tests for successful unmount"
**Describe the solution you'd like**
A test that ensures unmounts complete successfully on pod termination.

**Anything else you would like to add:**

#526 removed some code and integration tests passed. It was only through manual verification that it was discovered that deletion before unmount was actually required: #545

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):

[2021-05-17 20:33] aramase commented on #541
/assign @nilekhc

[2021-05-17 22:02] aramase opened #549 "Add psp to `manifests` target and evaluate using `kustomize` for generating manifests"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Kubernetes version: (use `kubectl version`):

[2021-05-17 23:42] aramase opened #550 "Enable `--filtered-watch-secret` by default in `v0.1.0`"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/e2f85d3a3a8d3c87fd24170e213284aa70f61e07/deploy/secrets-store-csi-driver.yaml#L53

Reference docs on action to take: https://secrets-store-csi-driver.sigs.k8s.io/load-tests.html

**Anything else you would like to add:**
[Miscellaneous i

[2021-05-17 23:50] tam7t opened #551 "Migrate providers to include files in grpc responses"
Originally proposed in #460, the gRPC interface has been expanded to allow providers to [return a view of the filesystem in the RPC response](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/e2f85d3a3a8d3c87fd24170e213284aa70f61e07/provider/v1alpha1/service.proto#L64-L69), making the driver responsible for writing the files to the actual mount.

The interface was added in `v0.0.21`

[2021-05-19 20:30] aramase opened #558 "Fix shellcheck errors in `docker/` dir"
/kind cleanup

https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/557 adds `shellcheck` for the scripts as part of the CI. The `docker` dir has been exempted in order to not trigger a build/bump to rc.

[2021-05-19 21:24] aramase commented on #346
/remove-lifecycle rotten

[2021-05-20 16:19] aramase commented on #457
/remove-lifecycle stale

[2021-05-20 21:46] #549 closed

[2021-05-21 16:48] #315 closed

[2021-05-24 16:11] aramase opened #561 "CVE-2021-3520"
[code]

Image scan result: https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-secrets-store-csi-driver-image-scan/1396625820423819264/build-log.txt

[2021-05-24 16:12] aramase commented on #561
/kind bug
/assign

[2021-05-24 16:59] #561 closed

[2021-05-25 23:17] olegsavin opened #567 "Optionally not fail volume mount for not-found secrets"
Currently if specified secret doesn't exist in AKV volume mount fails, which fails container:
Warning FailedMount 45s (x6 over 62s) kubelet MountVolume.SetUp failed for volume "secrets-volume" : rpc error: code = Unknown desc = failed to mount secrets store objects for pod test/testpod-bf48f7867-ztd42, err: rpc error: code = Unknown desc = failed to mount objects, error: failed to get objectType:s

[2021-05-27 19:48] #534 closed

[2021-05-27 22:28] aramase opened #568 "pull-secrets-store-csi-driver-e2e-aws failing"
/kind failing-test

The secret names in AWS tests should be unique to be able to work with concurrent CI runs

https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/8a9ccd19fee03495e4b43f99ac10198bbfdf948c/test/bats/aws.bats#L17-L25

We do this today for the azure provider windows tests

https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/8a9ccd19fee03495e4b43f99ac10198bbfd

[2021-05-27 22:30] aramase commented on #568
[code]

[2021-05-27 22:30] aramase commented on #568
[code]

[2021-05-27 22:30] aramase commented on #568
cc @lasred

[2021-05-28 17:41] aramase commented on #500
The feature has been implemented and included in `v0.0.22` release.

#551 is used to track the providers switching to driver write files.

/close

[2021-05-28 17:41] #500 closed

[2021-05-28 21:34] micahhausler opened #570 "Plumb GOPROXY into build containers"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Some corporate environments block access to `proxy.golang.org`. When building secrets-store-csi-driver in a container, setting `GOPROXY=direct` is not propagated, and even when it is, the absence of `git` causes builds to fail.

**Anything else you would like to add:**

Not really.

**Environment:**

[2021-05-31 12:24] vpernankil opened #572 "pods not creating after integrating csi"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
This is the issue we are seeing while pod is starting
Type Reason Age From Message
---- ------ ---- ---- -------
Warning FailedMount 25m (x224 over 13h) kubelet MountVolume.SetUp failed for volume 'secrets-store-inline' : rpc error: code = Unknown desc = failed to mount secrets store objects for po

[2021-06-01 15:59] aramase commented on #572
@vpernankil Thank you for reporting the issue. This issue is specific to the Azure Provider for Secrets Store CSI Driver. Could you open an issue [here](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues). Please include the relevant logs in the issue.

The above error looks like the NMI component in aad-pod-identity is failing to obtain a token for the pod. Please check the M

[2021-06-01 21:49] #568 closed, assigned to nobody

[2021-06-01 22:24] #570 closed

[2021-06-02 00:22] #268 closed

[2021-06-02 00:53] katyamag opened #573 "Is the default volume path for providers in Book incorrect?"
https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/docs/book/src/providers.md

The default volume path for providers in Chapter "Providers" is `/etc/kubernetes/secrets-store-csi-driver-providers`, but the linked default path is `/etc/kubernetes/secrets-store-csi-providers`(https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/v0.0.14/deploy/secrets-store-csi-driver.

[2021-06-02 17:18] aramase commented on #540
/assign @hixichen

[2021-06-02 21:38] aramase opened #576 "Use `make container-all push-manifest` instead of the build scripts"
There are currently 2 ways of building the manifest and pushing
- Using the makefile targets `container-all` and `push-manifest`
- Using the script in `docker/` dir

We need to evaluate using `container-all` and `push-manifest` Makefile targets with cloudbuild for publishing images instead of the build script: https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/docker/build.sh.

[2021-06-03 03:21] #573 closed

[2021-06-03 14:35] katyamag opened #578 "The deprecated `io/ioutil` package is still used in CSI driver"
**Describe the solution you'd like**
replace `io/ioutil` package with `os` or `io` pacakge

Refer:
- [pkg/util/fileutil/atomic_writer.go#L24](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/pkg/util/fileutil/atomic_writer.go#L24)
- [pkg/util/fileutil/atomic_writer_test.go#L28](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/pkg/util/fileutil/atomic_w

[2021-06-03 21:28] #540 closed

[2021-06-04 13:36] rverma-nsl opened #579 "ARM support"
Please distribute arm64 images too.

[2021-06-04 15:55] aramase commented on #579
Duplicate of https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/525

/close

[2021-06-04 15:55] #579 closed

[2021-06-04 19:20] manedurphy commented on #529
/assign

[2021-06-07 15:12] ephriamj opened #580 "Error with Mounting SecretproviderClass with AWS Provider"
Hello,

  I'm receiving an error when I launch a new deployment.  These are the steps I'm using.

1. Deploy SecretProviderClass:  kubectl apply -f test-secrets-array.yaml
2. Create a deploy using helm

When I go to deploy pods, I receive an error:

`"Warning  FailedMount  23s (x7 over 55s)  kubelet, ip-10-6-19-185.ec2.internal  MountVolume.SetUp failed for volume "secrets" : rpc error: code = Unkn

[2021-06-07 16:57] aramase commented on #580
@ephriamj Thank you for reporting the issue.

This error seems to be specific for the aws provider. Could you open an issue [here](https://github.com/aws/secrets-store-csi-driver-provider-aws)?

cc @lasred

[2021-06-07 19:01] ephriamj commented on #580
Thanks you @aramase.  Just created a new on for the AWS Provider.  Closing this one out now

[2021-06-07 19:01] #580 closed

[2021-06-07 19:06] tam7t commented on #536
ResourceExhausted errors are not exclusively related to `--max-call-recv-msg-size` and could also be the result of propagating quota errors.

It doesnt look like any custom error space annotations are available for this specific error so we might want to consider also matching on the string `grpc: received message larger than max` from https://github.com/grpc/grpc-go/blob/8bdcb4c9ab8de15f6a60ebce9

[2021-06-08 00:18] #536 closed

[2021-06-08 00:53] aramase opened #582 "Upgrade to controller-runtime `v0.9.0`"
- Upgrade to controller-runtime `v0.9.0`
  - Use `SelectorsByObject` to do a filtered ListWatch
  - This will enable us to remove the vendored code for `pkg/cache`
- Investigate using `controller-runtime` for rotation reconciler

ref: https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.9.0

/assign

[2021-06-08 01:04] nilekhc commented on #582
/assign

[2021-06-08 01:24] #525 closed

[2021-06-08 14:04] tam7t commented on #551
| provider | status |
|---|----|
| azure | [0.15.0](https://github.com/Azure/secrets-store-csi-driver-provider-azure/releases/tag/0.0.15) |
| vault | [0.3.0](https://github.com/hashicorp/vault-csi-provider/releases/tag/0.3.0) |
| gcp | [v0.4.0](https://github.com/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp/blob/main/CHANGELOG.md#v040) |
| aws | https://github.com/aws/secrets-store-cs

[2021-06-08 18:27] aramase opened #585 "Using `RequiresRepublish` for rotation"
When `requiresRepublish: true` is set in the `CSIDriver` spec

[code]
kubelet will periodically send `NodePublishVolume` to the driver.

- Investigate if we can use this feature with internal backoff logic for rotation

/assign

[2021-06-08 18:27] aramase commented on #585
/kind feature

[2021-06-08 18:34] aramase commented on #582
/unassign

[2021-06-08 18:35] aramase commented on #542
@mehmetsalgar Did you get a chance to look at the issue in the vault provider? Is the issue resolved now?

[2021-06-09 05:40] mehmetsalgar commented on #542
Unforuntanetly our Rancher installation is not under our control, and I can bring system responsibles to set these flags for Rancher. So I can't verify this fix works or not.

[2021-06-09 13:29] endeepak commented on #389
/remove-lifecycle stale

[2021-06-09 14:17] #558 closed

[2021-06-09 21:33] aramase opened #588 "Add project status to the docs"
- Add current project status to the main readme.

/kind documentation

[2021-06-10 17:07] ritazh commented on #529
+1

Looking forward to the detailed design doc so we can discuss some of the nuances this feature may bring.

Specifically, today with the `secretObjects` as a static list in SPC CR, the provider can use that list to validate the existence and access of these objects in the external secrets stores and fail fast based on that. e.g. if one of objects does not exist, then the mount fails. Then the op

[2021-06-11 18:45] aramase opened #592 "Add `release-secrets-store-csi-driver-e2e-aws` job"
- Add `release-secrets-store-csi-driver-e2e-aws` job similar to https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml#L310.
  - This job runs for changes in `charts/*` folder at the time of release to validate the driver release with the provider.

/cc @lasred

[2021-06-15 17:08] tam7t commented on #550
/assign @aramase

[2021-06-15 17:09] tam7t commented on #514
@mitsutaka are you interested in implementing this?

[2021-06-15 17:23] tam7t commented on #585
Based on https://kubernetes-csi.github.io/docs/token-requests.html#feature-gate

* 1.19 does not have this (EOL: [2021-10-28](https://github.com/kubernetes/website/blob/master/content/en/releases/patch-releases.md#119))
* 1.20 adds this as optional (`--feature-gates=CSIServiceAccountToken=true`) (EOL: [2022-02-28](https://github.com/kubernetes/website/blob/master/content/en/releases/patch-releases