[2021-06-15 17:28] tam7t commented on #475
Based on some of the discussion on https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/585 we likely don't want plugins to _rely_ on having this information (since some may be missing during rotation requests) but that a good start is to pass all attributes on any real request.

IMO we should do this and close it once we pass all attributes, and work on #585 toward providing more at

[2021-06-15 17:36] tam7t commented on #457
1. install the release chart (version in `makefile`)
2. run the test suite
3. install the staging chart
4. run the test suite

[2021-06-15 17:42] tam7t commented on #457
/assign @nilekhc

[2021-06-15 17:44] tam7t commented on #176
/assign @tam7t

[2021-06-15 17:45] nilekhc commented on #457
I'll take this.

[2021-06-15 17:45] nilekhc commented on #457
/assign

[2021-06-15 17:45] tam7t commented on #453
/assign @micahhausler

[2021-06-15 17:47] tam7t commented on #546
/assign @tam7t

[2021-06-15 17:49] tam7t commented on #271
/assign @aramase

[2021-06-15 17:50] tam7t commented on #296
@nilekhc this may be a duplicate of https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/457

[2021-06-15 17:53] nilekhc commented on #296
/assign

[2021-06-15 17:55] tam7t commented on #370
/assign @aramase

I think most of this is captured in other bugs or done so can probably close out.

[2021-06-15 17:57] tam7t commented on #551
/assign @tam7t

[2021-06-15 18:04] aramase opened #595 "Release branches and cherry picking process"
- Starting from `v0.1.0` we'll have release branches. This could require pipeline changes to build from release branches for patch releases.
  - [x] `cloudbuild.yaml` update to support building from release branches
  - [x] Add scripts for making cherry picking easier

[2021-06-16 11:17] mitsutaka commented on #514
@tam7t yeah I'm going to do unless any maintainer will work for it. Currently, the only place we can implement is the `DaemonSet` workload, and it's bound to `ClusterRole` that can reads `SecretProviderClass`, so I think I'll just add it to this to secrets-store-csi-driver.

[2021-06-16 16:16] aramase commented on #514
@mitsutaka Thank you! I'll assign this issue to you.

/assign @mitsutaka

[2021-06-16 17:47] aramase opened #597 "Deprecate `--filtered-watch-secret` flag"
/kind cleanup

[2021-06-16 17:48] sozercan commented on #597
Is there a deprecation process defined?

[2021-06-16 17:53] aramase commented on #597
This has been the process so far:

1. Deprecate the flag in the code (Setting the flag no longer takes effect)
2. Remove the flag completely after n+2 releases

[2021-06-16 19:29] tam7t commented on #546
When I mess with the kubelet filesystem to induce a `NodeUnpublishVolume` error I get:

[code]

in the driver logs and the pod stuck in the `Terminating` state for multiple minutes.

From `kubectl describe`:

[code]

But I dont see any 'events' on the pod about failed unpublish:

[code]

I think a test that deletes a pod with a mount and then does a:

[code]

should reasonably catch failures on un

[2021-06-16 23:34] aramase commented on #546
I don't think this is actually the case. I've seen the pods on linux nodes linger for longer sometimes even with successful unmount. However on windows the pods do get deleted pretty quickly. It might be hard to correlate the terminating time to an actual error without much info in the events. Although I understand generating an event for a deleting pod doesn't provide much as there is no potentia

[2021-06-18 14:43] csepulveda opened #600 "Secret Set as ENV var didn't work"
**What steps did you take and what happened:**
When I simple mount a secret using AWS as provider all works fine:
[code]
But if I try to sync the secret as a kubernetes secret and use as variable, the container fails saying: `Error: secret "database-name" not found`

**What did you expect to happen:**

Use the secrets values as ENV variables.

**Anything else you would like to add:**
The secret de

[2021-06-18 15:29] csepulveda commented on #600
Solved.

[code]

[2021-06-18 15:29] #600 closed

[2021-06-21 18:03] petegrimsdale opened #601 "Environment Variables not available from Secrets"
**What steps did you take and what happened:**
Deployment of CSI driver with simple secrets retrieved from Azure KeyVault.  The secrets have stopped syncing to the environment variables and the Pod fails to start with error message "Error: secret <name of secret> not found"
Failing pod.yml:
[code]

If the env reference is removed the pods starts correctly with the volumes mounted as expected

**Wh

[2021-06-21 18:18] nilekhc commented on #601
@petegrimsdale Thank you for opening the issue.
Could you provide your `SecretProviderClass` configuration?

Also, syncSecret is disabled by default in azure provider `v0.0.16`. You need to enable this to install required RBAC. Please refer to [release notes](https://github.com/Azure/secrets-store-csi-driver-provider-azure/releases/tag/0.0.16).

[2021-06-21 18:48] petegrimsdale commented on #601
@nilekhc - Thanks I was not aware of the breaking change as this is a deployment we have had running from a pipeline for a number of months - let me try with the syncSecret setting enabled

[2021-06-22 17:07] #286 closed

[2021-06-22 17:16] aramase opened #604 "[Helm] Handling CRD updates with helm3"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
We're moving the crds to `crds` dir as recommended by helm3. There is no support at this time for upgrading or deleting CRDs using Helm: https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#some-caveats-and-explanations

Opening this issue for us to consider the options for upgradin

[2021-06-22 21:27] NZenitram opened #605 "When invoking the SecretProviderClass from a dependent resource the the csi-secrets-store-driver returns an error"
**What steps did you take and what happened:**
When invoking the SecretProviderClass from a dependent resource the the csi-secrets-store-driver returns an error:

[code]

This only occurs when the SecretProviderClass is created using the imported clientset from this package:

[code]

When the SecretProviderClass is created with a yaml using kubectl, the resources works:

[code]

Go Generated Secre

[2021-06-24 16:04] aramase commented on #604
Ref: https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/289#issuecomment-866547334

[2021-06-24 17:57] lasred opened #610 "Feature Request: Option to read a value from inside the secret for key/value secrets"
**Describe the solution you'd like**
The aws provider has a feature request - https://github.com/aws/secrets-store-csi-driver-provider-aws/issues/11 from a customer that would like to be able to select individual key/value pairs from a json secret.

I wanted to open the same ticket against the driver repository to gauge the community interest in a feature like this

It makes sense for this functio

[2021-06-25 16:37] kchilka-msft commented on #485
@aramase - can you please provide us documentation on how to get all the available versions of a certificate from Azure Keyvault

[2021-06-25 16:40] aramase commented on #485
@kchilka-msft Getting all available versions of an object is not a feature that we support. Today if you provide the `objectVersion`, the exact version will be fetched. If no `objectVersion` is provided, then the latest will be fetched. This is a provider specific feature request, so please open an issue in  https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues with the feature r

[2021-06-25 16:45] kchilka-msft commented on #485
@aramase - ahh okay! from your previous comment I assumed it is possible. I will open up a feature request

[2021-06-25 16:47] aramase commented on #485
thank you! I'll close this issue now. Feel free to reopen if you have any questions.

/close

[2021-06-25 16:47] #485 closed

[2021-06-25 16:52] aramase commented on #572
@vpernankil I'm closing this issue now because this is specific to the Azure Keyvault provider. Please feel free to open an issue [here](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues) if you're still seeing any errors.

/close

[2021-06-25 16:52] #572 closed

[2021-06-25 16:54] aramase commented on #542
@mehmetsalgar Thanks for the update! I'll close this issue now as it's specific to the vault provider. If you're still facing issues, please feel free to open an issue [here](https://github.com/hashicorp/vault-csi-provider/issues).

/close

[2021-06-25 16:54] #542 closed

[2021-06-25 16:55] aramase commented on #464
/remove-lifecycle stale

[2021-06-25 20:36] #541 closed

[2021-06-25 21:26] #582 closed

[2021-06-27 21:41] luckerby opened #613 "DaemonSet desired nodes stays at 0 for the Secrets Store CSI Driver for Windows"
**What steps did you take and what happened:**
I'm trying to setup the Kubernetes Secrets Store CSI Driver and the associated Azure Key Vault Provider for Secrets Store CSI Driver on an AKS cluster. The cluster has multiple Linux nodes and one Windows node. For the Linux pods we have, everything works as expected, with environment variables being created based off Azure Key Vault secrets. We've re

[2021-06-27 22:20] luckerby commented on #613
Turns out it was as simple as adding the required toleration to each of the values file for the CSI Secrets Store Driver and Azure Key Vault provider respectively.

[2021-06-27 22:20] #613 closed

[2021-06-29 15:10] #356 closed

[2021-06-29 20:36] nilekhc commented on #604
/assign

[2021-06-30 09:36] albertsebastian1 opened #615 "Azure Security Alert because of setting privileged mode true for secret store CSI Driver"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Azure audit is reporting a security issue as running on privileged true. Requesting a feature to mitigate this.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- K

[2021-06-30 13:24] aramase commented on #615
@albertsebastian1 The CSI driver needs to run in privileged mode to be able to do the mount. You can deploy the driver and provider in the `kube-system` namespace. There is a note in the installation doc about it

https://azure.github.io/secrets-store-csi-driver-provider-azure/getting-started/installation/

[2021-07-02 01:08] tam7t opened #617 "Rename default branch to main"
**Describe the solution you'd like**
Tracking but for renaming the default branch to main

**Anything else you would like to add:**
* https://github.com/kubernetes/org/issues/2222
* https://github.com/kubernetes/k8s.io/issues/1597

## Prerequisites

- [x] Create an issue in your repo to track the branch rename.
You can paste this checklist in the issue body.

- [x] If you are not a root approver f

[2021-07-02 11:48] ricardotasso opened #618 ""Failed to create Kubernetes secret error" when trying to sync AWS Secrets Manager to Kubernetes Secrets"
**What steps did you take and what happened:**
When doing the setup using Helm and syncing the Secrets from SPC to Kubernetes Secrets I am receiving the error message
"secretproviderclasspodstatus_controller.go:325] "failed to create Kubernetes secret" err="secrets is forbidden: User \"system:serviceaccount:kube-system:secrets-store-csi-driver\" cannot create resource \"secrets\" in API group \"\"

[2021-07-02 12:14] ricardotasso commented on #601
@petegrimsdale check if in the secrets-store container in the csi-secrets-store-secrets-store-csi-driver pod aren't you receiving a message related to the Service Account Permission.

I had a similar [issue](https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/618) here and was a faulting permission to manage Secrets.

I just added the permission to manage secrets in the Cluster Role

[2021-07-02 16:24] nilekhc commented on #618
Hi @ricardotasso, Thanks for reporting this. sync secret is [disabled by default](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/221ef44211750661b2407e608ff707517d7a940a/charts/secrets-store-csi-driver/values.yaml#L186-L188). You can enable it by setting `syncSecret.enabled=true` while installing via helm.

cc @lasred

[2021-07-06 16:31] nilekhc commented on #322
/remove-lifecycle stale

[2021-07-06 16:32] nilekhc commented on #322
/remove-lifecycle stale

[2021-07-06 16:32] nilekhc commented on #416
/remove-lifecycle stale

[2021-07-07 13:46] tam7t commented on #618
It may help if on the install instructions [here](https://secrets-store-csi-driver.sigs.k8s.io/getting-started/installation.html#values) and call out rotation and secret sync features as explicitly

[2021-07-07 14:51] tam7t opened #619 "pull-secrets-store-csi-driver-e2e-windows failures"
**What steps did you take and what happened:**

e2e test failures on #616 look unrelated to the change.

[code]

**What did you expect to happen:**

Test to pass

**Anything else you would like to add:**

We should likely run integration tests periodically in addition to on PRs and releases to better catch e2e testing infrastructure issues.

**Which provider are you using:**
[e.g. Azure Key Vault,

[2021-07-08 10:17] jddexxx opened #620 "secrets-store dropping connection to registrar, liveness-probe after 30-45sec of deployment, only works correctly after container is restarted"
**What steps did you take and what happened:**
When spinning up project, the csi driver is unable to be found.

The namespace for the SecretsProviderClass is the same as the project's namespace (apps)
The driver and provider are running on all nodes, and the project runs on those same nodes
The driver and provider have been up and running in the same namespace
The driver and SecretsProviderClass a

[2021-07-08 11:08] giuseppeiannelli opened #621 "helm chart repo doesn't work"
**What steps did you take and what happened:**
helm chart repo doesn't work

**What did you expect to happen:**
use repo as helm chart repo

**Anything else you would like to add:**
I tried to install helm chart from terraform using helm provider

**Which provider are you using:**
[e.g. Azure Key Vault, HashiCorp Vault, etc. Have you checked out the provider's repo for more help?]

**Environment:*

[2021-07-08 16:56] nilekhc commented on #621
@giuseppeiannelli Thanks for reporting this. Could you provide more detail on error you are getting?

[2021-07-08 17:04] nilekhc commented on #620
Hello @jddexxx Thanks for reporting this.
From logs, it looks like node registrar lost connection. `E0708 08:44:49.082364       1 connection.go:131] Lost connection to unix:///csi/csi.sock.`

Also, could you try installing driver and provider in `kube-system` namespace?

[2021-07-08 17:56] tam7t commented on #619
https://github.com/kubernetes/test-infra/pull/22698 updated timeout from 60m -> 90m and added a periodic azure specific upgrade test.

Need to verify that the updated timeout helps resolve the issue and probably add regular e2e tests to periodic job for each provider as well before closing out this bug out.

[2021-07-08 17:59] tam7t commented on #621
Specifically information on the version of helm and version of terraform that you are using would help as well. The provided PR seems to just update whitespace that we've used in the repo for a while so I'm suspicious that the issue is the yaml and not a parsing issue in one of the tools used.

[2021-07-08 18:11] tam7t commented on #620
```Lost connection to unix:///csi/csi.sock``` is definitely suspicious.

another area to look is for OOM or abnormal process failures. I found https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/328 on the azure provider of a similar report.

[2021-07-08 19:04] jddexxx commented on #620
@nilekhc running the driver and provider in kube-system has the same result (and same logs)
@tam7t I'd found the same issue report but I don't see any OOM issues. There are <100 secrets running off this node and it doesn't seem as if the memory limit is come even close to. I'm certainly not a kubernetes professional, but I don't see any process failures either (aside from the 1 health check at boo

[2021-07-08 19:38] nilekhc commented on #257
/remove-lifecycle stale

[2021-07-08 19:39] nilekhc commented on #499
/remove-lifecycle stale

[2021-07-09 02:05] tam7t commented on #619
Okay after a bunch of debugging I think I've figured out some of the errors/flakes:

Looking at https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_secrets-store-csi-driver/471/pull-secrets-store-csi-driver-e2e-windows/1413238793065992192 specifically the failure was:

[code]

Checking at the [artifacts](https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-s

[2021-07-09 14:19] mitsutaka commented on #514
Update:
Due to the upcoming release of otel v1.0.0, I will update the package. There are so many breaking changes. we should update now because there are still few metrics in secrets-store-csi-driver. I'm going to refactor the PR and address comments.

[2021-07-10 22:16] georgechang opened #624 "Issues running secrets-store-csi-driver-windows"
**What steps did you take and what happened:**
Loading the `secrets-store-csi-driver-windows` container as a DaemonSet errors out due to unsupported features on Windows containers.
* Windows nodes do not support privileged containers (currently slated for [Kubernetes 1.22](https://github.com/kubernetes/enhancements/issues/1981))
* Windows containers do not support the `mountPropagation` attribute

[2021-07-12 13:38] aramase commented on #618
/kind documentation

[2021-07-12 14:00] aramase commented on #297
/remove-lifecycle stale

[2021-07-12 14:00] aramase commented on #25
/remove-lifecycle stale

[2021-07-12 14:00] aramase commented on #420
/remove-lifecycle stale

[2021-07-12 14:01] aramase commented on #333
/remove-lifecycle stale

[2021-07-12 14:52] aramase commented on #619
/assign

[2021-07-12 17:18] aramase commented on #620
@jddexxx Thank you for the details. This looks very similar to https://github.com/kubernetes-csi/node-driver-registrar/issues/139. The `node-driver-registrar` is the component that registers the driver with kubelet. Seems like there is no retry in place when the connection is lost and it's only resolved when the pod is restarted.

[2021-07-12 17:20] tam7t commented on #618
/assign

[2021-07-12 17:58] nilekhc commented on #36
/remove-lifecycle stale

[2021-07-12 19:05] #618 closed

[2021-07-12 19:19] jddexxx commented on #620
I can confirm that after simply restarting the pod (not redeploying), it works. I'll keep a note in the stack deployment manifest that this will likely need to be manually restarted after each deployment. I didn't try this originally as I assumed restarting would be the same as redeploying.

Thank you for your help, I will not close this issue for now as this is not a proper solution - it seems ve

[2021-07-12 20:01] #619 closed

[2021-07-12 20:45] #453 closed

[2021-07-12 21:25] aramase commented on #601
@petegrimsdale Is the issue resolved now?

[2021-07-13 07:35] kitos9112 commented on #621
I deployed the Helm chart version 0.0.23 last week without major complications using the Terraform Helm provider

These are the inputs of a custom Terraform module. Their names are pretty much mapping the actual provider plugin.
[code]

[2021-07-13 08:00] petegrimsdale commented on #601
@aramase - Yes this has been verified as working if the syncSecret setting is set as need to be true

[2021-07-13 08:00] #601 closed

[2021-07-13 15:02] aramase commented on #621
@giuseppeiannelli Could you check the comment https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/621#issuecomment-878852103. The charts are working with terraform.

[2021-07-13 16:52] #457 closed

[2021-07-14 04:27] gbarker commented on #621
Hi - may be related - I'm having trouble deploying the helm chart in aws-cdk 1.113.0 (build 61e1f65) / typescript- not sure what version of helm that's using.

my code:
[code]

error reported by `cdk deploy`:
[code]

[2021-07-14 14:46] giuseppeiannelli commented on #621
Changing repository from github.com to raw.githubusercontant.com the repository works.

[2021-07-14 14:46] #621 closed

[2021-07-14 21:48] #546 closed

[2021-07-15 14:26] #624 closed

[2021-07-15 19:24] aramase opened #634 "`pull-secrets-store-csi-driver-e2e-aws` failing"
[code]

[2021-07-15 19:25] aramase commented on #634
/assign @lasred

[2021-07-15 21:55] tam7t opened #636 "Additional Linters"
**Describe the solution you'd like**
Propose expanding `golangci-lint` linters to include the following:

- [ ] errcheck
- [ ] staticcheck
- [ ] typecheck

These would bring us to include [all default](https://golangci-lint.run/usage/linters/).

Additionally I think the following are probably worth including to enforce style and catch bugs:

- [ ] stylecheck
- [x] durationcheck
- [ ] errorlint
- [

[2021-07-15 22:01] aramase commented on #636
Let's add `goconst` and `gocyclo` too to the list

[2021-07-16 21:39] aramase opened #639 "`pull-secrets-store-csi-driver-e2e-windows` test flaky"
We recently updated the kubernetes version to v1.21 for the windows tests. The windows tests have largely been flaky ever since. Majority of the failures have been because of https://github.com/kubernetes-csi/node-driver-registrar/issues/143. The increased error in v1.21 seems to indicate there might be a regression in v1.21 where there is no `InfoRequest` callback from kubelet for registration.

[2021-07-16 21:42] aramase commented on #639
`node-driver-registrar` logs from this [PR](https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/638) confirm there is no callback from kubelet for registration for all the failed runs.

[2021-07-18 20:22] mmerickel commented on #389
Not having each pod contain a consistent view of the external secret in a way that can be updated declaratively is a dealbreaker for this driver. We want to apply an updated `SecretProviderClass` and `Deployment` and when new pods are created the class should be ensuring those new pods are loaded with 1) any changes made to the external secrets 2) any changes made to the provider class.

At least

[2021-07-19 16:11] aramase commented on #472
/remove-lifecycle stale

[2021-07-19 18:41] tam7t commented on #550
This was set on https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/594

[2021-07-19 19:51] tam7t opened #640 "`pull-secrets-store-csi-driver-e2e-gcp` failures due to expired credential"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/638

and

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_secrets-store-csi-driver/638/pull-secrets-store-csi-driver-e2e-gcp/1417196657778364416

[code]

https://storage.googleapis.com/kubernetes-jenkins/p

[2021-07-19 19:57] aramase commented on #640
Thank you for opening the issue @tam7t! Once you get a chance to update the creds in the prow cluster, we can retrigger the test in the PR to validate.

[2021-07-19 20:57] aramase commented on #634
@lasred has cleaned up the test account to cleanup the oidc providers. Closing this issue as it's now resolved and the tests are passing.

/close

[2021-07-19 20:57] #634 closed

[2021-07-20 00:37] #507 closed

[2021-07-20 18:15] #604 closed

[2021-07-20 20:25] #640 closed

[2021-07-20 22:05] aramase commented on #615
Closing this issue with reference to doc. If you have any further questions regarding the azure provider, please feel free to open an [issue](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues).

/close

[2021-07-20 22:05] #615 closed

[2021-07-21 16:17] aramase commented on #432
/remove-lifecycle stale

[2021-07-21 17:20] chuckthompsonprofisee opened #644 "Secrets are not creates in kubernetes that are defined in the secretObjects section of the SecretProviderClass"
**What steps did you take and what happened:**
The secrets are not being created in kubernetes  - This has been working for some time but on new deployments the secrets are not being created in k8.  the pod has the mount correctly mounted and I see the secrets in the mount, but they are not being created in kubernetes.  I have them defined in the SecretProviderClass in the secretObjects section.

[2021-07-21 17:38] nilekhc commented on #644
hello @chuckthompsonprofisee , Thanks for reporting this. Could you provide which version of driver and provider you are using?

`syncSecret` is disabled by default in azure provider `v0.0.16`. You need to enable this to install required RBAC. Please refer to [release notes](https://github.com/Azure/secrets-store-csi-driver-provider-azure/releases/tag/0.0.16).

[2021-07-21 18:01] chuckthompsonprofisee commented on #644
that worked!!  after adding the --set secrets-store-csi-driver.syncSecret.enabled=true to the helm install command for csi-secrets-store-provider-azure the secret are now there.  thanks!!

[2021-07-21 18:24] nilekhc commented on #644
Closing this issue. Please open another one if you face any problem.

[2021-07-21 18:26] nilekhc commented on #644
Closing this issue. Please open another if you face any problems.

/close

[2021-07-21 18:26] aramase commented on #644
/close

[2021-07-21 18:26] #644 closed

[2021-07-21 20:49] tam7t commented on #585
`RequiresReublish` would help us delete the `pkg/rotation/reconciler.go` controller, but that controller is ALSO responsible for updating sync'd K8s secret values.

That may mean that we need to rethink some K8s secret syncing logic to:
- stay in existing controller `rotation/reconciler` controller
- add logic to`pkg/secrets-store/nodeserver.go`
- expand `secretproviderclasspodstatus_controller.go

[2021-07-21 20:53] nilekhc commented on #585
We are reviewing [proposal](https://docs.google.com/document/d/1Ylwpg-YXNw6kC9-kdHNYD3ZKskj9TTIopwIxz5VUOW4/edit#heading=h.n3xa8h2b1inm) with `SIG-Auth`. If we end up creating separate subproject then we can deprecate sync secret logic altogether from driver.

[2021-07-21 20:56] nilekhc commented on #296
https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/602 takes care of this. Please let me know if otherwise.

cc @ritazh @aramase @tam7t

[2021-07-21 22:18] aramase commented on #636
/good-first-issue

[2021-07-21 22:54] nilekhc opened #646 "Update metrics-addr to accept integer value rather than ':port-number'"
User should not worry about formatting while providing port information. Code should handle necessary formatting (`:port-number` in this case). This also helps in avoiding helm template rendering [issues](https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/614#discussion_r659839796).

[2021-07-21 22:55] nilekhc commented on #646
/good-first-issue

[2021-07-21 23:05] aramase commented on #550
/close

[2021-07-21 23:05] #550 closed

[2021-07-22 09:23] Atharva-Shinde commented on #646
hey can I work on this issue??

[2021-07-22 09:25] Atharva-Shinde commented on #646
can you help me getting started ??

[2021-07-22 13:10] MadhavJivrajani commented on #646
/assign @Atharva-Shinde

@nilekhc please ensure enough context and pointers are provided for a good-first-issue :)
good-first-issues are typically zero-entry-barrier issues that folks with little to no background can pick up 😄

---

Based on my understanding, the following would need to be done but please correct me if I've gotten it wrong since I'm not very privy to the codebase :)

- change `fla

[2021-07-22 15:03] tam7t commented on #646
I'm not sure that I agree that this should be an integer value - the benefit of it being an address instead of just a port is that you can control listening i.e. `127.0.0.1:<port>` vs `0.0.0.0:<port>`

[2021-07-24 08:12] jayesh-srivastava commented on #636
Hi. I am a new contributor and I would like to work on this issue. Can you please guide me through this? And can you please assign me?

[2021-07-24 08:22] KamalSinghKhanna commented on #636
hey , I would like to take this issue suggest me ways to proceed.

[2021-07-26 17:07] ukreddy-erwin opened #661 "Azure key vault volume not accessible, how to fix that?"
I have followed the walkthrough provided in this [link](https://azure.github.io/secrets-store-csi-driver-provider-azure/demos/standard-walkthrough/)

And at step 6, I have tried to create a pod with the volume linked to the keyvault.

But it is not able to access the volume.
[code]

[2021-07-27 00:06] aramase opened #663 "`pull-secrets-store-csi-driver-e2e-gcp` failing"
The gcp tests switched to using workload-identity for accessing secrets. This was the last PR to get merged today as part of the migration: https://github.com/kubernetes/test-infra/pull/22944. After the PR merge, the tests have been failing with:

[code]

/kind failing-test

[2021-07-27 00:10] aramase commented on #661
@ukreddy-erwin Thank you for reporting the issue. Here is the troubleshooting guide: https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/. Could you provide the logs and other relevant info on the driver and provider version installed in the cluster?

1. Driver and provider version used
2. Logs from driver and provider pod running on the same node as your app
3. Kuberne

[2021-07-27 03:26] brucedvgw commented on #389
Jumping in a little late. Has this been resolved? Hitting the same issue that the ENV secret is not rotated.

[2021-07-27 06:05] ukreddy-erwin commented on #661
The SecretProviderClass and Pod yaml files are exact copies as in this [link ](https://azure.github.io/secrets-store-csi-driver-provider-azure/demos/standard-walkthrough/)

[code]

[2021-07-27 06:07] ukreddy-erwin commented on #661
[code]

[2021-07-27 13:52] rlaveycal commented on #389
Would giving the `SecretProviderClass` a dynamic name (e.g. append chart version) be a work-around? The k8s secret takes it's name from the SecretProviderClass (it would be nice to be able to override that). This way each deployment of a new version would result in a new class and so a new secret, which therefore must be a new call to the vault.

[2021-07-27 14:08] mmerickel commented on #389
@rlaveycal this was my stop-gap solution as well - haven't tried it yet to confirm it works but I suspect it will. In helm you can use `.Release.Revision`.

[2021-07-27 16:06] nilekhc commented on #194
/remove-lifecycle stale

[2021-07-27 16:49] aramase opened #665 "Truncate helm chart hook jobs name if longer than 63 char"
Ref: https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/592

[2021-07-27 16:51] aramase commented on #661
duplicate of https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/590

/close

[2021-07-27 16:51] #661 closed

[2021-07-27 17:45] #663 closed

[2021-07-27 20:58] nilekhc commented on #297
/assign

[2021-07-27 22:35] aramase opened #668 "Optimize driver build time for multi arch/os images"
The binary is built inside the golang builder docker container. In case of prow image build in gcb, it takes ~1h10m for the image build to complete (linux/amd64, linux/arm64, windows/amd64/1809, windows/amd64/1903, windows/amd64/1909, windows/amd64/2004).

We can optimize this by building the binary once on host for different os/arch and load into the docker image.

/assign

[2021-07-29 09:41] gperezivo opened #670 "Unable to set environment variable from Azure Key Vault: Service Account cannot list secrets"
**What steps did you take and what happened:**
I created a SecretProviderClass with secretName referencing an Azure Key Vault secret using pod identity:

[code]
When I try to refer the secret in a pod env variable, I get an error: __secret "kv-secret" not found__
[code]
[code]

The pod identity it's working and when I remove the environment variable the store inline mounts correctly and fill the v

[2021-07-29 10:27] #670 closed

[2021-07-29 10:28] gperezivo commented on #670
Nevermind, I dont type correctly the ```secrets-store-csi-driver.syncSecret.enabled=true``` option...

[2021-07-29 23:09] #665 closed

[2021-07-30 16:19] asonnleitner commented on #610
@lasred any update on that?

[2021-07-30 17:45] aramase commented on #416
Log collection was added as part of these PRs:

#599
#632
#638

/close

[2021-07-30 17:45] #416 closed

[2021-07-30 21:54] taiyyu opened #672 "GCP Autopilot support"
**Describe the solution you'd like**
I would like to use secrets-store-csi-driver w/ GCP Autopilot Cluster.

**Anything else you would like to add:**
When trying to install the helm3 chart I get this:

[code]

**Environment:**
GCP Autopilot Cluster

- Secrets Store CSI Driver version: (use the image tag):  secrets-store-csi-driver-0.1.0
- Kubernetes version: (use `kubectl version`):  1.20.8-gke.70

[2021-08-02 23:07] aramase commented on #672
cc @tam7t

[2021-08-03 17:04] bks-wujt opened #674 "Secret object not updated after consecutive releases"
I use csi with GCP and mount it as secret object. Then utilize it as env within a pod.

**First release:**
[code]
[code]

After first release everything is ok, but after second one - when I add more secrets (in the same manner as above) - the secret object is not being updated. I use helm and when I print release via `helm get all release-name` I can see that SecretProviderClass object is updated,

[2021-08-03 17:24] aramase commented on #674
@bks-wujt Did you enable `syncSecret` as part of the helm install/upgade? With `v0.0.23` release, we disabled `syncSecret` by default in helm. If you're using the secrets-store-csi-driver to sync as Kubernetes secret, then you would need to explicitly set `syncSecret.enabled=true` when installing/upgrading the driver.

Docs: https://secrets-store-csi-driver.sigs.k8s.io/getting-started/installation

[2021-08-03 17:27] bks-wujt commented on #674
I did it explicitly:

[code]

[2021-08-03 17:34] aramase commented on #674
Are you restarting the pod when updating the SecretProviderClass with new objects? The Kubernetes secret will only be updated by the rotation controller and default reconcile interval is 2m. So if you update the SecretProviderClass with new objects:
1. The mount will be updated after the rotation reconcile interval
2. The k8s secret will also be updated after the rotation reconcile interval
3. To

[2021-08-03 17:49] #578 closed

[2021-08-04 14:05] thomasmRavn opened #675 "Job annotations"
We use istio on our estate, which creates a sidecar to encrypt pod-pod communication.
This causes jobs to never complete because the side car never exits.
Istio can be turned off either by adding annotations to the pod or can be told to ignore pods with specific labels.
However we because both the daemonset and the job have the same labels, and you can't specify job annotations we can't tell istio

[2021-08-04 15:56] aramase commented on #528
/remove-lifecycle stale

[2021-08-04 17:59] aramase commented on #668
Building the binary in the multi-stage docker build gives us a reproducible environment which is not the case with building on the host. Instead of building the binary on the host, I think we can

1. maintain a vendor folder
2. Use `-mod=vendor` in the builds

[2021-08-04 20:27] aramase commented on #639
https://github.com/kubernetes-csi/node-driver-registrar/pull/152 merged to add a liveness-probe check mode in `node-driver-registrar` and release is planned for in the next 2 weeks.

- [ ] Update to the new `node-driver-registrar` image when available
- [ ] Enable liveness-probe for `node-driver-registrar`
- [ ] Update Kubernetes version to v1.21 for windows after testing

[2021-08-04 21:20] aramase commented on #297
Closed with #669

/close

[2021-08-04 21:20] #297 closed

[2021-08-05 15:13] aramase commented on #668
This improves the build time, so we'll go ahead with the vendor approach.

[2021-08-05 21:30] ritazh opened #677 "Troubleshooting tool"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

A tool to help users troubleshoot on their own by running a simple command and return a report that lists condition of commonly misconfigured things.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Dr

[2021-08-06 09:32] thomasmRavn commented on #675
Hi aramase, yes that is exactly what I mean. will try and get the pr to you sometime next week.

[2021-08-06 10:07] bks-wujt commented on #674
Thanks for reply, @aramase. I did those steps and secret is still not being created.

[code]

[code]

SecretProviderClass object is present in current release:
[code]

[code]

[2021-08-06 15:39] aramase commented on #674
@bks-wujt I don't see any mount requests in the driver logs. Is this the log from the driver running on the same node as your app? Could you share the `SecretProviderClass` and `Pod` yaml?

[2021-08-06 21:16] bks-wujt commented on #674
@aramase Yes, api pod and csi pods are in the same node, I have double checked that. What is more, when I first time did it, it went ok, secret was created and pod was using it correctly. Also, logs were showing some movement, eg gathering secret values during pod creation phase.

But when updated deployment and added more secrets, things started working not as expected. When I tried different app

[2021-08-06 21:25] aramase commented on #674
@bks-wujt Could you post the entire deployment yaml with sensitive info redacted? I'm interested to see the `volumes` and `volumeMounts`.

[2021-08-06 21:54] bks-wujt commented on #674
Hence I use secrets only as env's I do not mount this secret as volume to the pod.

[2021-08-06 21:55] ritazh opened #678 "CRD upgrade should work for pre-install"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Currently, the CRD upgrade helm hook only runs for pre-upgrade. This does not upgrade pre-existing CRDs in the cluster if the user does a `helm uninstall` then a fresh `helm install`.

**What did you expect to happen:**
For clusters with pre-existing CRDs, if the user does a `helm uninstall` then

[2021-08-06 22:25] aramase commented on #674
Ah, the mount is mandatory. See https://secrets-store-csi-driver.sigs.k8s.io/topics/sync-as-kubernetes-secret.html#sync-as-kubernetes-secret

[code]

The sync Kubernetes secret is an optional feature that's supported on top of the default mount. Without the mount, the CSI driver will never be invoked.

[2021-08-06 22:35] #678 closed

[2021-08-07 07:08] bks-wujt commented on #674
Many thanks @aramase , I obviously missed that. Now it works like a charm.

I have question in addition - when using secrets as mounted files, the service account binded to workload identity is used in pod. In my case - hence I retrieve secret values from secret k8s object - I do not need it - then how the authentication is managed? Is CSI under the hood connects to SA workload identity associated

[2021-08-09 16:27] aramase commented on #446
/remove-lifecycle stale

[2021-08-09 19:34] tam7t commented on #674
The details of auth here are all specific to the GCP provider. There is some documentation here on how it works:

https://github.com/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp/blob/main/docs/authentication.md#pod-adc---pod-workload-identity-default

[2021-08-09 19:40] tam7t commented on #672
GKE autopilot has a number of limitations that make the CSI driver incompatible from https://cloud.google.com/kubernetes-engine/docs/concepts/autopilot-overview#limits

* Using `hostPath` volumes in write mode is prohibited - this is required for the driver to have access to all pod filesystems for performing mounts
* No privileged Pods - `privileged` is required for the driver to create the `tmpf

[2021-08-09 19:49] aramase commented on #527
/remove-lifecycle stale

[2021-08-09 21:27] tam7t opened #680 "Secrets not rotated when using subPath"
**Describe the solution you'd like**

When using a volume with `subPath`

[code]

The application may not be able to observe when the secret is rotated.

**Anything else you would like to add:**

This may be limited to just the use of the `AtomicWriter` since directly writing the files would not involve symlinks.

We should verify and document this limitation.

**Environment:**

- Secrets Store CS

[2021-08-10 19:01] nilekhc commented on #472
/assign

[2021-08-11 15:16] aramase commented on #298
/remove-lifecycle stale

[2021-08-12 18:39] aramase opened #687 "Hosting helm charts in github pages"
- Hosting in github pages will give us the flexibility to publish charts from release branches
- Automate the packaging and publish of helm charts using github actions.

Things to do:
- [x] Create `gh-pages` branch with the current charts dir and updated index
- [ ] Add the github actions to publish helm charts (#693)
- [ ] Update `promote-staging-manifest` target to remove `helm package` command

[2021-08-12 20:18] tam7t opened #688 "automatically integration test images before release promotion"
**Describe the solution you'd like**

During a release we:

1. bump the version number in a PR
1. merge the pr into the `release-X.X` branch
1. this kicks off the `secrets-store-csi-driver-push-image` prow job
1. that job kicks off a cloud build run to build the docker images and push them to staging `gcr.io/k8s-staging-csi-secrets-store`
1. we manually promote the staging images to the prod with

[2021-08-12 20:21] aramase commented on #688
Adding to @tam7t write up, we run `release` tests when the deployment manifests and helm charts are updated as part of release. This tests the official published image.

In addition to the release tests, running e2e tests against the staging image published will give us a signal if the image is good for promotion.

[2021-08-13 11:03] thomasmRavn commented on #675
Hey @aramase sorry this took so long, you know how it is as soon as you pick something up 10 more things burst into flames.
https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/692
Hope this is ok, please let me know if I've done anything wrong here. Tested it locally in kind and I can add annotations to the pods the job creates.

[2021-08-13 15:13] ddskit commented on #298
Another use case is where we are trying to create a PV and PVC using azure flexvolume [blobfuse](https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/blobfuse) driver which needs a secret (type: azure/blobfuse) to be available in cluster to access the storage account. This secret need to be created by picking up the storage account access key from key vault but there is no nee

[2021-08-13 19:10] nilekhc commented on #675
@thomasmRavn I think we should have test with these custom annotations. We can [add some test annotation](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/Makefile#L387-L401) to CRD hooks as part of our tests. Helm hooks relay on annotations as well, this way we can be assured that adding new annotations won't alter helm behaviour. WDYT?

cc @aramase @tam7t

[2021-08-14 17:22] Atharva-Shinde commented on #646
/unassign

[2021-08-16 10:00] thomasmRavn commented on #675
^ ignore the "crds not called on 1st install" ran it locally and it looks like they are sorry

[2021-08-16 17:16] nilekhc commented on #675
@thomasmRavn I looked at test runs. Annotation are being applied on `job.spec` and not on `job` itself. This will not conflict with helm behaviour. So we can revert this test changes or keep it. Either way should be ok.

Thanks!

[2021-08-16 18:05] #675 closed

[2021-08-16 20:21] aramase commented on #639
/close

[2021-08-16 20:21] #639 closed

[2021-08-17 09:23] thomasmRavn commented on #675
@nilekhc yeah I needed the pod the job creates to have the annotations.
Thank you for your help

[2021-08-17 18:16] aramase commented on #617
Ref: https://www.kubernetes.dev/resources/rename/

/assign

[2021-08-17 18:25] aramase commented on #617
Updated the PR description with the checklist from the document

[2021-08-17 20:15] aramase commented on #617
Renaming the branch from `master` to `main` will also break the helm charts.

[code]

The long term solution was to move the helm charts to `gh-pages` which will alleviate this concern and not rely on the branch names going forward: #687

[2021-08-17 21:26] aramase commented on #687
Tried this out on my fork and it works well!

1. Create the `gh-pages` branch with existing charts directory

   1. Create the `gh-pages` orphan branch
[code]

    2. Update the helm index with the new github pages url
[code]

    3. Push changes to the branch
[code]

    With this push , all the existing helm releases will now be available on `https://aramase.github.io/secrets-store-csi-driver/ch

[2021-08-17 21:57] aramase commented on #346
/remove-lifecycle stale

[2021-08-17 23:01] aramase commented on #687
/assign

[2021-08-18 12:41] aaaaahaaaaa commented on #298
Another quick feedback: I also find very cumbersome the necessity to start a pod in order for a secret to be created. I would say even counter intuitive when looking at this project for the first time, although I understand the initial scope of the driver was different.

As a user, I was hoping for a solution that easily bridges GCP Secret Manager and Kubernetes secrets, without affecting my exist

[2021-08-18 17:09] aramase commented on #674
Closing this issue with @tam7t's comment on the internals.

Please feel free to reopen if you have any other questions.

/close

[2021-08-18 17:09] #674 closed

[2021-08-18 22:03] #687 closed

[2021-08-19 05:16] 616b2f commented on #597
@aramase any insides about why it is depricated? I mean it was set to true in v0.1.0 via this PR #550 and was mentioned in the release notes of the last release? Can you please help me to understand.

[2021-08-19 11:01] pete-leese opened #694 "CSI Driver image contains critical CVE's"
Hi,

I have mirrored your public docker imager (driver:0.20) into our internal docker repo, but ran trivy against the image, it has detected a number of vulnerabilities:

CVE-2021-33574
CVE-2021-35942

Can these please be remediated as part of the upstream image ? Can I recommend you implement trivy / grype as part of your docker build image process to ensure images are being released that do not

[2021-08-19 15:26] aramase commented on #694
@pete-leese Thanks for opening the issue!

We already have trivy as part of our CI and periodic test runs. Here are the periodic test runs: https://testgrid.k8s.io/sig-auth-secrets-store-csi-driver-periodic#secrets-store-csi-driver-image-scan.

The CVE's you posted above don't have a fix yet so there is no action item on our side for now.

[2021-08-19 15:52] aramase commented on #597
The feature is enabled in `v0.1.0`. The flag will be deprecated as this is going to be default behavior and will not be configurable going forward.

[2021-08-19 17:09] aramase opened #696 "Add doc for deprecation process"
/kind documentation

[2021-08-19 17:56] aramase opened #699 "Remove helm repo URL note from install docs"
nit: I think it may be fine to remove this note from all the first time install pages and only leave it on the upgrade one, it may 'get in the way' of new users who have to read it and determine whether it matters to them or not.

_Originally posted by @tam7t in https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/695#discussion_r692346728_

/kind documentation
/kind cleanup

[2021-08-19 17:58] aramase opened #700 "test: `CSI inline volume test with pod portability - unmount succeeds` flaky"
This test is flaky mostly for the aws provider with the same error:

[code]

/kind failing-test
/cc @tam7t

[2021-08-19 17:58] aramase commented on #700
ref: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_secrets-store-csi-driver/695/pull-secrets-store-csi-driver-e2e-aws/1428401286113398784/build-log.txt

[2021-08-19 18:08] tam7t commented on #700
So AWS provider has 3 instances of this on the [testgrid](https://testgrid.k8s.io/sig-auth-secrets-store-csi-driver-postsubmit#secrets-store-csi-driver-e2e-aws-postsubmit) currently.

Each instance is the same error and when the artifacts are inspects it seems like the `basic-test-mount` is in fact deleted.

Leads me to believe that there is  a race between the `kubectl wait` and the `kubectl dele

[2021-08-20 10:41] tomhjp commented on #432
Just to update this, the feature to send secrets over gRPC is implemented, so the only reason providers _require_ a hostPath now is to establish a unix socket connection with the driver.

[2021-08-20 18:46] aramase commented on #595
Closing this with

https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/654
https://github.com/kubernetes/test-infra/pull/22978
https://github.com/kubernetes/test-infra/pull/23229

/close

[2021-08-20 18:46] #595 closed

[2021-08-23 17:16] aramase commented on #597
/close

[2021-08-23 17:16] #597 closed

[2021-08-23 18:22] dimbleby opened #705 "upgrade hook job names should be trimmed to 63 characters"
**What steps did you take and what happened:**
[code]

**What did you expect to happen:**

Not that!

**Anything else you would like to add:**

Looks as though `sscd.fullname` is trimmed to 63 characters, but then you create Jobs etc with names as
[code]
which clearly can overrrun.

I see that it's possible to workaround either by giving the helm release a shorter name in the first place; or with

[2021-08-23 18:42] aramase commented on #705
@dimbleby This is not an issue with the driver charts. For charts that use this chart as dependency, this would be an issue for long names. For the azure provider, this has already been fixed in `v0.2.0` release. Ref issue: https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/592

[2021-08-23 18:47] dimbleby commented on #705
The charts defined in this repository allow `sscd.fullname` to be 63 characters, and then append to that to produce new names.  Wouldn't it be better to fix this once, here, than to make everyone who uses this chart work around it by providing a shorter name as an override?

However to be honest I don't care to argue about it if you feel otherwise.  As I say, it's easy enough to deal with by using

[2021-08-23 18:53] aramase commented on #705
AFAIK, the name override is still required when the driver charts are used as dependency in the other charts even with the change to trim the job name to 63 charts after generation. Without the override helm will append the parent chart name to the the driver charts and there is no way to truncate that long name to 63 charts. Please correct me if I'm wrong? If there is a way we can certainly get t

[2021-08-23 18:56] dimbleby commented on #705
Well for instance you surely don't _have_ to construct the job names by taking the full name and appending to it?

Some other mechanism that was sure to produce valid names would seem preferable.

[2021-08-24 12:55] pierluigilenoci opened #706 "Error: container has runAsNonRoot and image will run as root (container: crds-upgrade)"
**What steps did you take and what happened:**

I tried to update the CSI Driver from version 0.0.20 to 0.2.0 and it failed because in our cluster we have a PSP that does not allow it to run as root.

**What did you expect to happen:**

That container crds-upgrade ran as non-root

**Anything else you would like to add:**

Our PSP:
[code]

The update to version 0.1.0 had failed for #592

**Which pr

[2021-08-24 13:57] tomhjp opened #707 "Document the effects of enabling swap in 1.22+"
**Describe the solution you'd like**
The driver writes secrets to `tmpfs` volumes [[0]] so that they are kept in memory and not written to disk. That eliminates an important threat vector because the secrets are typically written to volumes unencrypted, and having those on persistent storage is much less desirable than in volatile memory.

In Linux-world, `tmpfs` mounts reside primarily in memory,

[2021-08-24 14:17] pierluigilenoci commented on #706
@aramase could you please take a look?

[2021-08-24 16:24] aramase commented on #706
/cc @nilekhc

[2021-08-24 18:52] aramase commented on #700
Similar issue seen with the vault provider: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_secrets-store-csi-driver/708/pull-secrets-store-csi-driver-e2e-vault/1430239529716944896

[2021-08-24 19:42] aramase commented on #705
@dimbleby Thanks for the feedback! Agreed we might not need to use the `fullname` for the jobs given there is no control for truncation when used as a subchart.

I think we could just use a static name for the job `secrets-store-csi-driver-upgrade-crds` and `secrets-store-csi-driver-keep-crds` instead of templating it. @nilekhc thoughts?

[2021-08-24 23:18] nilekhc commented on #705
Sure.. This sounds good to me. The current implementation is to be consistent with naming convention we have been following in charts. But in this case it makes sense to have static name to avoid such errors.

[2021-08-24 23:19] nilekhc commented on #705
Thanks for reporting this and the feedback @dimbleby

[2021-08-30 17:23] aramase commented on #592
Closing with:
- https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/633
- https://github.com/kubernetes/test-infra/pull/22908

/close

[2021-08-30 17:23] #592 closed

[2021-08-30 18:58] aramase commented on #668
We bumped the machine type used in cloudbuild to `N1_HIGHCPU_8` as part of https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/714.

With this change, the build time has significantly improved. It now takes 14m instead of the previous 1h10m.

/close

[2021-08-30 18:59] #668 closed

[2021-08-30 23:13] aramase commented on #700
We haven't seen this issue after #713 was merged. Closing this issue now.

/close

[2021-08-30 23:14] #700 closed

[2021-08-31 15:18] tyanko1 commented on #389
This works well for me with the downside being that Helm does not clean up the secrets created by previous releases resulting in a bunch of orphaned secrets lying around in k8s.

[2021-08-31 16:17] rlaveycal commented on #389
the orphan k8s secrets are the responsibility of the driver not Helm. They have the label `secrets-store.csi.k8s.io/managed=true` on them but I can't see any logic that deletes them

[2021-08-31 18:59] mmerickel commented on #389
I have since implemented that stop-gap solution and for us it has been properly cleaning up the secrets. I will say we are making a new SecretProviderClass **and** new secretName from it as the `secretObjects[0].secretName` both using `{{ include "chart.fullname" . }}-{{ .Release.Revision}}` - so far no orphaned secrets this way.

[2021-08-31 22:17] aramase commented on #576
/remove-lifecycle stale

[2021-09-01 00:34] #472 closed

[2021-09-01 17:26] nilekhc commented on #688
/assign

[2021-09-01 20:31] dimbleby opened #722 "Capability to set file-system permissions for mounted secrets"
**Describe the solution you'd like**

Supposing my secret is an ssh key.  Then I'm going to want the file to have permissions 0600, else I'll get
[code]
etc

Looks like everything that this driver mounts gets permissions 0644 - [here](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/55efc2dd1a8b64d7f7961d769c79c8100398a555/pkg/secrets-store/nodeserver.go#L48) and [here](https://git

[2021-09-01 20:56] nilekhc opened #723 "Switch to e2e-provider(mock provider) for e2e testing"
Once we have enough test signal from `pull-secrets-store-csi-driver-e2e-provider` job then:
1. Make it a required job
2. Remove dependency from cloud provider specific e2e tests.

[2021-09-01 21:29] nilekhc commented on #333
/assign

[2021-09-02 07:11] freeman opened #725 "Notify if multiple SPC try to sync to the same kubernetes secret"
**Describe the solution you'd like**
Currently if you have multiple SPC in a given namespace and they each try to sync to the same kubernetes secret you get an unclear behavior (It seems one of the SPC wins 🤷) and no logs from the driver seems to notice it.

It would be nice to be at least notified (maybe an event on the namespace ?) or it could even be an error blocking the creation of the SPC.

[2021-09-02 15:31] nilekhc commented on #688
We have couple options for this:
1. We can have `postsubmit` job which will run on release branch. It will poll until staging image is available and then run e2e tests with mock provider.
2. We can have `github action`. Once staging images are available, we can manually trigger this action (possibly with input params such as registry name, image tag etc.) to run e2e tests with mock provider

[2021-09-02 16:38] aramase commented on #617
1. The helm charts have been moved to gh-pages: https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/695
2. Non-disruptive changes in test-infra have been merged
3. There is a PR open for disruptive changes

Pending:
1. Update netlify to main post approval.
2. Merge the disruptive changes PR in test-infra
3. Rename branch from master to main
4. PR to update docs and references

[2021-09-02 16:39] aramase commented on #617
/assign @kubernetes/owners

as suggested in https://www.kubernetes.dev/resources/rename/#approval

[2021-09-02 17:20] spiffxp commented on #617
LGTM as a member of @kubernetes/owners

[2021-09-02 18:30] aramase commented on #617
The branch rename is complete.

All contributors will need to follow these [instructions](https://docs.github.com/en/github/administering-a-repository/managing-branches-in-your-repository/renaming-a-branch#updating-a-local-clone-after-a-branch-name-changes) for renaming their local branch.

[2021-09-02 19:57] aramase commented on #617
All the changes are complete. We've sent a notice on the mailing list: https://groups.google.com/g/kubernetes-secrets-store-csi-driver/c/-a-88haTlTQ/m/ESi28uGeBgAJ and posted on slack.

/close

[2021-09-02 19:57] #617 closed

[2021-09-03 20:32] Uehara96 opened #728 "Permission denied when trying to create a pod"
**What steps did you take and what happened:**
Installed `csi-secrets-store-csi-driver` and `vault-csi-provider` using helm and they are running in csi namespace.
Also did the kubernetes authentication.
Created the `SecretProviderClass` and the pod to read the secret from vault on namespace app. The pod keeps on `"ContainerCreating"` because it fails to create the volume and returns `"permission d

[2021-09-07 16:55] aramase commented on #728
@Uehara96 Thanks for reporting the issue. Have you followed the documentation in the vault provider for setting up the required permissions: https://www.vaultproject.io/docs/platform/k8s/csi?

Also, since this issue is specific to the vault provider, could you open an issue [here](https://github.com/hashicorp/vault-csi-provider/issues)?

[2021-09-08 14:24] Uehara96 commented on #728
Thanks for the reply @aramase. Yes, I followed this documentation for the authentication.
I'm going to close this issue here and create on the [vault-csi-provider](https://github.com/hashicorp/vault-csi-provider/issues/108).

[2021-09-08 14:24] #728 closed

[2021-09-09 00:14] #688 closed

[2021-09-09 08:07] jotasixto opened #733 "E0909 failed to get pod Pod not found"
**What steps did you take and what happened:**
A pod that has a secret associated with it is deleted, but the secret-store keeps trying to reconcile the secret in this pod even though it no longer exists.

Log in secret-storage container of specific eks node:

[code]

Indicate that despite this error registered in the logs, everything works as expected.

**What did you expect to happen:**
This sho

[2021-09-09 16:29] aramase commented on #733
@jotasixto the CSI driver gets the pod to reconcile based on the `SecretProviderClassPodStatus` (SPCPS). When the SPCPS is created to signify the mapping between the pod and SecretProviderClass, the pod is added as an owner for the SPCPS. So when the pod gets deleted, the SPCPS will automatically be gc'ed by the kubernetes controllers. Looks like in your scenario the pod is gone but the SPCPS stil

[2021-09-10 06:51] jotasixto commented on #733
@aramase  Thank you very much for your quick reply!

I didn't know of the existence of the object `SecretProviderClassPodStatus` :sob:  .

This is the output of the kubectl you told me:

[code]

I deleted the `datadog-agent-5tlwk-datadog-datadog-ssm` object and now the logs is clean of errors :tada:

The secret store container was not restarting, It just continuously wrote the four lines of error

[2021-09-10 06:51] #733 closed

[2021-09-13 19:50] lari002 opened #734 "Manually trigger an update of mounted secrets from the secret store"
**Describe the solution you'd like**
This is more a question, I apologize if it is inappropriate here.
Is it possible for the Secrets Store CSI Driver to somehow update mounted secrets without the reconciler and the pod restart?
In other words I would like to be able to update (manually for now) the secrets in the secrets store (AWS Secrets Manager)
and have them updated in the mounts but it would

[2021-09-16 16:12] aramase commented on #734
@lari002 If you're not using the auto rotation feature, the only way to update the secrets in the mount is to restart the pod. When the new pod is created, it'll go through the volume mount again and the latest secrets will be fetched from the provider.

[2021-09-16 18:12] nilekhc commented on #646
/close

ref : https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/704#issuecomment-921130931

[2021-09-16 18:13] #646 closed

[2021-09-17 10:34] lari002 commented on #734
@aramase Thanks for the explanation.

[2021-09-17 10:34] #734 closed

[2021-09-17 17:11] nilekhc opened #739 "Add inplace upgrade test"
We are removing workload resources while performing upgrade tests. Add inplace upgrade tests to validate behaviour without deleting existing resources.

Ref: https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/602#discussion_r710258200

/assign

[2021-09-17 18:53] aramase opened #740 "Add test with different kubernetes version for e2e provider"
- Helps validate any breaking changes that can cause driver to fail across different kubernetes version.

/assign

[2021-09-20 21:08] #739 closed

[2021-09-22 16:27] jacobbeasley commented on #529
Perhaps not directly related, but I wonder if inspiration could be drawn from the Vault Injector Sidecar's options, such as in the use of template files to extract and format a vault secret into a format that most applications can use natively (such as a .env file or a bash script with exported env vars).

https://www.vaultproject.io/docs/platform/k8s/injector#secret-templates

[2021-09-22 18:52] #740 closed

[2021-09-23 00:26] aramase commented on #567
/remove-lifecycle rotten

[2021-09-23 17:20] nilekhc commented on #464
/remove-lifecycle stale

[2021-09-23 20:35] aramase opened #746 "`secrets-store-csi-driver-inplace-upgrade-test-e2e-provider` failing"
Periodic test failing: https://testgrid.k8s.io/sig-auth-secrets-store-csi-driver#secrets-store-csi-driver-inplace-upgrade-test-e2e-provider

/kind failing-test
/cc @nilekhc

[2021-09-23 21:23] nilekhc commented on #746
It's failing due to timeout issues on prow.

[code]

[2021-09-23 21:28] nilekhc commented on #746
Seems like there are other issue too. I'll look into this as soon as prow issue is resolved.

/assign

[2021-09-24 07:02] khs3131 opened #747 "Question: I want each to have an environment variable value"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
I have one aws secret manager. There are five secret values in aws secret manager: username, password, engine, host, and port. I want to display the values of username, password, engine, host, and port respectively when connecting to the inside of the pod (exec -it) using the env field. For example,

[2021-09-24 18:53] aramase opened #750 "Move prow jobs to `k8s-infra-prow-build` cluster"
Ref: https://kubernetes.slack.com/archives/C09QZ4DQB/p1632414457031600

Moving the jobs to `k8s-infra-prow-build` will not necessarily resolve this issue. With this move, in case of issues we might be able to get conditional access to debug which isn't possible today with the default prow cluster.

[2021-09-24 19:10] aramase commented on #750
Conversation for the secrets: https://kubernetes.slack.com/archives/CCK68P2Q2/p1632506856100000

[2021-09-24 20:57] nilekhc commented on #747
/cc @lasred

[2021-09-27 16:59] nilekhc commented on #239
/remove-lifecycle stale

[2021-09-27 17:00] nilekhc commented on #239
/remove-lifecycle rotten

[2021-09-28 16:40] #746 closed

[2021-09-30 20:13] jobinjosem1 opened #761 "How to use Azure App Service certificate in Nginx Ingress using CSI"
**What steps did you take and what happened:**

We have a GoDaddy certificate procured using the Azure app service certificate. The certificate is exported into the KV as a secret. We would like to use this certificate in Nginx Ingress using CSI driver, for establishing TLS.
Looking at the SecretProviderClass in the samples, I understand there is a requirement to specify both tls.crt and tls.key b

[2021-10-01 17:16] mallow111 commented on #636
/assign

[2021-10-01 20:53] aramase opened #763 "Document the difference in linux and windows volumes mounts"
In case of Linux, the volume is mounted as `tmpfs`. However for windows this is just written to the filesystem as the mount `tmpfs` for windows just creates the directory (target path) if it already doesn't exist. It'll be good to update it here: https://secrets-store-csi-driver.sigs.k8s.io/concepts.html#how-it-works

/kind documentation

[2021-10-01 20:54] aramase commented on #761
@jobinjosem1 As this is specific to the azure provider, could you instead open an issue here: https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues?

[2021-10-01 20:55] aramase commented on #747
@khs3131 As this is specific to the AWS provider, could you open an issue [here](https://github.com/aws/secrets-store-csi-driver-provider-aws/issues) instead?

[2021-10-01 20:56] #333 closed

[2021-10-05 16:43] aramase opened #768 "Automate PR creation for bumping the image version"
xref: https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/main/docs/RELEASE.md#versioning

- Provide a script to open a PR for bumping the image version at the time of release in the `Makefile` and `docker/Makefile`.

[2021-10-05 17:59] aramase opened #771 "`pull-secrets-store-csi-driver-e2e-aws` failing"
[code]

/kind failing-test

[2021-10-05 21:22] aramase commented on #771
Seems to be a flake. Closing this as the tests are passing now.

/close

[2021-10-06 16:23] mallow111 commented on #636
/close

[2021-10-06 16:27] tam7t commented on #636
This issue should stay open as there are a number of additional linters that would be good to enable.

[2021-10-13 16:48] #694 closed

[2021-10-13 17:27] tam7t commented on #370
Roadmap is at https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/main/docs/design/README.md

[2021-10-20 18:31] aramase commented on #636
The last PR for the changes was merged: https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/790.

/close

[2021-10-24 06:39] jasonumiker opened #794 "Helm chart ARM64 support"
The Helm chart doesn't run on ARM64 Nodes such as AWS Graviton Instances. It looks like some work has been going on to support ARM64 but this has not yet made it into the Helm Chart.

[2021-10-27 08:57] Karabiy opened #795 "SecretProviderClass returns dict instead of returning each value"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
[code]
I do have a following SecretProviderClass and when I am trying to get this one as an env variable on the machine, I do receive the following
[code]
And same for
[code]
On the side of the pod
**What did you expect to happen:**
I've expected to receive the key of my, for example:
[code]
So tha

[2021-10-27 21:12] #795 closed, assigned to nobody

[2021-10-28 15:37] aramase opened #796 "`secrets-store-csi-driver-upgrade-test-azure-release-0-1` failing"
Ref: https://testgrid.k8s.io/sig-auth-secrets-store-csi-driver#secrets-store-csi-driver-upgrade-test-azure-release-0-1

/kind failing-test

[2021-11-02 08:05] hoejun opened #799 "hello?"

[2021-11-02 08:05] hoejun commented on #799
where are you from?

[2021-11-02 16:18] aramase commented on #799
@hoejun Did you have a question for this project?

[2021-11-02 16:58] aramase commented on #528
/remove-lifecycle stale

[2021-11-03 04:20] #799 closed

[2021-11-03 16:26] aramase commented on #796
Added a new periodic job with `release-0.3` and `release-1.0` (currently supported versions):
- https://testgrid.k8s.io/sig-auth-secrets-store-csi-driver-periodic#secrets-store-csi-driver-upgrade-test-azure-release-0-3
- https://testgrid.k8s.io/sig-auth-secrets-store-csi-driver-periodic#secrets-store-csi-driver-upgrade-test-azure-release-1-0

The tests are now passing, so closing this issue.

/clo

[2021-11-03 16:27] #796 closed

[2021-11-03 19:08] eddiehoffman opened #801 "Restrict syncing of secrets to certain namespaces"
**Describe the solution you'd like**

I would like to be able to define a set number of namespaces where secret syncing is allowed. Once defined only these namespaces can then sync to a secrets resources.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

It would be useful if these could be passed as Helm values.

**Environment:**

- Secr

[2021-11-05 12:04] katoquro commented on #605
Hello! I have the same issue with java client.
The cause is in the type of `parameters` which is the dict from string to string. This type means that there could be only one level of nesting but it isn't true. We have nested array `objects`. So we need either more detailed types of string to object type for `parameters`

[2021-11-05 21:29] aramase commented on #257
/remove-lifecycle rotten

[2021-11-05 23:21] tam7t commented on #722
Some notes to myself:

The driver sets `0644` as the default permission in the request to the providers as described above.

The provider process maps external secrets to individual files (the `SecretProviderClass` CRD definition is not aware of what files will actually be created within the mount).

Providers return a `MountResponse` with a view of the filesystem and each file has a [`mode`](http

[2021-11-09 18:55] aramase commented on #36
/remove-lifecycle rotten

[2021-11-10 13:50] flickerfly opened #806 "Docs: Link Rot"
**What steps did you take and what happened:**

I went to https://secrets-store-csi-driver.sigs.k8s.io/getting-started/usage.html and clicked the link titled "SecretProviderClass custom resource"
 which took me to a non-existent page:
https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/main/test/bats/tests/vault/vault_v1alpha1_secretproviderclass.yaml

I'd like to find the expected re

[2021-11-11 01:45] #806 closed

[2021-11-12 15:06] nccurry opened #809 "Helm Chart "linux.providersDir" is not properly used everywhere"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Use helm chart

**What did you expect to happen:**

It to support overriding the linux.providersDir value

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Which provider are you using:**
[e.g. Azure Key Vault, HashiCorp Vault, etc. Hav

[2021-11-12 18:29] nccurry commented on #809
This is not actually an issue, since the path inside the container can be whatever it needs to be.

[2021-11-12 18:29] #809 closed

[2021-11-16 13:58] sunilkumar789 opened #811 "secrets-provider-class not able to find secret-data"
while pod is spinning its failing to mount the secrets . The error code as below

MountVolume.setup for volume "secrets-data" , rpc error code : =Unknow description = failed to get secretsproviderclass  example-dev/example-secret-provider-dev , error: SecretsProviderClass.secrets-store.csi.x-k8s.io=" example-secret-provider-dev" not found.

OS: Ubuntu
Platform : Azure Devops with Azure aks.

**Whi

[2021-11-16 17:10] aramase commented on #811
@sunilkumar789 Is there a `SecretProviderClass` example-secret-provider-dev in the dev namespace? Could you share the output of `kubectl get secretproviderclass -n dev`?

[2021-11-22 17:40] Tahvok opened #812 "Helm chart url leads to 404"
The helm chart specified in the installation docs leads to 404:
https://kubernetes-sigs.github.io/secrets-store-csi-driver/charts

As a workaround I had to install directly from git for now:
https://github.com/kubernetes-sigs/secrets-store-csi-driver/tree/main/charts/secrets-store-csi-driver

![Screenshot_20211122_093821](https://user-images.githubusercontent.com/6513056/142908980-71c6b510-0ffa-46

[2021-11-22 17:49] nilekhc commented on #812
Hi @Tahvok, Thanks for reporting issue. I quickly tried adding helm repo and it worked fine for me.

![image](https://user-images.githubusercontent.com/1626598/142910457-a5d1896b-f68a-4c1d-91ed-0fa483f9c152.png)

[2021-11-22 18:42] Tahvok commented on #812
You are right, it is working now. I probably had some issue. Closing.

[2021-11-22 18:42] #812 closed

[2021-11-24 14:05] ovidiubuligan opened #813 "To mount a secret as an environment variable I need to mount the whole volume of secrets to the pod (Why!? How better?)"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

This is a standard way as per documentation mount secrets as a volume .
https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/main/test/bats/tests/vault/pod-vault-inline-volume-secretproviderclass.yaml

Quite verbose and also mounts all secrets declared in the secretsproviderclass. Eventh

[2021-11-24 18:15] nilekhc commented on #699
/remove-lifecycle stale

[2021-11-24 18:31] nilekhc commented on #813
Hi @ovidiubuligan, thanks for opening issue.
The way Secrets Store CSI driver works is through mounting CSI volume. `SecretsProviderClass`(SPC) is a way to tell driver what secrets are needed in the Pod. You could specify only those secrets in SPC which are required.

CSI volume mount is the primary function of this project. We also provide [sync as k8s secrets](https://secrets-store-csi-driver.si

[2021-11-24 18:53] nilekhc commented on #680
/remove-lifecycle stale

[2021-11-24 18:54] nilekhc commented on #271
/remove-lifecycle stale

[2021-11-24 18:54] nilekhc commented on #368
/remove-lifecycle stale

[2021-11-24 18:55] nilekhc commented on #353
/remove-lifecycle stale

[2021-11-24 18:55] nilekhc commented on #707
/remove-lifecycle stale

[2021-11-24 18:56] nilekhc commented on #696
/remove-lifecycle stale

[2021-11-24 19:48] nilekhc commented on #502
/remove-lifecycle stale

[2021-11-24 19:49] nilekhc commented on #527
/remove-lifecycle stale

[2021-11-24 19:53] nilekhc commented on #25
/remove-lifecycle stale

[2021-11-24 19:53] nilekhc commented on #265
/remove-lifecycle stale

[2021-11-24 19:53] nilekhc commented on #298
/remove-lifecycle stale

[2021-12-03 17:07] nerddtvg commented on #298
I opened a related issue to this on the Azure provider driver. We're not seeing the same behavior where cronjobs pods check for new values before each run. They're still using the cached values because the secrets still exist (the completed pods are not cleaned up yet).

But because the pods are completed/succeeded, the rotation interval does not update the values. In the end, this means jobs star

[2021-12-03 17:09] nerddtvg commented on #298
@djj0809: From the above research, it is possible you're pruning out your completed/failed pods? When those are removed, the secrets are removed prompting for refresh on the next run. Check the `successfulJobsHistoryLimit` and `failedJobsHistoryLimit` values.

[2021-12-05 21:28] #499 closed

[2021-12-07 13:03] jochristian commented on #722
Hi,

Got the same issue.
Need to access an private ssh key mounted into the kubernetes pod.
But does not work because of 0644 permission. Any suggestions how I can use the mounted file?

[2021-12-07 17:51] aramase commented on #446
/remove-lifecycle rotten

[2021-12-07 22:53] k8s-triage-robot opened #815 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-08 01:49] wasker opened #816 "keep-crds-upgrade-hook.yaml does not respect rbac.pspEnabled value"
**What steps did you take and what happened:**

Installed secrets-store-csi-driver in k8s v1.21. During installation I got a warning that policy/v1beta1 PodSecurityPolicy is deprecated in v1.21+, unavailable in v1.25+. Upon `helm get all` results inspection it became apparent that csi-secrets-store-provider-azure/charts/secrets-store-csi-driver/templates/keep-crds-upgrade-hook.yaml chart installs

[2021-12-08 04:26] justaugustus commented on #815
Thank you for creating a SECURITY_CONTACTS file. Please `/close` the issue.
/close

[2021-12-08 04:26] #815 closed

[2021-12-08 22:54] k8s-triage-robot opened #818 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-09 03:02] justaugustus commented on #818
This issue may have been opened in error due to a bug in the logic for discovering SECURITY_CONTACTS files.
For more information, please see this notice to [kubernetes-dev](https://groups.google.com/g/kubernetes-dev/c/yFlPFIYJCt8).

As this has [re]opened multiple issues across Kubernetes orgs, I will not attempt to answer comments on individual issues.
Feel free to reply to the linked kubernetes-

[2021-12-09 03:02] #818 closed

[2021-12-09 21:05] #620 closed

[2021-12-09 23:38] cjyar opened #819 "metadata for synced secrets"
**Describe the solution you'd like**
For Secrets that are synced from the secrets provider, it would be nice to be able to control the metadata.

For example, ArgoCD uses Secrets that need particular labels. Other software may require annotations.

**Anything else you would like to add:**
I think just the ability to add k/v maps for labels and annotations would cover many use cases.

**Environment

[2021-12-11 16:32] #514 closed

[2021-12-11 16:41] #816 closed

[2021-12-12 22:56] xUnholy opened #821 "Missing metrics in GKE"
**What steps did you take and what happened:**

I'm attempting to create meaningful monitoring for our CSI implementation in GKE - I'm expecting to use the provided metrics as documented here: https://secrets-store-csi-driver.sigs.k8s.io/topics/metrics.html

However, when following the documentation and port-forwarding I can only see a subset of the metrics available which aren't part of the ones

[2021-12-15 00:06] cjyar commented on #819
This was already done by #273 and #612. Sorry for the trouble.

[2021-12-15 00:06] #819 closed

[2021-12-15 00:08] aramase commented on #819
Thank you for following up. We'll also get these configurations added to our documentation.

[2021-12-15 16:07] #605 closed

[2021-12-16 19:54] paulczar opened #823 "[Bug] providersDir should not default to `/etc/kubernetes` as primarily contains .sock files better held in `/var/run` or `/tmp/`"
When deployed the Secrets Store CSI Driver creates a socket in [/etc/kubernetes/secrets-store-csi-providers](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/main/manifest_staging/charts/secrets-store-csi-driver/values.yaml#L71), the `/etc/` path is really meant for [configuration files](https://www.linux.com/training-tutorials/linux-directory-structure-explainedetc-folder/), not u

[2021-12-16 23:32] aramase commented on #823
Thanks for the feedback! I'll add this to our community call for discussion.

[2021-12-17 14:38] dsaydon90 commented on #705
I have got the same error:
[code]

In my case, I have chart called `system` that has the helm chart `secrets-store-csi-driver` dependency, which means that the full name for the  `secrets-store-csi-driver`  will be: `system-secrets-store-csi-driver`

and I saw that the job `secrets-store-csi-driver-upgrade-crds` had the error:
[code]
The only workaround that worked for me was to provide `fullnameO

[2021-12-18 21:46] gobins commented on #322
Looks like this has been already in discussion. Just adding some requirements that I have also come across. There are certain secrets which are updated very infrequently and it seems unnecessary to use the poll interval from the driver to keep polling for these secrets. Would be nice if we could override it at the SecretProviderClass. There is always that option to apply this logic and not do anyt

[2022-01-03 17:01] aramase commented on #529
/remove-lifecycle stale

[2022-01-03 17:01] aramase commented on #763
/remove-lifecycle stale

[2022-01-03 17:02] aramase commented on #750
/remove-lifecycle stale

[2022-01-03 17:02] aramase commented on #432
/remove-lifecycle rotten

[2022-01-06 21:05] #672 closed

[2022-01-09 20:23] erkanzileli opened #827 "Notify providers about UnMount operations"
**Describe the solution you'd like**
I am developing a provider using the secrets-store-csi-driver but apparently, providers are not aware of any file unmount processes because the driver doesn't notify them. It'd be nice that the driver calls the providers when any unmount operations happen.

**Anything else you would like to add:**
I'm wanting this because the provider I'm developing has an auto

[2022-01-10 17:25] aramase commented on #551
/remove-lifecycle stale

Pending release from aws provider with default behavior of sending files in grpc response

[2022-01-11 00:31] aramase commented on #768
/remove-lifecycle stale

[2022-01-11 16:28] anapsix opened #835 "missing aggregation ClusterRoles for SecretProviderClasses"
**Describe the solution you'd like**
At the moment, there are no ClusterRoles created for SecretProviderClasses resources with aggregation to `view` and `admin` default roles. This prevents `ClusterRole/admin` and `ClusterRole/view` from accessing SecretProviderClasses resources.

It would be helpful to create a default roles with admin and view permissions, taking advantage of [aggregation functi

[2022-01-11 18:44] deyanp opened #837 "deploy/secrets-store-csi-driver.yaml in tag 1.0.0 is referencing image: k8s.gcr.io/csi-secrets-store/driver:v1.0.0-rc.1?"
Why is

https://raw.githubusercontent.com/kubernetes-sigs/secrets-store-csi-driver/v1.0.0/deploy/secrets-store-csi-driver.yaml

referencing

image: k8s.gcr.io/csi-secrets-store/driver:v1.0.0-rc.1?

?

[2022-01-12 11:02] erjosito commented on #389
@aramase any update on this? We are seeing this issue impacting many AKS users...

[2022-01-12 14:44] deyanp commented on #837
I am referring to this file: https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/v1.0.0/deploy/secrets-store-csi-driver.yaml

[2022-01-12 18:04] nilekhc commented on #837
We are releasing v1.0.1 this week. These changes will be included in the new release tag.

[2022-01-12 18:10] erjosito commented on #389
@aramase my bad, we hadnt enabled secret rotation (shame on me!). We will have a look at it. Thanks for your answer!

[2022-01-12 20:25] mitchellmaler opened #838 "Chart bundle for v1.0.0 was not generated and added to the index file"
Looks like the chart was updated for v1.0.0 but a bundle was not generated and the index was not updated to serve it.
https://github.com/kubernetes-sigs/secrets-store-csi-driver/tree/main/charts

[2022-01-12 20:57] aramase commented on #838
@mitchellmaler Where are you checking for the bundle? It's available here: https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/gh-pages/charts/secrets-store-csi-driver-1.0.0.tgz and the index has it: https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/gh-pages/charts/index.yaml#L4-L20

[2022-01-12 21:08] aramase commented on #838
We moved to using `gh-pages` in `v0.0.3` release. The doc has the updated helm repo url:
- https://github.com/kubernetes-sigs/secrets-store-csi-driver/tree/main/charts/secrets-store-csi-driver#installing-the-chart - https://secrets-store-csi-driver.sigs.k8s.io/getting-started/installation.html#installation
- https://secrets-store-csi-driver.sigs.k8s.io/getting-started/upgrades.html#pre-v030

[2022-01-12 21:09] mitchellmaler commented on #838
Ah yea that would be the reason. Updating to the new branch fixes the issue.
I was looking under main and did not see the new version there.

[2022-01-12 21:09] #838 closed

[2022-01-13 08:19] barrydobson commented on #813
Hi,
I found this a bit verbose too, mounting a volume to get a secret in order to get my environment variable set.

But I think this is probably the best way for this work. The main issue I see with providing secrets is that (certainly in the case of AWS) you would lose the ability to use the pods service account to set IAM permissions for the secret. My understanding is (and this may be wrong) th

[2022-01-13 11:21] nilekhc commented on #813
Hello @txomon, there is a [similar ask](https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/298) from other users and we are assessing this feature request with community. We are reviewing [proposal](https://docs.google.com/document/d/1Ylwpg-YXNw6kC9-kdHNYD3ZKskj9TTIopwIxz5VUOW4/edit#heading=h.n3xa8h2b1inm) with SIG-Auth . Please keep an eye on this.

[2022-01-13 11:30] nilekhc commented on #813
Hi @barrydobson, I am not quite familiar with AWS IAM permissions, but methods for retrieving secrets will vary from provider to provider (Azure, GCP, AWS etc.) In any case, it uses access methods specified in SecrertsProviderClass.

[2022-01-13 15:49] tam7t commented on #837
It looks like we tagged commit 91cd35b3c8f150e10be451547dabe96b442dd224 as v1.0.0, which seems to be on the `main` branch when I believe we intended to tag 407be391e05b3a58a6883d0b943764273b792a3f on the `release-1.0` branch.

As we do v1.0.1 tag this week let's see if we come across something in our release process that led to this mistake:
https://github.com/kubernetes-sigs/secrets-store-csi-dri

[2022-01-13 17:30] aramase commented on #813
@barrydobson The driver uses the pod identity to access the secret. So for AWS it would use the workload pods service account token which has the IAM permissions for the secret.

[2022-01-13 22:49] tam7t commented on #837
Looking at diffs it seems the only difference in the `deploy/` section was the docker tag identified in this issue.

The diff on the docker image was just build script (`docker/Dockerfile`): https://github.com/kubernetes-sigs/secrets-store-csi-driver/compare/v1.0.0-rc.1...407be391e05b3a58a6883d0b943764273b792a3f

And that its most likely [step 6](https://github.com/kubernetes-sigs/secrets-store-cs

[2022-01-14 12:47] nilekhc commented on #837
Thanks for analysis @tam7t. The new tag has the correct values now.

[2022-01-14 13:36] deyanp commented on #837
great, thanks @nilekhc and @tam7t , I am closing this now

[2022-01-14 13:36] #837 closed

[2022-01-17 17:15] ashok-e-singh opened #842 "Need a version of this image which can run as non-root user"
**Describe the solution you'd like**
We need this container to run as non-root user.

**Anything else you would like to add:**
Since its widely published that containers should run as non-root users, can we have a version of this which can run as non-root?
We have tried to add the user in the dockerbuild file using the USER command, but this wouldn't let the container run.

[2022-01-18 14:21] nilekhc commented on #842
Hi @ashok-e-singh, Thanks for opening issue.

The driver pods need to run as root to mount the volume as tmpfs in the pod. It's installed as a DaemonSet with the ability to mount kubelet hostPath volumes and view pod service account tokens. It should be treated as privileged and regular cluster users should not have permissions to deploy or modify the driver. This is also the reason we recommend i

[2022-01-18 15:10] ashok-e-singh commented on #842
Thanks for the response @nilekhc Much appreciated. Are u able to tell what are the security risks of this plugin running as a root user? We may have to come up with ways to circumvent it.

[2022-01-19 10:53] nilekhc commented on #842
We have not came across any as of now. We also patch our images for CVEs. There is similar discussion going on in https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/432

[2022-01-21 13:56] mfbieber commented on #705
We are seeing the same issue, even after updating to the newest v1.0.1 version, which should contain the fix mentioned further above. Should we open a new issue?

[2022-01-26 17:01] aramase commented on #723
/remove-lifecycle stale

[2022-01-26 22:38] #835 closed

[2022-01-31 09:33] #761 closed

[2022-01-31 17:58] aramase commented on #528
/remove-lifecycle stale

[2022-01-31 21:53] aramase commented on #811
Closing this issue due to inactivity. Please feel free to reopen if you have any questions.

/close

[2022-01-31 21:54] #811 closed

[2022-01-31 21:54] aramase commented on #794
Closing this issue with https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/794#issuecomment-951142135. The `driver` and `driver-crds` image are available for arm64.

/close

[2022-01-31 21:55] #794 closed

[2022-01-31 21:58] aramase commented on #747
duplicate of https://github.com/aws/secrets-store-csi-driver-provider-aws/issues/49

/close

[2022-01-31 21:58] #747 closed

[2022-01-31 22:06] aramase commented on #677
/remove-lifecycle stale

[2022-01-31 22:07] aramase commented on #475
/remove-lifecycle stale

[2022-02-01 09:28] #699 closed

[2022-02-01 17:22] #475 closed

[2022-02-01 19:49] aramase commented on #801
/remove-lifecycle stale

[2022-02-02 17:07] aramase opened #852 "Move protobuf to it's own module"
oof i'm noticing that this doesnt directly depend on `k8s.io/kubernetes` but still needs all these replace directives...

I wonder if providers (which depend on `sigs.k8s.io/secrets-store-csi-driver` to pull in the protobuf interface) will also need the replace directives. If so we may wanna move the protobuf to its own go module so it doesnt pull in all the transitive dependency issues.

(we dont

[2022-02-03 22:08] aramase commented on #257
/remove-lifecycle stale

[2022-02-04 18:11] aramase opened #855 "Document all the flags supported by the driver"
/kind documentation

https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/40a680657ca5f44c2893eb2098fd94b97b868c2a/cmd/secrets-store-csi-driver/main.go#L54-L69

- This will make it easier for announce flag deprecations
- Gives a better understanding of what the flag is and when to use it

[2022-02-04 18:11] aramase commented on #852
/kind feature

[2022-02-04 18:11] aramase commented on #855
/good-first-issue

[2022-02-07 16:52] tam7t opened #858 "Allow file ownership to be set for secrets"
**Describe the solution you'd like**

Providers return a `MountResponse` with a view of the filesystem and each file has a [`mode`](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/b8312d1d07918cba0be825f1dbab97c250146c3b/provider/v1alpha1/service.proto#L80-L82) property. This allows providers to control the file permissions of individual secret files in the mounted filesystem, but

[2022-02-07 17:26] tam7t commented on #722
Closing this in favor of #858.

Currently providers can be extended to support per-file permissions (as done in https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/712 for the azure provider). If you need this in one of the other providers please file a bug agains their repo.

[2022-02-07 17:26] #722 closed

[2022-02-07 17:26] #346 closed

[2022-02-07 19:31] aramase commented on #36
/remove-lifecycle stale

[2022-02-07 21:21] aramase opened #860 "Move from using `aks-engine` to `aks` for windows tests"
The windows tests are run against clusters created with [aks-engine](https://github.com/Azure/aks-engine). There is ongoing work to move the tests from using aks-engine to [capz](https://github.com/kubernetes-sigs/cluster-api-provider-azure).

Creating this issue to track this migration. We should add a new job with CAPZ first to ensure it works as expected and then remove the old test config that

[2022-02-08 17:12] nathan9120 opened #862 "When using jmesPath secret fails to create"
**What steps did you take and what happened:**
When using jmesPath i get this error in the driver log:

[code]

[code]

aws secret is populated:

[code]

pod deploy:

[code]

**What did you expect to happen:**

I would expect the secret to be mounted with 2 data elements, one for user and one for password.

**Anything else you would like to add:**
[Miscellaneous information that will assist in sol

[2022-02-08 18:07] aramase commented on #862
@nathan9120 This issue is specific to the AWS provider. Could you open an issue here: https://github.com/aws/secrets-store-csi-driver-provider-aws/issues instead?

[2022-02-08 18:25] nathan9120 commented on #862
@aramase  I have raised it against the aws provider thank you!

[2022-02-08 18:25] #862 closed

[2022-02-08 20:33] midnightconman opened #865 "Add a Prometheus Servicemonitor to Helm Chart"
**Describe the solution you'd like**
I would like a servicemonitor object added to the helm chart, so helm users can easily enable metrics collection with the prometheus-operator and prometheus. Many servicemonitor object examples exist, links can be provided if needed.

**Anything else you would like to add:**
This might require changing the listening address for the metrics handler, not sure if

[2022-02-09 10:23] Driesvanherpe opened #866 "Adds helm releases to repo or update docs for installation"
**What steps did you take and what happened:**
We've been pulling the chart from te official helm chart repo as stated  in the docs, but the relaese only go to v0.2.0

**What did you expect to happen:**
Create tar.gz files in the `charts` directory

[2022-02-09 17:12] aramase commented on #866
@Driesvanherpe The chart repo has been moved to `https://kubernetes-sigs.github.io/secrets-store-csi-driver/charts`. This was done 6 months back and a note was added in the install docs and upgrade docs: https://secrets-store-csi-driver.sigs.k8s.io/getting-started/upgrades.html#pre-v030. That is the official helm chart repo and we'll be removing the old charts that were being served at `https://ra

[2022-02-10 03:08] mdrakiburrahman opened #868 "`SecretProviderClassPodStatus` doesn't update status"
I'm using the Vault CSI provider, I've deployed the helm charts with the Auto Rotation Flag, and within 5 seconds of changing the secret in Vault UI, I do see the file within my pod get updated - meaning the auto rotation is working fine with the Vault Provider.

However I'm trying to view the changes in `secretproviderclasspodstatus` as documented [here](https://secrets-store-csi-driver.sigs.k8s.

[2022-02-10 09:03] Driesvanherpe commented on #866
Whoops, my apologies

[2022-02-10 09:03] #866 closed

[2022-02-14 19:45] tam7t commented on #858
Additional links:

https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/2317-fsgroup-on-mount/README.md

specifically `runAsUser`, `runAsGroup`, `fsGroup` and user namespacing

[2022-02-14 21:37] aramase opened #869 "`[core] grpc: server failed to encode response` in case of mount error"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

**What did you expect to happen:**
When there is a failure in `NodePublishVolume`, we expect the error to be returned to kubelet and shown as part of `kubectl describe pod` output. Instead with the upgrade to `v1.40.0` for `google.golang.org/grpc` package in `v1.1.0-rc.0`, there is an error when e

[2022-02-14 21:42] aramase commented on #869
/assign

[2022-02-15 21:09] aramase opened #870 "change the default to `/var/run` and move `/etc/kubernetes/*` to `additional-provider-volume-paths`"
Should we change the default to `/var/run` and move `/etc/kubernetes/*` to `additional-provider-volume-paths`?

_Originally posted by @aramase in https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/851#r799755526_

[2022-02-17 16:25] #869 closed

[2022-02-17 18:03] #823 closed

[2022-02-17 18:31] aramase commented on #868
@mdrakiburrahman As this is specific to vault provider implementation could you move this issue to [vault-csi-provider issues](https://github.com/hashicorp/vault-csi-provider/issues)?

[2022-02-18 15:54] nilekhc commented on #868
/close

[2022-02-18 15:55] #868 closed

[2022-02-20 01:38] #567 closed

[2022-02-20 14:35] d-goro opened #878 "Add `akeyless` CSI provider"
**Describe the solution you'd like**
Hello, I am from Akeyless and I want to add Akeyless as CSI provider.
I implemented Akeyless CSI provider. Next, in order to add intergation tests, I performed  git clone and created local branch where I added some basic tests of the new provider. Now, I want to do pull request, but I am not allowed to publish my branch.

I even cannot run it tests locally, bec

[2022-02-20 17:40] #464 closed

[2022-02-21 01:33] lpunati opened #879 "filterWatchSecret enable in the new secretstore version"
Hello,

We are using secretstore CSI driver. We are using managed identities and those are assigned to VMSS within AKS Cluster and we are using the same MI object ID to reference from the secretproviderclass. We are able to mount the secrets now there is no issue.
We are not using nodePublishSecretRef in pod.yaml file. I am a bit confused over her why do we need this what is the reason to use this

[2022-02-22 12:25] nilekhc commented on #879
Hello @lpunati,
- `nodePublishSecretRef` is required if you are using [Service Principal access method](https://azure.github.io/secrets-store-csi-driver-provider-azure/docs/configurations/identity-access-modes/service-principal-mode/) in Azure provider. filterwatchsecret defaulting to true should not affect your upgrade.

- [syncSecret](https://azure.github.io/secrets-store-csi-driver-provider-azu

[2022-02-22 19:25] aramase commented on #353
/remove-lifecycle stale

[2022-02-22 19:25] aramase commented on #271
/remove-lifecycle stale

[2022-02-22 19:26] aramase commented on #680
/remove-lifecycle stale

[2022-02-22 19:52] helayoty commented on #368
@nilekhc @aramase  may I know the stats of the e2e tests now? I'd like to continue the efforts if there is any still in progress.

[2022-02-22 20:21] aramase commented on #527
/remove-lifecycle stale

[2022-02-22 20:21] aramase commented on #25
/remove-lifecycle stale

[2022-02-22 20:21] aramase commented on #265
/remove-lifecycle stale

[2022-02-22 20:21] aramase commented on #502
/remove-lifecycle stale

[2022-02-22 20:22] aramase commented on #696
/remove-lifecycle stale

[2022-02-22 20:22] aramase commented on #707
/remove-lifecycle stale

[2022-02-23 02:42] lpunati commented on #879
Hello @nilekhc, Thank you so much for your response. As we are using MI I will just leave the filterwatchsecret to true and that will not affect anything for us and one other thing syncsecret is false in the helm charts. so I will setting it to true. Is there anything we wanted to change from 0.0.15 to 1.1.0 version of charts. Is there anything we need to follow for 1.1.0. And I hope 1.1.0 is stab

[2022-02-23 09:45] nilekhc commented on #368
Hey @helayoty, Thanks for the ping.

I am not fully aware about the context behind this issue. But, we have added [e2e-mock-provider](https://github.com/kubernetes-sigs/secrets-store-csi-driver/tree/main/test/e2eprovider) for tests. The idea behind this is to be able to test driver functionality without relying on any specific provider.

Is this something we should promote to test driver functiona

[2022-02-23 09:53] nilekhc commented on #879
Hello @lpunati,
`v1.0.0` marks stable release for both driver and azure provider. It should be treated as stable and we keep on adding new functionalities from here on to the stable release.

Also, since you are using AKS, we highly recommend using [Secrets Store CSI managed add-on](https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-driver) for AKS if you are not already.

[2022-02-23 14:42] lpunati commented on #879
Hello @nilekhc, what are the changes we need to make if we want to use AKS add-on. Everything is same and we need not install any secret Store CSI Driver helm charts?

[2022-02-23 17:15] aramase commented on #368
The primary focus of this issue was to document how to run the e2e tests with different supported providers. As Nilekh, mentioned we now have a `e2e-provider` for validating all the driver features. Going forward the e2e test suite will be enhanced and new tests added while the provider test suite will be trimmed down to the bare minimum. The providers tests will only be used to validate the contr

[2022-02-23 17:54] helayoty commented on #368
Thanks for the clarification.

[2022-02-23 18:30] aramase opened #885 "Add `release-secrets-store-csi-driver-e2e-provider` job"
- Add `release-secrets-store-csi-driver-e2e-provider` job similar to https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml#L310.
  - This job runs for changes in `charts/*` folder at the time of release to validate the driver release with the e2e-provider.
  - Helps validate the release image
  - We can build

[2022-02-24 03:34] itsecureadmin opened #886 "Helm chart repository is broken or missing."
**What steps did you take and what happened:**

Following the installation instructions on the EKS workshop and this github page, the installation fails.

RE:  https://www.eksworkshop.com/beginner/194_secrets_manager/configure-csi-driver/

Error: looks like "https://raw.githubusercontent.com/kubernetes-sigs/secrets-store-csi-driver/master/charts" is not a valid chart repository or cannot be reache

[2022-02-24 03:43] itsecureadmin commented on #886
N/m, the documentation for this module is correct, the EKS workshop is incorrect.  Thanks.

[2022-02-24 03:43] #886 closed

[2022-02-24 14:09] jduepmeier opened #887 "secret-store container panics with --log-format-json=true"
**What steps did you take and what happened:**
When running the helm chart v1.1.0 the container secrets-store in the daemonset panics with the following error:

[code]

**What did you expect to happen:**

Container should start without problems.

**Anything else you would like to add:**
Without the `--log-format-json=true` flag the container starts without problem.

**Which provider are you using:

[2022-02-24 17:28] #239 closed

[2022-02-24 19:20] #887 closed

[2022-03-02 19:52] aramase commented on #878
@d-goro The community call is tomorrow at 8AM PST: https://docs.google.com/document/d/1q74nboAg0GSPcom3kLWCIoWg43Qg3mr306KNL58f2hg/edit#heading=h.lezgz1n4j2bo. Would you be interested in adding to the agenda to talk about the new provider?

[2022-03-02 21:11] d-goro commented on #878
Hello. Already did. My manager will be in that call. Thank you.

[2022-03-02 22:57] aramase commented on #576
/remove-lifecycle rotten

[2022-03-02 22:57] aramase commented on #585
/remove-lifecycle rotten

[2022-03-03 18:10] aramase commented on #298
/remove-lifecycle stale

[2022-03-05 06:24] jkstenzel95 opened #890 "failed to fetch https://raw.githubusercontent.com/kubernetes-sigs/secrets-store-csi-driver/master/charts/index.yaml : 404 Not Found"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Followed the steps listed at [this url](https://docs.aws.amazon.com/secretsmanager/latest/userguide/integrating_csi_driver.html), which previously worked, and the command `helm repo add secrets-store-csi-driver https://raw.githubusercontent.com/kubernetes-sigs/secrets-store-csi-driver/master/charts

[2022-03-05 12:14] nilekhc commented on #890
Hi @jkstenzel95 Our charts have been moved. Could you follow the steps from here:
https://secrets-store-csi-driver.sigs.k8s.io/getting-started/installation.html#deployment-using-helm

[2022-03-06 10:06] d-goro commented on #878
Hello again. Could you, please, provide me invite to your Slack?

[2022-03-07 08:34] nilekhc commented on #878
Hey @d-goro You can get invite at https://slack.k8s.io/

[2022-03-07 17:45] aramase commented on #890
I've opened a PR to update the docs in the aws provider: https://github.com/aws/secrets-store-csi-driver-provider-aws/pull/73.

For latest driver installation steps, please refer to the doc Nilekh posted.

/close

[2022-03-07 17:45] #890 closed

[2022-03-07 17:58] aramase commented on #446
/remove-lifecycle stale

[2022-03-08 17:12] mraslam opened #894 "k8s secret gets deleted when the deployment owning the mount is destroyed"
Is there a way to persist the k8s secret which is created through the CRD. I don't need the pod running after the secret is created, the end goal would be to use the secret for any other deployment.

[2022-03-08 17:15] #894 closed

[2022-03-08 17:15] nilekhc commented on #894
Lifecycle of k8s synched secreted is tied to the pod.

[2022-03-08 17:15] juan-lee opened #895 "Pods using csi volumes fail to terminate if csi driver pods have been evicted"
**What steps did you take and what happened:**
Pods that mount volumes provided by csi drivers fail to terminate if the corresponding csi driver has been evicted or is missing. kubelet gets blocked when trying to unmount because the csi driver isn't available.

I observed this issue when cluster-autoscaler tried to rebalance pods to another node. My pod was stuck terminating because the secret-sto

[2022-03-12 18:32] #610 closed

[2022-03-12 18:32] #725 closed

[2022-03-13 00:03] fubar opened #896 "https://kubernetes-sigs.github.io/secrets-store-csi-driver/charts 404 Not Found"
The repo at https://kubernetes-sigs.github.io/secrets-store-csi-driver/charts fails to load with 404. Looks like this has happened before https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/812

What causes it to go down and how can it be prevented from happening again?

[2022-03-13 02:39] sozercan commented on #896
@fubar Helm charts are hosted in GitHub Pages. There's no `index.html` hosted in that url, that's why you are seeing a 404. Helm discovers charts using `index.yaml` which is hosted in https://kubernetes-sigs.github.io/secrets-store-csi-driver/charts/index.yaml

Is `helm repo add secrets-store-csi-driver https://kubernetes-sigs.github.io/secrets-store-csi-driver/charts` and `helm repo update` not w

[2022-03-13 02:42] fubar commented on #896
Got it, thanks, that works as expected.

[2022-03-13 02:42] #896 closed

[2022-03-14 17:34] paulczar opened #897 "helm chart fails if user sets `linux.providersDir=/var/run/secrets-store-csi-providers`"
**What steps did you take and what happened:**

Upgrade (or deploy from new) to chart `v1.1.1`  where using `linux.providersDir=/var/run/secrets-store-csi-providers` fails

Error: DaemonSet.apps "csi-secrets-store-secrets-store-csi-driver" is invalid: spec.template.spec.containers[1].volumeMounts[3].mountPath: Invalid value: "/var/run/secrets-store-csi-providers": must be unique

**What did you ex

[2022-03-15 12:45] umeshkumhar commented on #855
@aramase hey I can take this issue.

Any extra details you want to share around this.?

Thanks

[2022-03-15 13:25] nilekhc commented on #855
@umeshkumhar Thanks for your interest. We could add this under https://github.com/kubernetes-sigs/secrets-store-csi-driver/tree/main/docs/book/src/topics.
A table like [helm chart values](https://github.com/kubernetes-sigs/secrets-store-csi-driver/tree/main/charts/secrets-store-csi-driver) with defaults etc. would be a good start.

@aramase @tam7t Any additional thoughts?

[2022-03-15 17:12] aramase commented on #855
Hello Umesh 👋🏻

A section under topics is a good start as Nilekh suggested. You can use the flags defined in `main.go` for reference to document the configurable behavior.

[2022-03-15 17:12] aramase commented on #855
/assign @umeshkumhar

[2022-03-15 17:56] aramase commented on #895
@juan-lee thanks for raising this issue. This is an issue across all CSI drivers and seems like a good enhancement to have in Kubernetes to control order in which pods are scheduled/deleted. Similar issue arises during node scale up event when workload pods start running before the CSI driver is running on th node. Kubelet retries the volume mount and it eventually succeeds but can take order of m

[2022-03-15 18:39] aramase opened #899 "Consistently update/patch Kubernetes secret as part of reconciler"
1. Deployment with updates to pod spec is rolled out
    - The pod is referencing a k8s secret that has been synced by the driver.
    - This k8s secret has the current replica set (rs1) as owner.
2. New pods get created and mount succeds.
3. The reconciler sees the secret still exists and skips updating it (for consistency)
    - The patcher for updating owner ref is configured to run every 5s.
4

[2022-03-15 22:39] #897 closed

[2022-03-18 00:05] aramase opened #906 "Encryption of mounted contents"
xref: https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/199

- This is a placeholder issue to gather ideas on what/how we can provide a way to encrypt the mounted secrets in the pod filesystem. Today, the content returned from the provider is written to the fs as plaintext.
- Can we provide a generic pluggable encryption provider that can encrypt the contents before writing t

[2022-03-18 21:51] dindurthy commented on #821
Seeing the same thing on driver `v1.1.0`. I confirmed a secret mount, thinking I needed at least one event to trigger the metrics, but no dice.

[2022-03-21 05:13] #680 closed

[2022-03-22 06:19] fubar opened #909 "Informational messages are logged as errors"
Our logs show the below messages logged frequently and at error level:

[code]

These are informational messages that should not be treated like errors.

**Anything else you would like to add:**

- Standard integration with the AWS provider
- Standard Datadog agent logging setup

**Which provider are you using:**

AWS

**Environment:**

- Secrets Store CSI Driver version: (use the image tag): 1.1.

[2022-03-22 18:14] #855 closed

[2022-03-24 17:39] luckerby opened #911 "Flag provided but not defined: -additional-provider-volume-paths"
**What steps did you take and what happened:**
I've deployed the latest Helm chart from [here](https://kubernetes-sigs.github.io/secrets-store-csi-driver/charts) which at this time has `v1.1.1`, modified the values files accordingly, and tried to deploy it.

Both the Linux and Windows pods for the secrets store CSI driver all fail to start. Describing one of the Linux pods shows the following (par

[2022-03-24 18:05] aramase commented on #909
By default, all the logs are written to stderr: https://github.com/kubernetes/klog/blob/main/klog.go#L38.

The above logs should be generated once every 5m when the reconcile happens but I think we can bump the log verbosity to `V(5)` so it doesn't get logged by default.

[2022-03-24 20:20] luckerby commented on #911
@aramase you're absolutely right. And I figured out why the driver version was an older one and should have probably stated this from the very beginning: I am upgrading the [Helm chart](https://github.com/Azure/secrets-store-csi-driver-provider-azure/tree/master/charts/csi-secrets-store-provider-azure) for the Azure Key Vault provider for Secrets Store CSI driver. This one uses the Secrets Store C

[2022-03-24 20:20] #911 closed

[2022-03-25 01:19] fubar commented on #909
That's a gross abuse of the log level system. Or rather, it's ignoring it entirely.

If the maintainers of klog are unwilling to fix this, it would be useful if the CSI driver exposed logging options to be passed to klog that change its behaviour, such as the `logtostderr` option that I see in that file. At the moment, the only logging related option I see is `logFormatJSON` https://github.com/kub

[2022-03-25 07:16] aramase commented on #909
All the flags supported by klog should be configurable with the driver: https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/3d93b4a03a68fd0de22fc09711734db0d2f51f70/cmd/secrets-store-csi-driver/main.go#L86. Have you tried setting any of the flags supported by klog on the driver?

klog doesn't have a log format json flag, so we explicitly added that for the driver.

[2022-03-25 19:52] ryphon opened #913 "Ability to mount the CSI as ReadWrite"
**Describe the solution you'd like**
Mount in a secret via provider, and be allowed to edit the secret depending on the providers allowance.

So, mount a secret as a CSI, app itself changes secret in some way, edits the mounted "file", file changes get pushed up to the remote source.

**Anything else you would like to add:**
Both AWS and Vault would technically have resource side policies to handl

[2022-03-25 19:52] ryphon commented on #913
Looks like #6 and the corresponding PR #117 just hard enforces it, just not sure that's actually something that needs to be enforced?

[2022-03-29 11:55] ryuzakyl commented on #389
I've tried [mmerickel](https://github.com/mmerickel)'s solution (`{{ .Values.myCustomName }}-{{ .Release.Revision }}`) and it works for me (partially). Now the new secret is created and used properly in the deployment ;).

However, I do get the orphaned secrets.

[code]

Any ideas on why is that happening or how to troubleshoot this issue?

[2022-03-29 17:06] aramase commented on #585
We will be adding it in a future release. Even without `RequiresRepublish` rotation is already supported today: https://secrets-store-csi-driver.sigs.k8s.io/topics/secret-auto-rotation.html. Other than rotation any other reason you need this @nlamirault?

[2022-03-31 15:36] tam7t commented on #913
I think `ReadWrite` would be needed for https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/36 though

[2022-03-31 15:44] phillipgibson commented on #913
@ryphon can you provide more details to clarify the use case for this.

[2022-03-31 18:58] tam7t opened #921 "Updated instructions on generating release notes"
**Describe the solution you'd like**

https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/main/docs/RELEASE.md

SHould be updated with instructions to use the auto-generated release notes

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Kubernetes v

[2022-03-31 19:37] ryphon commented on #913
The context is for something like the Vault provider. Vault has a method to allow read/write on the Vault secret objects. So through the Kubernetes Service Accounts, it has the ability to authenticate/authorize the Kubernetes service account to do different operations for the secret depending on the policy.

In most cases, read only is fine. However, if my service account has 'UPDATE' permissions,

[2022-04-02 13:02] tamalsaha opened #922 "Extended api server backed by secrets from any supported provider"
**Describe the solution you'd like**
Today secrets store driver expects applications to mount any secrets coming from these external drivers. But it will be useful to have an EAS that can expose these secrets as a "Secret" like api. An example use-case:

We have a Kubernetes operator that can take backup and store data in object stores like S3. Today the token use to encrypt data is stored in a Ku

[2022-04-04 06:37] aramase commented on #750
/remove-lifecycle stale

[2022-04-04 06:38] aramase commented on #529
/remove-lifecycle stale

[2022-04-04 06:38] aramase commented on #763
/remove-lifecycle stale

[2022-04-04 23:28] nilekhc commented on #432
/remove-lifecycle rotten

[2022-04-04 23:28] nilekhc commented on #432
/remove-lifecycle stale

[2022-04-08 14:52] #842 closed

[2022-04-08 14:54] aramase commented on #879
Closing this issue as it's now resolved. For any questions specific to the AKV provider for Secrets Store CSI Driver, please feel free to open an issue [here](https://github.com/Azure/secrets-store-csi-driver-provider-azure).

/close

[2022-04-08 14:54] #879 closed

[2022-04-11 14:09] aramase commented on #827
/remove-lifecycle stale

[2022-04-11 14:10] aramase commented on #768
/close

[2022-04-11 14:12] aramase commented on #551
/remove-lifecycle stale

@tam7t should we keep this open until aws changes the default behavior?

cc @joebaro

[2022-04-11 14:12] aramase commented on #345
/remove-lifecycle stale

[2022-04-12 15:31] aramase commented on #921
/assign

[2022-04-12 16:59] #921 closed

[2022-04-12 19:12] #870 closed

[2022-04-13 14:03] Ferat-Imrak opened #928 "While creating `SecretProviderClass` with secret object that receive parameter from parameter store in AWS."
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
I created `SecretProviderClass` with secret objects to get parameters from the parameter store and mount them into deployment and use them as env variables. When I run kubectl apply -f secret.yaml file it creates `SecretProviderClass` but not secrets and I get this error:
[code]
Here is my secret.y

[2022-04-13 16:06] Ferat-Imrak commented on #580
Hello, @ephriamj I am having the same issue. Did you solve this? Let me know pls!!

[2022-04-13 16:16] aramase commented on #928
@Ferat-Imrak Thank you for reporting the issue.

This error seems to be specific for the aws provider. Could you open an issue [here](https://github.com/aws/secrets-store-csi-driver-provider-aws)?

cc @lasred

[2022-04-13 20:15] Shaked commented on #298
Any update regarding this issue?

[2022-04-14 00:04] roro007 opened #929 "Azure Keyvault over private link"
**Describe the solution you'd like**
need a parameter to use Azure KeyVault private link. At the moment, there's only keyvaultName option which doesn't access the private link as a value

**Environment:**

- Secrets Store CSI Driver version: (use the image tag):
- Kubernetes version: (use `kubectl version`): 1.1

[2022-04-14 02:58] #929 closed

[2022-04-14 02:58] roro007 commented on #929
Was able to get it working without it.

[2022-04-14 18:12] aramase opened #931 "`pull-secrets-store-csi-driver-e2e-azure` failing with expired creds"
`pull-secrets-store-csi-driver-e2e-azure` job is failing because of expired credential.

- I've rotated the credential and updated it in gcp secrets manager.
  - The expectation is for that rotated value to be synced in the prow cluster as configured [here](https://github.com/kubernetes/test-infra/blob/a0c455013bfacbd4d8224dbbbdf040405f06fe05/config/prow/cluster/build/build_kubernetes-external-sec

[2022-04-15 14:11] aramase commented on #931
The rotated credentials were updated after `kubernetes-external-secrets` pods were restarted in the prow cluster

/close

[2022-04-15 14:11] #931 closed

[2022-04-15 18:21] aramase opened #932 "Add reviewing guide"
/kind documentation

ref: https://contribute.cncf.io/maintainers/github/templates/recommended/reviewing/

[2022-04-19 21:53] jroggeman opened #936 ""Failed to clean and unmount volume" errors blocking deployments of Daemonsets"
**What steps did you take and what happened:**
1. Deploy a `DaemonSet` that mounts a KeyVault CSI volume
2. Deploy an update to that Daemonset
3. There is a chance that pods will get in to a semi-permanent stuck state that blocks Daemonset deployments. Investigation, logs, and details below.

Note - I believe this could happen for any pods, but causes the most issues with Daemonsets, for two reaso

[2022-04-20 05:35] tamanh123456 opened #937 "Secret Provider Class not support secretObject type stringData"
**Describe the solution you'd like**
I deploy Drupal on Azure Kubernetes Service and mount key vault (key vault store database configuration). And drupal source has a option get environment variables by .env file.
But csi mount secret not like my expect

**Anything else you would like to add:**

I expect the Secretproviderclass has more option to create secret like stringData type

**k8s secret I

[2022-04-20 14:54] dllegru opened #938 "Ability to create/mount multiple secrets with a set of items not stored anywhere + items being retrieved from external vault store (as it is now)"
**Describe the solution you'd like**
Currently SSCSI is able to create/mount multiple secrets, keys, and certs **stored** in enterprise-grade external secrets store.
The feature request is to **add the ability** to SSCSI to **create/mount multiple secrets** with a set of k/v being retrieved from external vault store (as it is now) + other k/v **not stored anywhere**, done ad-hoc in a definition in

[2022-04-20 18:57] rootd00d opened #939 "Failed to get service account token attrs -- failed to fetch token (forbidden)"
**What steps did you take and what happened:**

Using the Azure Kubernetes Service Add-On installation method of CSI Secrets Driver, we're seeing a ton of log items like the following --

[code]
(Actual key vault name anonymized to "key-vault-foo")

We're using Stakater Reloader to monitor changes to the Kubernetes Secrets that get created and the pods should reload when the value is rotated in Ke

[2022-04-20 19:08] aramase commented on #939
@rootd00d Thanks for reporting the issue!

As this is specific to the AKS add-on for Secrets Store CSI Driver, I would recommend opening an issue [here](https://github.com/Azure/AKS/issues) so the AKS team can help.

cc @miwithro @ZeroMagic

[2022-04-20 19:14] aramase commented on #939
Just to add some context, that error indicates the service account used by the driver is missing the required `ClusterRole` and/or `ClusterRoleBinding` that'll allow it to create a service account token: https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/main/deploy/rbac-secretprovidertokenrequest.yaml. That `ClusterRole` and `ClusterRoleBinding` should be deployed and maintained by

[2022-04-21 11:47] ZeroMagic commented on #939
@aramase  thanks for pointing the bug.

@rootd00d Please try the following mitigation temporarily. The fix in AKS will be contained in next week release.
[code]
create the above objects in your cluster.

[2022-04-21 14:45] aramase commented on #585
## Changes in v1.2

### v1.21+

- set requires republish to enable rotation
- set `--enable-secret-rotation=false` to disable the old controller

### if ran into issues or running < 1.21

- remove requires republish from CSI driver
- set `--enable-secret-rotation=true` (this is same as today)

## v1.3

- We will deprecate the old rotation flag and controller
- Only way for rotation will be setting

[2022-04-21 14:58] aramase opened #940 "Remove token client and generation of token in driver in v1.4"
ref: https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/main/pkg/k8s/token.go

We added token generation for backward compatibility to support Kubernetes cluster 1.20. After the move to requires republish, we can remove the token generation code in `v1.4` release and rely only on the kubelet providing the token as part of `NodePublishVolumeRequest`.

/kind cleanup

[2022-04-21 15:09] aramase commented on #878
Provider repo: https://github.com/akeylesslabs/akeyless-csi-provider

[2022-04-22 09:06] teenarodriques opened #941 "CSI driver images running as non root user"
We are currently using the CSI driver images for Secret Manager in GCP. All the images used are running as root. Is it possible to have them running as non-root?

The list of images being used are:
k8s.gcr.io/sig-storage/csi-node-driver-registrar
k8s.gcr.io/csi-secrets-store/driver
k8s.gcr.io/sig-storage/livenessprobe
k8s.gcr.io/csi-secrets-store/driver-crds
us-docker.pkg.dev/secretmanager-csi/sec

[2022-04-22 13:00] Thaval commented on #438
Linked the wrong issue.

[2022-04-22 20:47] rootd00d commented on #939
@aramase @ZeroMagic Thank you both for the rapid response!  At the time I wasn't sure if this was specific to Azure, but that makes sense.  I can confirm that after applying the above role and binding that secret rotation works, and pods are rotating via Stakater Reloader as expected.

@ZeroMagic Will this require re-installing the add-on, or will this be applied automatically somehow?

[2022-04-24 08:48] mosheavni opened #942 "JSON schema for the k8s manifest?"
**Describe the solution you'd like**
There is a JSON schema store used by popular IDEs to provide completion and intellisense on custom manifests.
If there would be a secret store json schema, it would allow for a much smarter integration of the CRD with the user's IDE

**Anything else you would like to add:**
https://www.schemastore.org/json/

**Environment:**

- Secrets Store CSI Driver version:

[2022-04-24 10:01] ZeroMagic commented on #939
@rootd00d no need to re-install. Just create two objects. Then everything will be automatic.

[2022-04-24 18:57] #368 closed

[2022-05-02 13:31] aramase commented on #939
@ZeroMagic could you comment on this issue and the provider one when the fix is rolled out for the AKS add-on?

I'm going to close this issue in the driver as it's specific to AKS add-on and re-open the other issue in the provider.

/close

[2022-05-02 13:31] #939 closed

[2022-05-02 14:04] aramase commented on #677
/remove-lifecycle stale

[2022-05-02 15:51] aramase commented on #936
/cc @nilekhc who is looking at this issue

[2022-05-02 17:44] nilekhc commented on #936
After looking at the Secrets Store installation last week, we made couple changes.

1. Moved Secrets Store CSI into kube-system namespace rather than it's own.
2. Upgraded to latest version

After this we are not observing any failures so far. @jroggeman will try to repro this and we will continue to monitor.

[2022-05-02 20:02] aramase commented on #801
/remove-lifecycle stale

[2022-05-04 22:42] nilekhc commented on #257
/remove-lifecycle stale

[2022-05-09 11:26] aramase commented on #860
/remove-lifecycle stale

[2022-05-09 23:30] nilekhc commented on #36
/remove-lifecycle stale

[2022-05-10 00:12] nilekhc commented on #865
@midnightconman Would you like to open a PR to implement this?

[2022-05-10 00:13] nilekhc commented on #865
/remove-lifecycle stale

[2022-05-11 11:38] fgn-itsupport opened #947 "Implement hashicorp vault with csi driver in kubernetes results in empty secret values"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
We are trying to deploy the SecretProviderClass in which secrets are created by the SecretProviderClass. In our case, the secret is getting created but the credential/secret data is not filled and empty. The ServiceProviderClass is not able to fetch it from the vault with the help of csi driver. We

[2022-05-11 14:25] fgn-itsupport commented on #947
is this what you asked for by questioning about the syncSecret.enabled?
![image](https://user-images.githubusercontent.com/85068448/167873372-f29b1aa0-898f-4dd6-beb0-37c9824099c9.png)

[2022-05-12 09:02] NickLarsenNZ opened #948 "Ability to set static secrets under secretObjects"
**Describe the solution you'd like**

I would like to be able to specify some static values that will end up in a secret, along with the secrets that comes from AWS SSM.

For example:

[code]

**Anything else you would like to add:**

The particular use case is for Argo CD repository credentials. ArgoCD reads K8s secrets natively (without mounting), and does so through labels on the secret. I need

[2022-05-13 13:15] dllegru commented on #948
/duplicate https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/938

[2022-05-13 13:31] NickLarsenNZ commented on #948
@dllegru I did see that other issue, but I guess I misunderstood it as something else.

[2022-05-13 13:32] dllegru commented on #948
@NickLarsenNZ your description is much clearer and easier to understand than mine :)

[2022-05-13 13:44] dllegru commented on #938
/relates https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/948

[2022-05-13 19:31] txomon commented on #813
/remove-lifecycle rotten

[2022-05-16 10:15] fgn-itsupport commented on #947
As per the given troubleshoot guideline shared by you,

1. We have csi logs attached in which the logs are specific to secret creation/patching failure and nothing with respect to csi configuration.

2. SecretProviderClass not found | Volume mount fails with secrets-store.csi.k8s.io  :  the pod fails to start because of the inline volume mount
   kubectl describe pod <application pod>

   Events:

[2022-05-16 21:13] nilekhc commented on #858
/remove-lifecycle stale

[2022-05-16 23:13] aramase opened #952 "`pull-secrets-store-csi-driver-e2e-aws` failing"
[code]

[code]

/kind failing-test
/cc @joebaro @simonmarty could you help take a look?

[2022-05-16 23:14] aramase commented on #941
See https://github.com/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp/issues/159#issuecomment-1017748799 for more details

[2022-05-17 08:47] fgn-itsupport commented on #947
Here is the log, we got:
E0513 07:21:59.793231       1 reconciler.go:489] "failed to patch secret data" err="Secret \"application1-conf\" not found" secret="kube-system-feature/application1-conf" spc="kube-system-feature/application1-conf-vault-forms" controller="rotation"
E0513 07:21:59.794638       1 reconciler.go:489] "failed to patch secret data" err="Secret \"application1-conf\" not found" se

[2022-05-18 12:01] fgn-itsupport commented on #947
Seems the logs got lost somehow, so just to be sure, here they are again:

`E0513 07:21:59.793231       1 reconciler.go:489] "failed to patch secret data" err="Secret \"application1-conf\" not found" secret="kube-system-feature/application1-conf" spc="kube-system-feature/application1-conf-vault-forms" controller="rotation"
E0513 07:21:59.794638       1 reconciler.go:489] "failed to patch secret da

[2022-05-18 16:13] dsaydon90 opened #953 "failed to mount secrets store object content, provider not found: provider aws"
**Describe the bug**
[code]
I can't tell if this bug is related to `secrets-store-csi-driver-provider-aws` or to `secrets-store-csi-driver`

**To Reproduce**

1. Install `secrets-store-csi-driver` helm chart with `1.1.2` version
2. install `csi-secrets-store-provider-aws` helm chart with `0.0.2` version
3. create a pod with csi driver `secrets-store.csi.k8s.io` volume which injects a file to the p

[2022-05-18 18:41] aramase commented on #953
Thanks for reporting the issue!

1. Can you share the output for `kubectl get ds/secrets-store-csi-driver -o yaml`?
2. Is there an aws provider pod running on the same node as the driver pod?

[2022-05-19 08:34] dsaydon90 commented on #953
Hi @aramase

Thank you for your quick reply, here is the relevant information:

Yes, I'm using the `csi-secrets-store-provider-aws` [helm chart](https://github.com/aws/eks-charts/tree/master/stable/csi-secrets-store-provider-aws), which deploying the **aws provider** as daemonset.

sure:
[code]

It might be related to the `Listening for connections on address` path?
`aws provider` sock file path:

[2022-05-19 18:49] aramase commented on #947
[code]

seems to indicate the secret provider class you're referencing doesn't exist. The logs above show the secret to patch is not found. The secret provider class you shared in the issue is different from the one specified in the logs. Could you help provider the exact steps that you're following?

[2022-05-19 18:54] aramase commented on #952
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_secrets-store-csi-driver/951/pull-secrets-store-csi-driver-e2e-aws/1526330511813775360/build-log.txt

[2022-05-19 19:08] simonmarty commented on #952
Likely related to https://github.com/aws/aws-cli/issues/6920

[2022-05-19 22:33] #952 closed

[2022-05-20 11:14] dsaydon90 commented on #953
Hi @aramase ,

Thanks again for your answer, actually I don't have quotes on my provider's name, here is my `SecretProviderClass` resource:
[code]
Another idea that might help?

[2022-05-20 12:20] LO764640 commented on #125
as currently the secrets we are able to fetch automatically in the secretproviderclass from keyvault. But pod restart is required, is there a way it can be handled automatically like we do using reloaders

[2022-05-20 15:57] aramase commented on #125
Secret auto rotation is already supported with the driver: https://secrets-store-csi-driver.sigs.k8s.io/topics/secret-auto-rotation.html

[2022-05-20 16:44] aramase commented on #953
Can you share the output for `kubectl get pods -o wide` in the namespace where driver and provider pods are running?

[2022-05-22 08:03] dsaydon90 commented on #953
@aramase Sure:

[code]

[2022-05-23 19:44] aramase commented on #353
/remove-lifecycle stale

[2022-05-23 19:44] aramase commented on #271
/remove-lifecycle stale

[2022-05-23 21:07] nilekhc commented on #527
/remove-lifecycle stale

[2022-05-23 21:08] nilekhc commented on #265
/remove-lifecycle stale

[2022-05-23 21:08] nilekhc commented on #502
/remove-lifecycle stale

[2022-05-23 21:09] nilekhc commented on #696
/remove-lifecycle stale

[2022-05-23 21:10] nilekhc commented on #707
/remove-lifecycle stale

[2022-05-24 18:53] #707 closed

[2022-05-24 18:53] #763 closed

[2022-05-24 20:42] aramase commented on #322
/remove-lifecycle stale

[2022-05-25 07:49] NickLarsenNZ commented on #948
Thanks @nilekhc, sorry I wasn't able to join the call. Was it discussed?

[2022-05-25 07:51] alex-kuck commented on #948
@NickLarsenNZ I think it is tomorrow: `Thursday at 11:00am-12:00pm EST (8:00am - 9:00am PST`

[2022-05-26 01:17] xUnholy commented on #821
/reopen

Can we please get some traction on this ticket?

[2022-05-26 01:31] xUnholy commented on #821
Sorry to tag people but this needs some traction, it is strange that this doesn't work in GKE or there is a piece of documentation that isn't well defined to ensure metrics are captured through the secret store CSI driver

@nilekhc

[2022-05-26 01:32] maheshrayas commented on #821
+1 having a similar issue in GKE.

[2022-05-26 14:59] aramase commented on #821
We do have metrics setup in Azure with the AKS managed add-on and the metrics show up fine.

@tam7t Could we try this out on a GKE cluster and see if we're missing any required steps for GKE in the documentation?

[2022-05-26 16:04] NickLarsenNZ commented on #948
@tam7t I don't have a link right now, but I recall something on the roadmap to be able to manage Secret resources without volume mounts.

I think static values transcend providers, so it should probably be a general feature instead of per provider (even if it is simplest to do so in the current state)

[2022-05-26 17:54] tam7t commented on #821
Could you provide which specific metrics that are missing? I'm running `v1.1.2` of the driver on k8s `1.22` and i see a number of the expected metrics from https://secrets-store-csi-driver.sigs.k8s.io/topics/metrics.html#list-of-metrics-provided-by-the-driver on `/metrics` endpoint.

[code]

Note: it does not _list_ the metric until it is actually _measured_, so `total_node_unpublish` was not repo

[2022-05-26 18:09] aramase commented on #953
It does look like there is a driver and provider pod running on the node. Two things you can try:
1. Run with an older version of the driver (`v1.0.2`) which always uses `/etc/kubernetes/secrets-store-csi-providers` as the volume path for provider unix sockets, just to confirm if this is just an issue for you with the latest driver.
2. Try a clean install of the driver, provider and pod in a new c

[2022-05-26 18:11] aramase commented on #941
We have added a new security section in the docs, that mention why the driver and providers needs run as root: https://secrets-store-csi-driver.sigs.k8s.io/concepts.html#security.

Closing this now. Please feel free to reopen if you have any questions.

/close

[2022-05-26 18:11] #941 closed

[2022-05-26 18:50] sergei-riazanov-privitar opened #960 "Can't reference AWSCURRENT and AWSPREVIOUS in the same secretproviderclass"
The configuration I want to use:
[code]

As result I get this on mounting the volume:
"Warning  FailedMount             71s (x9 over 3m19s)  kubelet                     MountVolume.SetUp failed for volume "YYY" : rpc error: code = Unknown desc = failed to mount secrets store objects for pod ..., err: rpc error: code = Unknown desc = Name already in use for objectName: arn:aws:secretsmanager:XXX"

[2022-05-26 20:21] aramase commented on #960
@sergei-riazanov-privitar As this is an issue with the AWS provider, I would recommend opening an issue [here](https://github.com/aws/secrets-store-csi-driver-provider-aws/issues).

[2022-05-27 00:38] xUnholy commented on #821
@tam7t we're currently using k8s v1.23.x on GKE. The metrics available are available on the endpoint `/metrics` however, only the subset that I posted in the initial comment.

We've been actively using it and have anywhere between 50-100 cases where we're requesting secrets so we should have those measured at least.

[2022-05-27 09:42] sergei-riazanov-privitar commented on #960
Duplicated here: https://github.com/aws/secrets-store-csi-driver-provider-aws/issues/95

[2022-05-27 09:42] #960 closed

[2022-05-27 21:04] MarkAndersonTrocme commented on #389
I have the same issues as @ryuzakyl with orphaned secrets.

@mmerickel or anyone else have a solution for this? It means every time a we upgrade our release a new secret is made therefore a new orphaned secret is made...

[2022-05-27 22:00] mmerickel commented on #389
I did have some orphan secrets. It does clean up some of the time.

Unfortunately this repo has really been not seeing much support from aws so I switched to external-secrets and stakater’s reloader and have been happy with it. What pushed me over the edge was that external-secrets works well with irsa, has great template support, and the reload support in the csi driver is global (and alpha) inst

[2022-05-30 12:31] dsaydon90 commented on #953
Thank you @aramase , I did as you suggested, and I have downgraded into `1.0.1` version and it worked

[2022-05-30 12:31] #953 closed

[2022-05-30 19:35] MarkAndersonTrocme commented on #389
@aramase Is there any plans to better support this? I tried using rotation, while it works well, it also easily incures extra charges as  I would want to set the pollingInterval low (1m or so)

Using the `-{{ .Release.Revision }}` in the SecretProviderClass and Secret name works well, however it leaves orphaned secrets. So having a mechanism be able to clean those up would be ideal.

Maybe we can

[2022-05-31 23:35] aramase commented on #576
/remove-lifecycle stale

[2022-06-02 12:26] fgn-itsupport commented on #947
Below are the pod logs:
Events:
  Type     Reason                Age                  From                        Message
  ----     ------                ----                          ----                                    -------
  Normal   Scheduled             25m                  default-scheduler           Successfully assigned
  kube-system/demo-application-bus-6769d898bc-mgjj4-kube-system

[2022-06-04 17:20] air3ijai commented on #217
[code]

[2022-06-04 23:04] #922 closed

[2022-06-06 16:47] nilekhc commented on #446
/remove-lifecycle stale

[2022-06-08 22:39] MarsianMan commented on #913
This would be useful for a scenario where some action is needed to modify the secret data before app startup. For example, Hashicorp Vault requires base64 encoded secrets. This does not work well with binary secrets which need to be decoded before/on application startup. We would like to mount our secrets to `/var/secrets` and then decode them into the same directory for the application to read.

[2022-06-13 19:32] aramase commented on #899
/remove-lifecycle stale

[2022-06-14 19:03] david1155 opened #967 "Helm chart upgrade fails because Job runs before ServiceAccount creation"
**What steps did you take and what happened:**

During the upgrade of helm chart 0.2.0 to 1.1.2:
[code]

**What did you expect to happen:**
The Secrets Store CSI Driver is getting deployed to the cluster.

**Anything else you would like to add:**
Job resource from [/charts/secrets-store-csi-driver/templates/crds-upgrade-hook.yaml](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/a5

[2022-06-15 06:32] sleccese commented on #947
Hi everyone,
I try to describe our issue again.
steps needed to reproduce our issue:
* Install csi driver with version 1.1.2 with helm Chart secrets-store-csi-driver/secrets-store-csi-driver from repository https://kubernetes-sigs.github.io/secrets-store-csi-driver/charts
  * with values.yaml:
[code]
* Install vault with version 0.19.0 with helm Chart hashicorp/vault from repository https://helm.r

[2022-06-15 20:58] nilekhc commented on #895
/remove-lifecycle stale

[2022-06-16 00:32] aramase commented on #906
/remove-lifecycle stale

[2022-06-17 18:32] #967 closed

[2022-06-20 10:25] sleccese commented on #947
Hi @aramase, does the provided information help you to understand our problem? Or should I provide additional information?

We wanted to use the csi auto rotation and secret feature so that we have enough time to update our services to handle the provided secrets as files in the pod instead of using the kubernetes secrets mechanism.

[2022-06-21 09:34] Arn-Arm commented on #821
We are facing same issue that the metrics are missing.  It persists across multiple managed Kubernetes services AKS, EKS, GKE and OKE so i assume this is not cloud vendor specific issue.

[2022-06-23 16:54] aramase commented on #936
The issue is mitigated with #964 that's included in [v1.2.0](https://github.com/kubernetes-sigs/secrets-store-csi-driver/releases/tag/v1.2.0) release. Please feel free to reopen if you have any questions or still have issues with the newer release.

/close

[2022-06-23 16:54] #936 closed

[2022-06-27 19:56] absmith82 opened #981 "Synced Secrets don't refresh when changed in AWS Secrets Manager"
Not sure if this is an issue for this driver, or for the AWS provider so let me know if I need to close this issue for one in AWS.

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Created a SPC and was able to sync AWS secrets to K8s secrets.

Changed a secret in AWS Secrets Manager.

Restarted deployment.

Secret kept the old value rather than

[2022-06-28 21:28] aramase commented on #981
@absmith82 Thanks for opening the issue.

This behavior is documented as a known limitation: https://secrets-store-csi-driver.sigs.k8s.io/known-limitations.html#how-to-fetch-the-latest-content-with-release-v0014-and-earlier-or-without-auto-rotation-feature-enabled. If you're manually deleting the deployment to get the latest secrets, you'll need to delete the k8s secret too with the deployment.

T

[2022-06-28 22:25] absmith82 commented on #981
Thanks, I misunderstood what this feature did.  I thought it would enable auto-rotation at the provider level and would change the secrets automatically. Not just sync the changes.

Do you know when this feature will be out of Alpha, documentation says "Feature State: Secrets Store CSI Driver v0.0.15 [alpha]"

I would really like to use the feature but need to know that it is stable first.

[2022-06-28 22:31] aramase commented on #981
The feature is well tested, been available for more than a year now and considered stable for production use. It's marked alpha as we're planning to move to kubernetes CSI driver [requires republish](https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/585) for rotation instead of implementing it in the driver here.

[2022-06-28 22:34] absmith82 commented on #981
Thank you!!

[2022-06-28 22:34] #981 closed

[2022-06-29 19:52] aramase commented on #551
cc @simonmarty

[2022-06-29 20:26] aramase commented on #909
Closing with https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/909#issuecomment-1078726821

/close

[2022-06-29 20:26] #909 closed

[2022-06-29 20:29] aramase commented on #865
Thank you for opening the issue!

We discussed this in the community call and the consensus is to not include additional yamls that aren't core for this project. If added, the config in helm chart would need to be tested and maintained up-to date with changes in service monitor which is out of the scope for the maintainers. I'm going to close this issue now but please feel free to open a new one i

[2022-06-29 20:29] #865 closed

[2022-07-01 12:16] tgip-work opened #983 "CSI Driver image v1.2.0 contains critical and high rated CVE's (vulnerabilities)"
Hi,

I just scanned the most current docker image version `k8s.gcr.io/csi-secrets-store/driver:v1.2.0` with trivy and grype and both report several critical and high rated vulnerabilities.

**Trivy**

[code]

**Grype**

Note: I removed all findings rated as Negligible, low and medium

[code]

[2022-07-01 16:58] #983 closed

[2022-07-02 06:37] iamhritik commented on #321
In my case secret is not created when the pod is created and even when creating POD getting this error: Error: secret "test-secret-aws" not found @aramase

---deployment file
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deploy-3
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    s

[2022-07-04 02:30] yeqing1206 opened #986 "csi driver pod in crashloop state on one new created AKS node"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Created a new AKS node, then pod secrets-store-csi-driver-bjk7g got into crashloop state on this new created pod

logs showed errors:
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x28 pc=0x140aa05]
goroutine 28 [runnin

[2022-07-04 08:18] tgip-work commented on #983
Hi @aramase,
thanks for your quick reply.
Do you see a way to provide faster security updates for an existing version without changed functionality? This could shorten the time to fix the potential security risk instead of waiting for a new feature release.

[2022-07-04 09:30] ilyatrub opened #987 "Secret is not created"
**What steps did you take and what happened:**
I installed Vault and secret-store-csi-driver with Helm charts (managed by ArgoCD) in "vault" namespace (`syncSecret.enabled=true`). In Vault I've done all preparations described in https://learn.hashicorp.com/tutorials/vault/kubernetes-secret-store-driver?in=vault/kubernetes. In "applications" namespace I created a ServiceAccount for application, Sec

[2022-07-04 11:18] ilyatrub commented on #987
Sorry, my bad, I found a spelling mistake. This can be closed.

[2022-07-04 11:18] #987 closed

[2022-07-04 13:07] vivuu1989 opened #988 "Secret creation making helm upgrade failure"
We configured csi driver in our cluster for secret management and used below secret providerclass template to automatically assign secrets to the deployments env variable. The above setup is working fine.

But 2 things where i have issue. Whenever new changes done to the secret, say if added a new secret to the yaml and keyvault, the next release will fail with helm upgrade command, stating speifi

[2022-07-05 05:38] Rahamatullasheik opened #989 "mounter.SetUpAt failed to get CSI client: driver name secrets-store.csi.k8s.io not found in the list of registered CSI drivers + Azure Keyvalut"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
am trying to setup local on of my project, facing this issue. as we are getting secrets from AKV.

Install secrets-store-csi-driver helm chart with 1.1.2 version
install csi-secrets-store-provider-aks helm chart with 0.0.2 version
![image](https://user-images.githubusercontent.com/73228548/17725648

[2022-07-05 16:50] aramase commented on #983
@tgip-work We will cut patch releases for existing release that do not depend on big features to be merged. The cadence for that release can be every month. IMO we can't cut releases more frequently to address base image CVEs.

[2022-07-05 16:54] aramase commented on #986
@yeqing1206 That error indicates, the driver is unable to communicate with the `kube-apisever`. If you're using the AKS add-on, I would recommend opening an issue [here](https://github.com/Azure/AKS). If not using the managed add-on, check connectivity to the kube-apiserver from the node and also try to deploy the driver in `kube-system` namespace.

[2022-07-05 17:25] aramase commented on #988
The steps for this are documented as a known limitation: https://secrets-store-csi-driver.sigs.k8s.io/known-limitations.html#how-to-fetch-the-latest-content-with-release-v0014-and-earlier-or-without-auto-rotation-feature-enabled. You can enable the secret autorotation and restart the deployment after the kubernetes secret has been updated to include the new secret.

There is no recommended way. It

[2022-07-05 20:24] nilekhc commented on #529
/remove-lifecycle stale

[2022-07-05 20:24] nilekhc commented on #432
/remove-lifecycle stale

[2022-07-06 15:37] vivuu1989 commented on #988
@aramase , not clear what exactly need to be performed.
I used below command  while installing the CSI driver in the kubernetes cluster.
helm install --set secrets-store-csi-driver.syncSecret.enabled=true kv-csi csi-secrets-store-provider-azure/csi-secrets-store-provider-azure -n kube-system.

so each time when we update the secret in keystore? helm upgrade will fail? can you try to explain me her

[2022-07-07 04:06] leelakrishnachava commented on #298
We are also looking for a solution to this issue. especially agreeing with @jemag

[2022-07-07 16:22] aramase commented on #988
@vivuu1989 I think we're talking about the same thing. If you want the new secret to be updated in the Kubernetes secret, (1) you can enable auto rotation, wait for the Kubernetes secret to be updated and then do a rolling update of your deployment or (2) delete the Kubernetes secret created by the CSI driver prior to helm upgrade, so the new Kubernetes secret will be created that includes `MyAPPA

[2022-07-08 13:24] sambhavdtu opened #992 "Question: Why do we have keep-crds-upgrade-hook.yaml file ?"
My understanding is that helm never delete CRD resources. Why was there a need for adding helm.sh/resource-policy keep on the CRDs.
https://github.com/helm/community/pull/138/files

[2022-07-08 16:55] nilekhc commented on #992
Hey @sambhavdtu Thanks for opening issue. This was mainly to move from helm 2 to helm 3. Helm 2 manages CRD lifecycle and deletes them after helm uninstall. keep-crds.yaml is to prevent that.

[2022-07-08 17:08] nilekhc commented on #992
The driver chart already has crd hook for this very purpose. So if you try to install or upgrade, hooks will make sure latest CRDs from `crd` directory gets applied.

[2022-07-08 17:16] sambhavdtu commented on #992
Thanks @nilekhc for confirming that. Just want to point it out that in future when we fully migrate from v1alpha1 to v1, we would need to think for some other approach for CRD upgradation as it is not possible to remove a version from CRD definition once it is registered through kubectl .
https://kubernetesquestions.com/questions/59452368

[2022-07-09 01:27] #992 closed

[2022-07-11 16:00] aramase commented on #345
/remove-lifecycle stale

[2022-07-13 08:20] sleccese commented on #947
*bump* has anyone a suggestion or are we doing something wrong?

[2022-07-18 21:13] sambhavdtu opened #1003 "Error while dialing dial unix /etc/kubernetes/secrets-store-csi-providers/azure.sock"
**What steps did you take and what happened:**
I see the following errors in logs of csi-secrets-store pod

`E0718 20:45:10.185935       1 nodeserver.go:235] "failed to mount secrets store object content" err="rpc error: code = Canceled desc = latest balancer error: connection error: desc = \"transport: Error while dialing dial unix /etc/kubernetes/secrets-store-csi-providers/azure.sock: connect:

[2022-07-19 17:57] nilekhc commented on #1003
Hello @sambhavdtu, Were you trying to upgrade from some previous version? Could you share yaml output for both driver and provider pods?

[2022-07-19 18:18] sambhavdtu commented on #1003
Hi Nilekh,

These are few points I would like to add based on some investigation I did today.
1. I have updated the socket path where CSI provider listens to connections from clients from /etc/kubernetes/secrets-store-csi-providers to /var/run/secrets-store-csi-providers.
2. I have added provider-volume and additional-provider-volume-path in CSI driver daemon set yaml

"--provider-volume=/var/run/

[2022-07-19 20:39] nilekhc commented on #1003
@sambhavdtu Correct. Driver initializes the provider client at the start and maintain that connection. We are retiring `/etc` path and probably deprecate `--additional-provider-paths` in future. For now I would recommend restarting driver pod.

[2022-07-20 11:35] sambhavdtu commented on #1003
Hi @nilekhc , Thanks. Restarting the driver pod indeed mitigates the issue. But, there seem to be no safe way for upgrading the provider volume path currently. There are always chances of breaking live clusters.
Can we expect any solution or safe practice for this ?

[2022-07-20 16:05] aramase commented on #878
/remove-lifecycle stale

[2022-07-20 16:27] aramase commented on #1003
Can we expect any solution or safe practice for this ?

@sambhavdtu As Nilekh mentioned, this change is a backward compatible way to move from using `/etc/` to `/var/run` for the provider sockets. Instead of forcing it in a single release, we're allowing providers to make the changes and be ready for the move. In the next release or the release after, we will completely remove `/etc` from the driv

[2022-07-20 19:06] sambhavdtu commented on #1003
Thanks @aramase.

[2022-07-20 19:06] #1003 closed

[2022-07-21 10:06] xUnholy commented on #821
Can we re-open this issue as it's still present.

[2022-07-22 21:11] #25 closed

[2022-07-23 19:13] dewolfs opened #1008 "Pod with CSI volume does not mount when using Azure RBAC permission model on Azure Key Vault"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

When I deploy the secretProviderClass and deployment below in combination with an Azure Key Vault permission model "**Vault access policy**", everything works fine.  The user-assigned identity of the AKS cluster is assigned All Secret permissions on the Key Vault resource level.

When I deploy the

[2022-07-23 19:26] srinath-panda opened #1009 "cannot sync secret with ca.crt from vault csi driver"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
CA.crt, tls.key and tls.crt are stored in vault as KV.
When trying to use vault CSI driver to sync it as a kubernetes.io/tls secret, ca.crt could not  synced to cluster
Getting ` err: key 'ca.crt' is not supported. Only 'tls.key' and 'tls.crt' are supported]`
**What did you expect to happen:**

Cre

[2022-07-25 16:36] aramase commented on #942
/remove-lifecycle stale

[2022-07-25 16:37] aramase commented on #1008
Hello 👋🏻  Thanks for reporting the issue. As this issue is specific to Azure Key Vault provider, I would recommend opening an issue [here](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues).

I'll close this one and let you open an issue there for further questions. Please feel free to reopen if you have any questions about the driver.

/close

[2022-07-25 16:38] #1008 closed

[2022-07-26 12:16] GiuseppeChiesa-TomTom opened #1010 "CSI Driver image v1.2.2 contains critical CVE's (vulnerabilities)"
**What steps did you take and what happened:**

As part of our gate for accepting container images we have Trivy scan. This scan is reporting CRITICAL vulnerabilities on v1.2.2 images

[code]

**What did you expect to happen:**

Security scan report no CRITICAL vulnerabilities.

**Environment:**

- Secrets Store CSI Driver version: (use the image tag): v1.2.2
- Kubernetes version: (use `kubectl ve

[2022-07-26 21:06] aramase commented on #1010
We have image scan as part of our PRs and periodic (https://testgrid.k8s.io/sig-auth-secrets-store-csi-driver-periodic#secrets-store-csi-driver-image-scan). The CVEs with fixed versions are patched in main branch and will be available as part of next minor/patch release. We just cut release `v1.2.2`, so the next patch release will in a couple of weeks that include fix for any CVEs that come up. We

[2022-07-26 21:06] #1010 closed

[2022-07-26 21:28] aramase opened #1012 "Use `kubekins-e2e` master image after moving to go1.19"
ref: https://github.com/kubernetes/test-infra/pull/26924

/kind cleanup

[2022-07-26 21:28] aramase commented on #1012
cc @tam7t

[2022-07-30 04:16] r0bj commented on #298
I think for some use cases described in the comments External Secrets Operator (https://external-secrets.io) could be a reasonable alternative.

[2022-07-31 21:58] eddiehoffman commented on #801
/remove-lifecycle stale

[2022-08-01 05:22] srinath-panda commented on #947
@sleccese  I faced the same issue.  all i did was to remove the csi driver. and vault csi driver completely and re installed. the issue dint occur.
Also before that make sure ur k8s auth is configured correctly
follow the step

1. create a troubleshoot pod with the same svc account that has access to vault
2. exec into the pod and execuet the below commands
`
export KUBE_TOKEN=$(cat /var/run/secre

[2022-08-01 16:54] nilekhc commented on #677
/remove-lifecycle stale

[2022-08-04 08:27] sinhaaks commented on #36
Hi @DonMartin76 ,
Can I work on this feature ?

[2022-08-04 12:53] pentago opened #1017 "/var/lib/kubelet/pods is mounted on /var/lib/kubelet but it is not a shared mount"
Just installed the Helm chart on my local `k3d` cluster on a Mac and noticed this warning that keeps the `secrets-store` pod in `CreateContainerError` state.

[code]

Any suggestions on how to resolve this or is it possible at all on local clusters?
Thanks in advance!

[2022-08-04 15:52] nilekhc commented on #36
Hi @sinhaaks Thanks for your interest. Could you write a proposal for this implementation? We can discuss it in our [next community call](https://docs.google.com/document/d/1q74nboAg0GSPcom3kLWCIoWg43Qg3mr306KNL58f2hg) on 8/18.

[2022-08-04 16:12] nilekhc commented on #1017
@pentago Could you get the `--root-dir` kubelet is using on this cluster? You can go to any node and try `ps aux | grep kubelet`

Perhaps this is similar to https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/101. Could you try this?

[2022-08-04 17:29] pentago commented on #1017
I'm not getting anything useful:

[code]

I'm guessing the reason is local k3d/k3s cluster.
Anyone wth experience on those?

[2022-08-09 17:59] aramase commented on #1017
@pentago Have you tried asking at https://github.com/k3s-io/k3s?

[2022-08-11 07:35] GiuseppeChiesa-TomTom commented on #1010
Is it possible to have more clarification when a new release solving the vulnerabilities will be published?
The comment says mid-july but there is no activity, and the vulnerabilities are categorised as critical.

[2022-08-11 16:09] aramase commented on #1010
Most of the CVEs with fixed versions were patched in the mid-July release - https://github.com/kubernetes-sigs/secrets-store-csi-driver/releases/tag/v1.2.2. Newer CVEs will be patched in the next release this week. The release cadence for patch release is 2nd week of every month.

[2022-08-11 17:13] nilekhc commented on #938
/remove-lifecycle stale

[2022-08-15 11:50] masturd opened #1024 "add additionalPrinterColumns for secretproviderclasspodstatuses for better UX"
**Describe the solution you'd like**
add `additionalPrinterColumns` to `secretproviderclasspodstatuses` CRD for better monitoring of secret resolution

when we check if secret is sync successfully using kubectl, we found that when pods with 100 replicasets, we have no way of checking if all the secrets are synced successfully(since the metrics does not show which `secretproviderclasses` the failed

[2022-08-16 11:12] GiuseppeChiesa-TomTom opened #1025 "CSI Driver image v1.2.3 contains critical CVE's (vulnerabilities)"
**What steps did you take and what happened:**

As part of our gate for accepting container images we have Trivy scan. This scan is reporting CRITICAL vulnerabilities on v1.2.3 images

[code]

**What did you expect to happen:**

Security scan report no CRITICAL vulnerabilities.

**Environment:**

- Secrets Store CSI Driver version: (use the image tag): v1.2.3
- Kubernetes version: (use `kubectl ve

[2022-08-16 11:24] #1025 closed

[2022-08-16 13:10] GiuseppeChiesa-TomTom opened #1026 "CSI Driver image v1.2.3 contains critical CVE's (vulnerabilities)"
**What steps did you take and what happened:**

As part of our gate for accepting container images we have Trivy scan. This scan is reporting CRITICAL vulnerabilities on v1.2.3 images

[code]

**What did you expect to happen:**

Security scan report no CRITICAL vulnerabilities.

**Environment:**

- Secrets Store CSI Driver version: (use the image tag): v1.2.3
- Kubernetes version: (use `kubectl ve

[2022-08-16 16:13] aramase commented on #1026
We build the image as part of every scan and some of the packages showed in the CVE get the latest updates as part of the image build. If these CVEs show up in scan job, we will patch it in the main branch and they'll be part of next release.

We don't run scans against released versions because we don't actively patch a released version. CVE patches will be done in main branch and will only be pa

[2022-08-16 17:16] GiuseppeChiesa-TomTom commented on #1026
Thanks for the clear explanation.
But this does not help me understand how come the same vulnerabilities as `k8s.gcr.io/csi-secrets-store/driver:v1.2.2 ` are present also in `k8s.gcr.io/csi-secrets-store/driver:v1.2.3`, if 1.2.3 included the changes in your main branch.

[2022-08-16 17:22] aramase commented on #1026
That depends on what is the installed version of the package in the image. For instance, `bsdutils` is `2.36.1-8` in both `v1.2.2` and `v1.2.3`. Only now there is a fixed version for the CVE which is `2.36.1-8+deb11u1`. The same vulnerability will exist in different images based on what version was installed at the time of release. The vulnerabilities in the newer release will be a subset of vulne

[2022-08-19 10:49] rshiva777 opened #1027 "Add key and values on the SecretProviderClass directly"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

At present, i am able to mount the secrets using the csi-secret-store driver from vault.

There is a usecase where we need to add url field manually on secretproviderclass, only username and password need to be fetched from the vault

[code]

In the above yaml, i added an object which take user inpu

[2022-08-19 16:40] nilekhc commented on #1027
/duplicate #938

/close

[2022-08-19 16:40] #1027 closed

[2022-08-22 16:16] brettjacobson commented on #1026
We have this problem with [CVE-2012-2131](https://security-tracker.debian.org/tracker/CVE-2012-2131) which was supposedly resolved in bullseye 1.1.1, but the current [Dockerfile](https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/main/docker/BASEIMAGE) shows the images are built with  bullseye 1.1.0

Will this base image be updated and resolved soon?

[2022-08-22 16:20] aramase commented on #1026
That file is just a reference for the script, but the actual build uses `bullseye-v1.4.1`: https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/main/docker/Dockerfile#L15. As mentioned in this thread, CVE patches are done every month and will be part of minor or patch release. Older releases will not receive CVE patches.

/close

[2022-08-22 16:21] #1026 closed

[2022-08-22 16:51] aramase commented on #502
/remove-lifecycle stale

[2022-08-22 17:37] nilekhc commented on #527
/remove-lifecycle stale

[2022-08-22 21:24] aramase commented on #322
/remove-lifecycle stale

[2022-08-22 21:25] aramase commented on #989
Closing this due to inactivity. Please see https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/989#issuecomment-1175317025. Feel free to reopen if you have any questions.

/close

[2022-08-22 21:25] #989 closed

[2022-08-23 07:56] sleccese commented on #947
Hi @srinath-panda,
thanks for your suggestion.

The problem for us is at the moment is not to get secret over the csi driver per se. It is a problem when someone manually edit secrets or a service provides a default secrets file which should be overriden by the csi driver.

But I think I am close to understand why it cannot rotate the secret and throughs the above mentioned error message.
As of so

[2022-08-24 18:30] susanshi opened #1035 "Leverage secret store csi driver in a new CRD"
**Describe the solution you'd like**
Hi,
I would like to understand how to leverage the functionality of the secret store csi driver using my own CRD. I would like customer to specify information like keyvault location/ clientId/ object name in a new CRD instead of the SecretProviderClass. Could I then create a secret provider class internally, is that recommended?

For context:
I m working on a o

[2022-08-25 23:15] gobins commented on #298
Although `External Secrets Operator`  can solve this particular problem, would be nice if we could avoid having two controllers solving similar problems.

[2022-08-30 00:55] aramase commented on #576
/remove-lifecycle stale

[2022-08-30 07:06] vivuu1989 commented on #988
Thanks for the detailed explanation.  So for the second approach, "delete the Kubernetes secret created by the CSI driver prior to helm upgrade, so the new Kubernetes secret will be created that includes MyAPPA_SECRET4_NAME4",

can I do dynamically identify the existing secret and delete it without causing any down time.

[2022-09-06 16:36] aramase commented on #446
/remove-lifecycle stale

[2022-09-06 18:29] aramase commented on #1035
Hello 👋🏻

The Secrets Store CSI Driver needs `SecretProviderClass` to be able to call the provider, get the contents and mount the secrets. "who" creates the `SecretProviderClass` is up to the workload creator which in this case would be your client in Ratify. The CRD you would create for ratify would be the only CRD that users might need to configure and based on all the info, you can then create

[2022-09-06 23:17] ryphon commented on #913
Related, and solves our issue specifically, as we've moved to ESO over CSI mounts: https://github.com/external-secrets/external-secrets/pull/1338

Similar ideology though.

[2022-09-08 19:25] miles-w-3 opened #1046 "Move fullNameOverride to a global value and address truncation issues"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
Currently, `.Values.fullnameOverride` is used by this chart when generating many of the names in the helper templates. However, downstream charts lik the [azure csi secrets driver](https://github.com/Azure/secrets-store-csi-driver-provider-azure) also use the same value inside of some of its helpers.

[2022-09-08 19:28] miles-w-3 commented on #1046
Corresponding issue for azure is at https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/970

[2022-09-12 11:07] ramanagali opened #1048 "IAM roles using OIDC for service accounts (IRSA) for vagrant cluster"
i have vagrant kubernetes cluster (provisioned using kubeadm)…
would like use aws secret manager from pod as volume mount.
Apart from CSI driver, AWS provider configuration etc all good…
which approach is recommended for IAM roles via OIDC for service accounts for my vagrant k8s cluster ?
thank you in advance

[2022-09-12 14:54] #1048 closed

[2022-09-12 16:42] aramase commented on #899
/remove-lifecycle stale

[2022-09-13 21:20] aramase commented on #895
/remove-lifecycle stale

[2022-09-14 06:48] sleccese commented on #947
I think we got a hang of it now and I think we used it not correctly as implied in my last comment. @fgn-itsupport you can close the issue.

The 'solution' for everyone else:

* Do not deploy secrets with your services when you want to manage them over SecretProviderClasses.
* Do not modify secrets manually in the cluster!
* Check that Secrets that should be managed by the CSI-Driver has the label

[2022-09-14 07:52] #947 closed

[2022-09-14 09:55] nilekhc commented on #906
/remove-lifecycle stale

[2022-09-15 19:58] dindurthy opened #1051 "Apparent race condition causes pods to mount secret volumes with no object content"
**What steps did you take and what happened:**
Apparent race condition causes pods to mount secret volumes with no object content

**What did you expect to happen:**
We expect a pod to start only if a secret volume mounts successfully _with the object content_

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
Here's a stab at picking out t

[2022-09-15 19:59] dindurthy commented on #1051
Happy to try upgrading if that might help, but I didn't see any issues suggesting it would.

[2022-09-16 12:08] dyg070115 opened #1052 "how to use this in statefulset"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
we use this in statefulset , include volumeClaimTemplates  and volumes
`
.....................
volumes:
        - name: nsfa-k8s-nacos
          secret:
            defaultMode: 420
            secretName: nsfa-k8s-nacos
        - csi:
            driver: secrets-store.csi.k8s.io
            readOn

[2022-09-20 06:34] nilekhc commented on #1052
Hi, @dyg070115 thanks for opening the issue. Could you provide more details for this use case?

Could you share the logs of the driver pod and SecretProviderClass yaml? Which provider are you using?

[2022-09-20 06:43] nilekhc commented on #723
/remove-lifecycle stale

[2022-09-20 06:44] nilekhc commented on #885
/remove-lifecycle stale

[2022-09-20 06:44] nilekhc commented on #852
/remove-lifecycle stale

[2022-09-20 12:38] froblesmartin commented on #1009
Same here.

In my case, I need to load the `ca.crt` in the secret to be able to use ingress Nginx [Client Certificate Authentication](https://kubernetes.github.io/ingress-nginx/examples/auth/client-certs/).

[2022-09-20 14:23] fjallot commented on #585
@aramase any news on this feature ? Still planned for `v1.3` ?

[2022-09-20 16:23] aramase commented on #585
@fjallot The driver already supports rotation. Could you tell me if you have a specific reason for wanting `RequiresRepublish` to do rotation?

[2022-09-21 10:15] abhishek181 opened #1055 "More verbose documentation with examples for enabling syncSecret feature"
**Describe the solution you'd like**
By default the syncSecret feature is disabled. I understand that option information is provided in the below documentations:
 - https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/221ef44211750661b2407e608ff707517d7a940a/charts/secrets-store-csi-driver/values.yaml#L187-L188
 - https://secrets-store-csi-driver.sigs.k8s.io/getting-started/installatio

[2022-09-21 17:13] aramase commented on #1055
@abhishek181 The optional values table is available in the docs - https://secrets-store-csi-driver.sigs.k8s.io/getting-started/installation.html#optional-values

[2022-09-26 21:37] aramase commented on #1055
Closing with https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/1055#issuecomment-1253997763.

Please feel free to reopen if you have any other issues.

/close

[2022-09-26 21:38] #1055 closed

[2022-09-27 17:43] aramase commented on #940
/remove-lifecycle stale

[2022-09-27 17:43] aramase commented on #860
/remove-lifecycle stale

[2022-09-27 17:43] aramase commented on #932
/remove-lifecycle stale

[2022-09-27 17:44] aramase commented on #696
/remove-lifecycle stale

[2022-09-27 17:44] aramase commented on #353
/close

[2022-09-27 17:44] #353 closed

[2022-09-27 17:44] aramase commented on #271
/remove-lifecycle stale

[2022-09-27 17:44] aramase commented on #858
/remove-lifecycle stale

[2022-09-27 20:42] aramase commented on #551
/remove-lifecycle stale

[2022-09-29 16:19] #528 closed

[2022-09-29 18:06] rajashekhargundeti opened #1056 "Updation of K8s secrets"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Application is deployed with one pod and one SPC with two secrets to be fetched from a vault. Secrets are mounted onto pod volume. K8s secret is created with two data elements.
Next, the SPC is updated to fetch one additional secret(in both parameters and secretObjects sections), and application is

[2022-09-29 18:58] aramase commented on #1056
@rajashekhargundeti This is already documented here: https://secrets-store-csi-driver.sigs.k8s.io/known-limitations.html#mounted-content-and-kubernetes-secret-not-updated. If you're not using auto rotation, you'll need to delete the Kubernetes secret for it receive the updated secrets in `SecretProviderClass`.

[2022-10-01 23:52] #257 closed

[2022-10-03 17:43] aramase commented on #750
/remove-lifecycle stale

[2022-10-03 20:45] aramase commented on #529
/remove-lifecycle stale

[2022-10-04 00:10] jroggeman opened #1057 "SPC with synced K8S Secret populating the secret with an "empty" cert"
**What steps did you take and what happened:**
We have a fairly standard app consisting of a Deployment, Service, SPC w/ synced Secrets, and Ingress. The SPC is mounted on the deployment pods and is syncing secrets that the ingress references as TLS certs. However, the synced secrets' data sections have only empty values:
[code]

**What did you expect to happen:**
The referenced certificate to be

[2022-10-06 11:42] isarns commented on #821
Did someone found a solution?

[2022-10-06 17:55] nilekhc commented on #1057
/assign

[2022-10-06 19:06] jroggeman commented on #1057
Context for anyone that finds this - there was a bug in CSI driver such that if you tried to sync a PFX-formatted certificate to a K8S secret via `secretObjects` in your `SecretProviderClass`, it would sync an empty secret instead. This is being fixed in #1058. We had hit it only because we accidentally had the wrong format for the certificates we were syncing to use as TLS certs for `nginx-ingres

[2022-10-10 20:43] yashgangwar-genesys commented on #821
@aramase I do not see any-secret-driver metrics in AKS. We are running the latest helm chart version of v1.3.0 and the k8 version in AKS is v1.23.x. See the same metrics as posted by @xUnholy

[2022-10-10 21:18] #813 closed

[2022-10-11 13:11] anubisg1 commented on #937
i fully agree, this is a big limitation which isn't either documented .. i hope this can be handled

[2022-10-12 16:41] aramase commented on #345
/remove-lifecycle stale

[2022-10-13 17:27] #1057 closed

[2022-10-13 17:28] aramase commented on #1056
Closing this with https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/1056#issuecomment-1262691380.

Please feel free to reopen if you have more questions.

/close

[2022-10-13 17:28] #1056 closed

[2022-10-13 17:29] #1035 closed

[2022-10-13 17:30] aramase commented on #1012
Closed with https://github.com/kubernetes/test-infra/pull/27470

/close

[2022-10-13 17:30] #1012 closed

[2022-10-13 17:31] aramase commented on #986
/close

[2022-10-13 17:31] #986 closed

[2022-10-17 14:55] jcogilvie opened #1073 "Emit `level` field in structured (json) logging"
**Describe the solution you'd like**
Structured (i.e. json) logging should emit a `level` field (or equivalent) for use in indexing/parsing.  Right now, the logs seem to emit the `v` field but no `level`, leaving it hard to distinguish what's an info vs. an error log in json.

Slack discussion indicates that potentially using something like `vmware-tanzu/pinniped` `plog` could help.

**Anything el

[2022-10-17 17:46] nilekhc commented on #1073
Ref: https://kubernetes.slack.com/archives/C013PUP2WRK/p1664505589573909

[2022-10-18 16:56] aramase commented on #878
/remove-lifecycle stale

[2022-10-18 18:45] aramase opened #1075 "update to `v1.26.x` in `driver-crds` image"
`pull-secrets-store-csi-driver-image-scan` failing in `driver-crds` because of CVEs in the `kubectl` binary. When new version of `kubectl is available, we can update and close this issue.

ref: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_secrets-store-csi-driver/1069/pull-secrets-store-csi-driver-image-scan/1582436018705928192

[code]

/kind failing-test

[2022-10-19 15:57] qinxx108 opened #1076 "Question regarding to secret-auto-rotation feature"
In the document:https://secrets-store-csi-driver.sigs.k8s.io/topics/secret-auto-rotation.html
This secret-auto-rotation feature is marked as alpha feature. I wonder how far this feature is production ready

Thanks
Yijie

[2022-10-19 17:14] Leweyy opened #1077 "Unable to get running on GKE"
**What steps did you take and what happened:**
Currently unable to get the CSI driver running on GKE. Installed 1.2.4 using kustomize files, noticed the pods were in a crashloopbackoff, checked the node-driver-registrar container and is seems its unable to connect to unix:///csi/csi.sock

**What did you expect to happen:**
Driver to run and liveliness probe to pass

**Anything else you would like

[2022-10-19 18:14] aramase commented on #1077
Could you share the driver logs? You can get that by running `kubectl logs <pod name> -c secrets-store`

cc @tam7t

[2022-10-19 19:48] aramase commented on #1077
@Leweyy How are you deploying the driver? The install instructions are here: https://secrets-store-csi-driver.sigs.k8s.io/getting-started/installation.html

[2022-10-20 10:36] neottil opened #1078 "Create k8s secret with only some key of original secret"
I've secret AWS like this
[code]
and I would like to create k8s secret with the "a" and "b" key/value pairs.

At the moment I've the possibility to map all AWS secret pairs in a kubernetes secret key with this configuration:

[code]
In this way k8s-secret is like
[code]
Like jmesPath for mapping aws secret pairs in files, I would like to have chance to create kubernetes secret by mapping pairs tha

[2022-10-20 14:43] Leweyy commented on #1077
@aramase Apologies for wasting your time, looks like it was indeed an issue with the deployment, some resources were being left out

[2022-10-20 14:43] Leweyy commented on #1077
/close

[2022-10-20 14:43] #1077 closed

[2022-10-20 16:52] aramase commented on #585
/remove-lifecycle rotten

[2022-10-20 22:09] #265 closed

[2022-10-21 07:18] #1078 closed

[2022-10-21 13:25] JoelHaslam commented on #432
/remove-lifecycle stale

[2022-10-23 17:33] #948 closed

[2022-10-23 23:37] peter-glotfelty opened #1079 "Potential Deadlock when k8s evicts pods using CSI"
**What steps did you take and what happened:**

We seem to have deadlocked a node/several pods because of the secrets-store-csi-driver. To forcibly re-execute a MutatingAdmissionController, we restarted a large % of deployments + ds in our cluster. During the shuffle things got moved around, and we ended up in this situation:

- The new csi-driver pod wanted to come up, but couldn't because the no

[2022-10-24 22:19] gobins commented on #858
Hi Folks, is there any update to the file ownership. Happy to contribute to the code if a decision was made on this already.

[2022-10-25 09:31] joshwright10 opened #1082 "Change behaviour of 404 SecretNotFound to avoid failures"
**Describe the solution you'd like**
I am using Key Vault Secrets to store `AppSettings.json` data, and use CSI to retrieve the configuration data from the Azure Vault, which then maps to Env variables in the Deployment.
I now have a setting in AppSettings.json, which is currently null, but may be configured later. As I can't seem to add a null value into Key Vault, I cannot create the KV secret.

[2022-10-25 12:03] haugom opened #1083 "Resource requests and limits for helm CRD hooks"
**Specify resource requests and limits for crd hooks in helm chart**

I would like to be able to specify resource limits and requests for the jobs that are created in the helm hooks for upgrade and keep crd jobs.

When a person uses the helm chart to install the secrets-store-csi-driver, the jobs (keep-crd and upgrade-crd) that are created does not specify any requests for the pods.

In a namespac

[2022-10-26 09:09] stevehipwell opened #1084 "Disable custom Helm CRD logic"
**Describe the solution you'd like**
I'd like to be able to disable the charts custom CRD logic so I can manage the CRDs external to the chart. I'd like to be able to use the following command to acheive this.

[code]

**Anything else you would like to add:**
I'll open a PR to add this functionality.

**Environment:**

- Secrets Store CSI Driver version: (use the image tag): n/a
- Kubernetes versi

[2022-10-28 16:50] aramase commented on #1082
@joshwright10 Even if the secret is optional, that essentially results in 1 API call to the external secrets store to determine if it exists and also it will not be a deterministic behavior. Please feel free to add your thoughts [here](https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/645) as this needs to be supported at the provider level.

Closing this issue as it's a prov

[2022-10-28 16:50] #1082 closed

[2022-10-28 16:52] aramase commented on #1076
The feature is marked alpha because we plan to replace the rotation implementation with [RequiresRepublish](https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/585). This shouldn't change the behavior much for how to use rotation. The rotation feature has existed for close to 2 years now and is production ready.

[2022-10-28 16:52] #1076 closed

[2022-10-28 16:53] aramase commented on #1083
@haugom would you be interested in opening a PR to update the helm charts in [manifest_staging/charts](https://github.com/kubernetes-sigs/secrets-store-csi-driver/tree/main/manifest_staging/charts/secrets-store-csi-driver) dir?

[2022-10-28 16:53] aramase commented on #1083
/help wanted

[2022-10-28 16:54] aramase commented on #1083
/help

[2022-10-28 16:55] aramase commented on #1084
/assign @stevehipwell

[2022-10-28 16:56] aramase commented on #1017
Closing this due to inactivity. Please feel free to reopen if you have any questions.

/close

[2022-10-28 16:56] #1017 closed

[2022-10-29 23:08] eddiehoffman commented on #801
/remove-lifecycle stale

[2022-10-31 07:19] aliaksei-babuk opened #1087 "Secret provider takes the Disabled secret value from KV"
**What steps did you take and what happened:**
For adding auto rotation we have added the next configuration row in to helm configuration:
  parameters:
    enableSecretRotation: "true"

**What did you expect to happen:**
We expect that the fresh one secret value will be automatically added to the secret

**Anything else you would like to add:**
We have test secret in Azure KeyVault. With next val

[2022-10-31 07:26] haugom commented on #1083
Hi

Yes. I will be happy to help.

[2022-10-31 14:17] haugom opened #1088 "node-driver-registrar v2.6.0 fails to create /var/lib/kubelet/plugins/csi-secrets-store/registration"
**What steps did you take and what happened:**

1. I used the helm chart [secrets-store-csi-driver](https://github.com/kubernetes-sigs/secrets-store-csi-driver/tree/main/charts/secrets-store-csi-driver) to install the secrets-store-csi-driver with the [v2.6.0](https://github.com/kubernetes-csi/node-driver-registrar/releases/tag/v2.6.0) version of the node-driver-registrar
2. the daemonset crashes

[2022-10-31 17:12] aramase commented on #1088
@haugom We have not updated to `v2.6.0` for node-driver-registrar yet. We will test and update when ready. I would recommend using only the manifests and images tagged in this repo as they're tested. For any other versions used, there is no support.

/close

[2022-10-31 17:12] #1088 closed

[2022-10-31 17:14] aramase commented on #1087
The values fetched from secrets store (Azure Key Vault) are done by the provider and the driver has no control over this. I'll close this issue as it's not a driver issue. Please open an issue in the provider repo.

/close

[2022-10-31 17:14] #1087 closed

[2022-11-04 20:04] JRemitz opened #1093 "Bug: annotations inserted into DaemonSet labels"
@nilekhc - It appears that with #1043 a series of labels were added.  The `labels` block appears to be incorrectly injected into the `annotations` block.

https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/b3fef62ee10a71e70884d6d904dbd6f9bee0d1cb/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml#L22

[2022-11-04 20:39] nilekhc commented on #1093
@JRemitz Thanks for reporting this. Could you please share an example?

[2022-11-04 21:03] nilekhc commented on #1093
Ah, see it now. It should be like following:

![image](https://user-images.githubusercontent.com/1626598/200074230-892b3a33-6fe2-4848-9177-8ad0b9f9f999.png)

It's an easy fix. Would you like to open a PR?

[2022-11-04 21:03] nilekhc commented on #1093
/good-first-issue
/help

[2022-11-04 22:54] lakshkeswani commented on #1093
@nilekhc I am interested in working on this issue, It will be great if assign this to me.

[2022-11-06 00:51] #913 closed

[2022-11-07 02:57] laphets commented on #1093
/assign

[2022-11-07 23:54] #1093 closed

[2022-11-10 09:57] patstrom commented on #529
What is the status of this issue? Would really love this feature.

[2022-11-15 17:12] #1084 closed

[2022-11-15 18:00] #1083 closed

[2022-11-16 11:07] pratiyush05 opened #1101 "Vault provider not found , inter cluster connection ."
Versions in use-
CSI driver - 1.2.4
Vault provider - 1.2.0

Description
Trying to fetch vault provider from CSI driver present on different kubernetes cluster .Clusters are connected by service mesh .
Vault + Vault-provider present in 'cluster-A' .
CSI-driver + SecretProviderClass + POD present in 'cluster-B' .
Vault is accessible from cluster-B .

Error obtained -
`FailedMount	MountVolume.SetUp f

[2022-11-17 10:44] pratiyush05 commented on #1101
Got answer here - https://github.com/hashicorp/vault-csi-provider/issues/187

[2022-11-17 10:44] #1101 closed

[2022-11-17 21:08] sarahhenkens commented on #1088
Ran into this same problem. With `v2.6.1` releases as well. I think its time to update the helm charts IMO

[2022-11-17 21:09] sarahhenkens commented on #1075
Manually updating the driver image causes the helm chart to break as well https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/1088

[2022-11-17 21:12] aramase commented on #1088
@sarahhenkens The helm charts work fine now with node-driver-registrar `v2.5.1`. We have not upgraded to the `v2.6.1` release and as mentioned in the thread above, we recommend only using the versions we have in the repo which are tested. There is a bug in `v2.6.0` and `v2.6.1` release which is being discussed here: https://github.com/kubernetes-csi/node-driver-registrar/issues/244

[2022-11-17 21:14] aramase commented on #1075
@sarahhenkens I believe you're referring to the `node-driver-registrar` image? This issue is for CVEs in the `kubectl` binary that's part of `v1.25.3` release in the `driver-crds` image that's used by helm chart.

[2022-11-21 17:43] aramase commented on #502
/remove-lifecycle stale

[2022-11-21 17:43] aramase commented on #527
/remove-lifecycle stale

[2022-11-21 17:44] aramase commented on #322
/remove-lifecycle stale

[2022-11-22 20:01] FirelightFlagboy opened #1103 "`SecretProviderClass` Correct create the `Secret` but the mounted volume is empty"
**What steps did you take and what happened:**

1. I've configure `vault-provider` like so

[code]

   `kube-cluster/helm/vault.yml` contain the following data:

[code]

    Then I config the `auth/kubernetes` entrypoint on `vault`

[code]

2. I've configure `secrets-store-csi-driver` using the `helm` chart

[code]

3. I've created a `SecretProviderClass` like so

[code]

4. I've configured a `Pod

[2022-11-25 07:53] Bowser1704 commented on #529
Is there any update on this issue?

[2022-11-28 17:18] aramase commented on #576
/remove-lifecycle stale

[2022-11-29 13:59] hprotzek opened #1105 "podAnnotations are rendered as Labels"
The `podAnnotations` are getting rendered under `labels:` instead of `annotations:`

https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/d8831fd50cf0ab316a87bb27c03a10798bbcf89b/charts/secrets-store-csi-driver/templates/secrets-store-csi-driver.yaml#L21

[2022-11-29 17:43] aramase commented on #1052
Closing due to inactivity. Please feel free to reopen if you have any questions or have the details Nilekh requested.

/close

[2022-11-29 17:43] #1052 closed